/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.cdnfonts.com/css/satoshi");

* {
  padding: 0;
  margin: 0;
  color: var(--black);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: var(--font-s);
}

html {
  font-family: "Satoshi", sans-serif;
  font-size: clamp(15px, 1.5vw, 1.25em);
  background-color: var(--white);
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

:root {
  --white: #fff;
  --off-white: #eae6f5;
  --primary: #4a0dda;
  --secondary: #d7caf7;
  --primary-3: #2e0492;
  --grey: rgba(228, 224, 229, 0.35);
  --grey-2: #e0e0e0;
  --grey-n: #f7f6f7;
  --black: #0b0220;
  --font-l: 1.6rem;
  --font-m: 1.2rem;
  --font-s: 0.9rem;
  --font-ss: 0.7rem;
  --font-xs: 0.5rem;
  --radius: 0.9rem;
  --radius-2: 1.25rem;
  --padding: 1rem;
  --padding-2: calc(var(--padding) * 2);
  --transition: all 0.5s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

h1 {
  font-size: var(--font-l);
}

h2 {
  font-size: var(--font-m);
  line-height: 1.3rem;
}

p {
  line-height: 1.3rem;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--off-white);
  padding-top: 2rem;
  padding-bottom: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.main-content {
  padding: 5rem;
  padding-top: 0;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
}

.section {
  margin-top: 4rem;
}

.cta {
  background-color: var(--primary);
  padding: var(--padding);
  padding-right: var(--padding-2);
  padding-left: var(--padding-2);
  border-radius: var(--radius);
  color: var(--off-white);
  cursor: pointer;
  height: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -o-transition: var(--transition);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  font-weight: bold;
}

.cta:hover {
  background-color: var(--primary-3);
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--off-white);
  position: fixed;
  top: 0;
  left: 0;
  padding: 5rem;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  z-index: 2;
}

.navbar .links {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  background-color: var(--secondary);
  height: 100%;
  height: 3.2rem;
  border-radius: 4rem;
  grid-gap: 2rem;
  gap: 2rem;
  padding-left: var(--padding-2);
  padding-right: var(--padding-2);
}
.navbar .links img {
  margin: 0;
  height: var(--font-l);
}

.navbar .links .navlink {
  -o-transition: var(--transition);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -ms-grid-row: 1;
  grid-row: 1;
}

.navbar .links .navlink:hover {
  color: var(--primary);
}

.navbar .links .cta {
  margin-left: 1rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  overflow: hidden;
  /* height: 32rem; */
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 4rem;
}

.hero .hero-image {
  /* width: 150%; */
  height: 44vw;
  right: 0;
  top: -4rem;
  position: relative;
}
.hero .hero-image-2 {
  display: none;
}
@media screen and (max-width: 900px) {
  .hero .hero-image {
    height: 34vw;
  }
}

.hero .hero-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8rem 1rem 1fr;
  grid-template-columns: 8rem 1fr;
  -ms-grid-rows: 1fr 1rem 3.2rem 1rem 3.2rem;
  grid-template-rows: 1fr 3.2rem 3.2rem;
  width: 25rem;
  grid-gap: 1rem;
  gap: 1rem;
  margin-left: 5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.hero .hero-grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.hero .hero-grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.hero .hero-grid > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.hero .hero-grid > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.hero .hero-grid > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.hero .hero-grid > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

@media screen and (max-width: 800px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0rem;
  }

  .hero .hero-image {
    display: none;
    top: 0rem;
  }
  .hero .hero-image-2 {
    display: block;
    width: 85%;
  }
  .hero .hero-grid {
    width: 55%;
    margin-right: 0;
    margin-left: 0;
  }
}
@media screen and (max-width: 600px) {
  .hero .hero-image-2 {
    display: block;
    position: relative;
    width: 100%;
    left: 1rem;
  }
  .hero .hero-grid {
    width: calc(100% - 10rem);
  }
}

@media screen and (max-width: 540px) {
  .hero .hero-grid {
    width: calc(100% - 4rem);
  }
}
@media screen and (max-width: 420px) {
  .hero .hero-grid {
    -ms-grid-columns: 33% 1rem 60%;
    grid-template-columns: 33% 60%;
  }
  .hero {
    overflow: visible;
  }
  .hero .hero-image-2 {
    width: 120%;
  }
}
.hero .hero-grid .hero-text {
  padding: var(--padding);
  border-radius: var(--radius-2);
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.hero .hero-grid .grid-item-2 {
  border-radius: var(--radius);
  padding: var(--padding);
  height: 100%;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
  -ms-grid-column: 1;
  grid-column: 1;
  font-size: var(--font-ss);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.hero .hero-grid .grid-item-2 h1 {
  font-size: 2.5rem;
}

.hero .hero-grid .grid-item-3 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
  width: 100%;
  margin: 0;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}
.hero .hero-grid .grid-item-3 span {
  padding: 0;
  background-color: transparent;
  color: var(--off-white);
  font-size: var(--font-s);
}
.hero .hero-grid .grid-item-3 img {
  display: none;
}
@media screen and (max-width: 387px) {
  .hero .hero-grid {
    -ms-grid-columns: 35% 1rem 58%;
    grid-template-columns: 35% 58%;
  }
  .hero .hero-grid .grid-item-2 {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: var(--font-s);
  }
  .hero .hero-grid .grid-item-3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / span 2;
    height: 100%;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .hero .hero-grid .grid-item-2 h1 {
    font-size: var(--font-l);
    margin-right: 5px;
  }
  .hero .hero-grid .grid-item-3 span {
    display: none;
  }
  .hero .hero-grid .grid-item-3 img {
    display: inline-block;
    height: 2.5rem;
  }
}

@media screen and (max-width: 345px) {
  .hero .hero-grid .grid-item-2 h1 {
    font-size: var(--font-m);
  }
}
@media screen and (max-width: 345px) {
  .hero .hero-grid .grid-item-2 {
    font-size: var(--font-ss);
  }
}

.hero .hero-grid span {
  background-color: var(--white);
}

.hero .hero-grid .clients {
  border-radius: var(--radius);
  background-color: var(--white);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (8)[2.2rem];
  grid-template-columns: repeat(2.2rem, 8);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: var(--padding);
  padding-right: var(--padding);
  overflow: hidden;
  scroll-behavior: smooth;
}

.hero .hero-grid .clients span {
  height: 2.2rem;
  width: 2.2rem;
  overflow: hidden;
  /* border: 0.2rem solid var(--grey-n);*/
  background-color: transparent;
  border-radius: 50%;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: 0;
  margin-right: 0.8rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero-grid .clients span:last-child {
  margin-right: 0;
}
.hero .hero-grid .clients span img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: static;
}

.hero .cta {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1rem;
}

.projects-container {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 60% 2rem 40%;
  grid-template-columns: 60% 40%;
  /* grid-template-rows: 27rem 27rem; */
  grid-gap: 2rem;
  gap: 2rem;
  -ms-grid-row-align: center;
      align-self: center;
}

/* @media screen and (min-width: 1600px) {
  .projects-container {
    justify-content: center;
    gap: 1rem;
    grid-template-columns: 30rem 30rem;
    grid-template-rows: 30rem 30rem;
  }
} */

@media screen and (max-width: 999px) {
  .projects-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 25rem 25rem; */
  }
}

.project {
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
  border-radius: var(--radius-2);
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 2rem;
}

.project .project-title {
  padding: 0.35rem;
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* justify-content: center; */
  border-radius: 4rem;
  position: relative;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  width: 2.8rem;
  height: 2.8rem;
  overflow: hidden;
}

.project .project-title .title {
  font-size: var(--font-ss);
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}
.projects-container div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  gap: 2rem;
}

.projects-container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.projects-container .project-3 {
  height: 27rem;
}
.projects-container .project-4 {
  height: 100%;
}
.projects-container .right {
  -ms-grid-rows: 27rem 1fr;
  grid-template-rows: 27rem 1fr;
  height: 64rem;
}
.projects-container .project-2 {
  height: 27rem;
}
.projects-container .project-1 {
  height: 35rem;
}

@media screen and (max-width: 800px) {
  .projects-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 80%;
    grid-template-columns: 80%;
  }

  .projects-container .project-1,
  .projects-container .project-2,
  .projects-container .project-3,
  .projects-container .project-4 {
    height: 30rem;
  }

  .projects-container .right {
    -ms-grid-rows: 30rem 30rem;
    grid-template-rows: 30rem 30rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media screen and (max-width: 600px) {
  .projects-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }

  .projects-container .project-1,
  .projects-container .project-2,
  .projects-container .project-3,
  .projects-container .project-4 {
    height: unset;
    aspect-ratio: 4/ 5;
  }

  .projects-container .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.project:hover .project-title {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
}

.project .project-title img {
  /* height: 2rem; */
  margin: 0;
  height: 2rem;
  /* width: 2.5rem; */
}

.project .project-title .title {
  font-weight: bold;
  margin-left: 0.5rem;
  white-space: nowrap;
  /* display: none; */
}

/* .project:hover .project-title .title{
  display: inline-block;
} */

.project .screenshot {
  /* height: 100%; */
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  -o-transition: var(--transition);
  transition: var(--transition);
  -webkit-transition: var(--transition);
}

@media screen and (max-width: 590px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }

  .main-content {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .navbar {
    padding: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
  }
}

.philosophies {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 30rem 2rem 15rem 2rem 10rem 2rem 10rem;
  grid-template-rows: 30rem 15rem 10rem 10rem;
  width: 100%;
  grid-gap: 2rem;
  gap: 2rem;
  margin-top: 1rem;
}

.philosophies > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.philosophies > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.philosophies > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.philosophies > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.philosophies > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.philosophies > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.philosophies > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.philosophies > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.philosophies .philosophy {
  background-color: var(--white);
  border-radius: var(--radius-2);
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--padding-2);
}

.philosophies .philosophy h2 {
  margin-bottom: 0.5rem;
}

.philosophies .philosophy:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.philosophies .philosophy:nth-child(1) .icon {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.philosophies .philosophy:nth-child(1) .icon .dt-mockup {
  height: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 6.384px 33.251px 0px rgba(0, 0, 0, 0.07),
    0px 21.443px 111.682px 0px rgba(0, 0, 0, 0.11),
    0px 96px 500px 0px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 6.384px 33.251px 0px rgba(0, 0, 0, 0.07),
    0px 21.443px 111.682px 0px rgba(0, 0, 0, 0.11),
    0px 96px 500px 0px rgba(0, 0, 0, 0.18);
}

.philosophies .philosophy:nth-child(1) .icon .m-mockup {
  -webkit-box-shadow: 0px -0.083px 4.538px 0px rgba(53, 16, 142, 0.06),
    0px -0.2px 10.906px 0px rgba(53, 16, 142, 0.08),
    0px -0.376px 20.535px 0px rgba(53, 16, 142, 0.1),
    0px -0.67px 36.632px 0px rgba(53, 16, 142, 0.13),
    0px -1.253px 68.515px 0px rgba(53, 16, 142, 0.15),
    0px -3px 164px 0px rgba(53, 16, 142, 0.21);
          box-shadow: 0px -0.083px 4.538px 0px rgba(53, 16, 142, 0.06),
    0px -0.2px 10.906px 0px rgba(53, 16, 142, 0.08),
    0px -0.376px 20.535px 0px rgba(53, 16, 142, 0.1),
    0px -0.67px 36.632px 0px rgba(53, 16, 142, 0.13),
    0px -1.253px 68.515px 0px rgba(53, 16, 142, 0.15),
    0px -3px 164px 0px rgba(53, 16, 142, 0.21);
  border-radius: 10px;
  height: 85%;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  right: 2rem;
}

.philosophies .philosophy:nth-child(1) .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}

.philosophies .philosophy:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.philosophies .philosophy:nth-child(2) .info {
  margin-top: 1rem;
}

/* .philosophies .philosophy:nth-child(3) .info {
  margin-left: 4rem;
} */

.puzzle-svg {
  height: 8rem;
}

.philosophies .philosophy:nth-child(5) .info {
  margin-left: 1rem;
}

.philosophies .philosophy:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / span 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.philosophies .philosophy:nth-child(4) .icon {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.philosophies .philosophy:nth-child(4) .icon img {
  height: 80%;
}

@media screen and (max-width: 1100px) {
  .philosophies {
    -ms-grid-rows: 50vmin 2rem 35vmin 2rem 25vmin 2rem 25vmin;
    grid-template-rows: 50vmin 35vmin 25vmin 25vmin;
  }

  .philosophies .philosophy:nth-child(2) svg {
    height: 25vmin;
  }

  .philosophies .philosophy:nth-child(3) svg {
    height: 20vmin;
  }
  .philosophies .philosophy:nth-child(1) .info {
    width: 50%;
  }

  .philosophies .philosophy:nth-child(3) .info {
    margin-left: 1rem;
  }

  .philosophies .philosophy:nth-child(4) .icon img {
    height: 20vmin;
  }
  .philosophies .philosophy:nth-child(5) .icon svg {
    height: 15vmin;
  }
}

@media screen and (max-width: 1000px) {
  .philosophies {
    -ms-grid-rows: 40vmin 2rem 35vmin 2rem 25vmin 2rem 25vmin;
    grid-template-rows: 40vmin 35vmin 25vmin 25vmin;
  }
}

@media screen and (max-width: 900px) {
  .philosophies {
    -ms-grid-rows: 70vmin 2rem 45vmin 2rem 27vmin 2rem 27vmin;
    grid-template-rows: 70vmin 45vmin 27vmin 27vmin;
  }
}
@media screen and (max-width: 900px) {
  .philosophies .philosophy:nth-child(3) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .philosophies .philosophy:nth-child(3) svg {
    height: 20vmin;
  }
  .philosophies {
    -ms-grid-rows: 40vmin 2rem 47vmin 2rem 27vmin 2rem 37vmin;
    grid-template-rows: 40vmin 47vmin 27vmin 37vmin;
  }
  .philosophies .philosophy:nth-child(2) svg {
    height: 30vmin;
  }
  .philosophies .philosophy:nth-child(5) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 760px) {
  .philosophies {
    -ms-grid-rows: 38vmin 2rem 47vmin 2rem 27vmin 2rem 37vmin;
    grid-template-rows: 38vmin 47vmin 27vmin 37vmin;
  }
}

@media screen and (max-width: 720px) {
  .philosophies .philosophy:nth-child(1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .philosophies .philosophy:nth-child(1) .icon {
    padding: 0;
    margin: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 60vmin;
  }
  .philosophies .philosophy .icon {
    margin-bottom: 1rem;
  }
  .philosophies .philosophy:nth-child(1) .info {
    width: 100%;
    margin: 0;
    margin-top: 2rem;
  }
  .philosophies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .philosophies .philosophy:nth-child(2) .icon svg,
  .philosophies .philosophy:nth-child(3) .icon svg,
  .philosophies .philosophy:nth-child(4) .icon svg,
  .philosophies .philosophy:nth-child(5) .icon svg {
    height: 30vmin;
  }
}

@media screen and (max-width: 720px) {
  .philosophies.philosophy:nth-child(1) .icon .dt-mockup,
  .philosophies .philosophy:nth-child(1) .icon .m-mockup {
    border-radius: 0.8vmin;
  }
  h1 {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .philosophies .philosophy:nth-child(1) .icon {
    padding: 0;
    margin: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 40vmin;
  }
}
@media screen and (max-width: 500px) {
  .philosophies .philosophy:nth-child(1) .icon {
    height: 60vmin;
    margin-left: 1rem;
  }
  .philosophies .philosophy {
    padding: 1.5rem;
  }
}

.plans-wrapper h1 {
  margin-bottom: 1rem;
}

.plans-wrapper {
  width: 100%;
}

.plans-toggle {
  padding: 0.5rem;
  background-color: var(--secondary);
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  display: none;
}

.plans-toggle .swiper-pagination-bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 2rem;
  height: 3rem;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--white);
  color: var(--black);
  opacity: 1;
}

.plans-toggle .swiper-pagination-bullet-active {
  outline: 1.5px solid var(--primary);
}

.plans-toggle .swiper-pagination-bullet-active:nth-child(2),
.plans-toggle .swiper-pagination-bullet:nth-child(2) {
  background-color: var(--primary);
  color: var(--white);
}

.plans-toggle .swiper-pagination-bullet-active:nth-child(2) {
  outline: 1.5px solid #8366cb;
}

.plans-wrapper .plans-container h1 {
  margin-bottom: 0;
}
.plans-wrapper .plans-container .swiper-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  gap: 2rem;
  position: relative;
}

.plans-wrapper .plans-container .plan {
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
  border-radius: var(--radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: var(--padding-2);
}
@media screen and (max-width: 840px) {
  .plans-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .plans-wrapper .plans-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .plans-wrapper .plan {
    -ms-grid-row: 1;
    grid-row: 1;
  }

  .plans-wrapper .plans-container .swiper-wrapper {
    gap: 1rem;
    /* transform: translateX(-40vw); */
  }
}
.plans-wrapper .plans-container .plan p {
  margin-top: 0.5rem;
}
.plans-wrapper .plans-container .plan:nth-child(2) {
  background-color: var(--primary);
}

.plans-wrapper .plans-container .plan:nth-child(2) * {
  color: var(--off-white);
}
.plans-wrapper .plans-container .plan .cta {
  margin-top: auto;
  font-size: 1.1rem;
}
@media screen and (max-width: 920px) {
  .plans-wrapper .plans-container .plan {
    padding: 1rem;
  }
  .plans-wrapper .plans-container .plan .cta {
    font-size: 1rem;
  }
}
.plans-wrapper .plans-container .plan:nth-child(2) .cta,
.footer .cta {
  background-color: var(--off-white);
  color: var(--primary);
}
.plans-wrapper .plans-container .plan:nth-child(2) .cta:hover,
.footer .cta:hover {
  background-color: var(--white);
}
.plans-wrapper .plans-container .plan ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  gap: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.plans-wrapper .plans-container .plan ul li {
  list-style: none;
  line-height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plans-wrapper .plans-container .plan ul li img {
  height: 1.2rem;
}

.plans-wrapper .plans-container .plan ul li span {
  position: relative;
  top: -0.25rem;
  margin-left: 0.5rem;
}

.navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
  cursor: pointer;
  position: relative;
  display: none;
}

.navbar .menu span {
  width: 100%;
  height: 0.3rem;
  margin: 0.1rem;
  border-radius: var(--radius);
  background-color: var(--black);
}

.navbar .menu span:nth-child(1),
.navbar .menu span:nth-child(3) {
  width: 50%;
}

.question p {
  visibility: hidden;
}

.mobile-menu {
  position: fixed;
  background-color: var(--white);
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-box-shadow: 0px 2.7547414302825928px 24.792673110961914px 0px
      rgba(74, 13, 218, 0.02),
    0px 22px 198px 0px rgba(74, 13, 218, 0.05);
          box-shadow: 0px 2.7547414302825928px 24.792673110961914px 0px
      rgba(74, 13, 218, 0.02),
    0px 22px 198px 0px rgba(74, 13, 218, 0.05);
  right: -100%;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  display: none;
}

.navbar .cta img {
  display: none;
}

.navbar .cta span {
  color: var(--off-white);
}

@media screen and (max-width: 720px) {
  /* .navbar .navlink {
    display: none;
  } */
  .navbar .cta span {
    display: none;
  }
  .navbar .cta img {
    display: block;
    height: var(--font-l);
  }
  .navbar .cta {
    margin-left: auto;
  }
  .navbar .links {
    position: fixed;
    bottom: 1rem;
    background-color: var(--off-white);
    width: calc(100% - 10rem);
    /* https://smoothshadows.com/#djEsMSw0LDAuMzUsMTUxLDY1LDAsIzM1MDJhYywjZWFlNmY1LCNkN2NhZjcsMg%3D%3D */
    -webkit-box-shadow: 0px 4px 9px rgba(53, 2, 172, 0.09),
      0px 16px 38px rgba(53, 2, 172, 0.17), 0px 37px 85px rgba(53, 2, 172, 0.26),
      0px 65px 151px rgba(53, 2, 172, 0.35);
            box-shadow: 0px 4px 9px rgba(53, 2, 172, 0.09),
      0px 16px 38px rgba(53, 2, 172, 0.17), 0px 37px 85px rgba(53, 2, 172, 0.26),
      0px 65px 151px rgba(53, 2, 172, 0.35);
  }
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .navbar .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 590px) {
  .navbar .links {
    width: calc(100% - 4rem);
  }
}
.mobile-menu-active {
  right: 0;
}

.mobile-menu a {
  width: 100%;
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.mobile-menu a:hover {
  color: var(--primary);
}
.navbar .links .mobile-menu .cta {
  margin-left: 0;
}

.fqs {
  margin-top: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.question {
  -o-transition: var(--transition);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  width: 100%;
  /* height: 3rem; */
  overflow: hidden;
  margin-bottom: 1rem;
  background-color: red;
  padding: 0.5rem;
  border-radius: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 4rem;
}

@media screen and (max-width: 441px) {
}

.active-question {
  height: 10rem;
  background-color: var(--secondary);
  padding: var(--padding);
  border-radius: var(--radius);
  position: relative;
}

.active-question p,
.active-question-four p,
.active-question-two p {
  visibility: visible;
}

.active-question-four {
  height: 12.5rem;
  background-color: var(--secondary);
  padding: var(--padding);
  border-radius: var(--radius);
}

.active-question-two {
  height: 11rem;
  background-color: var(--secondary);
  padding: var(--padding);
  border-radius: var(--radius);
}

@media screen and (max-width: 771px) {
  .active-question-two {
    height: 14rem;
  }
}

@media screen and (max-width: 758px) {
  .active-question-four {
    height: 14rem;
  }
}

@media screen and (max-width: 453px) {
  .active-question {
    height: 12rem;
  }

  .active-question-four,
  .active-question-two {
    height: 16rem;
  }
}

@media screen and (max-width: 380px) {
  .active-question {
    height: 13rem;
  }

  .active-question-four,
  .active-question-two {
    height: 19rem;
  }
}

.question h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: var(--padding);
  padding-left: 0;
  padding-right: 0;
  -o-transition: var(--transition);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  border-radius: var(--radius);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: var(--font-s);
}

/* .question h2:hover {
  padding: 0;
} */

.active-question h2:hover {
  padding-left: 0;
  padding-right: 0;
}

.question .plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  gap: 1rem;
  display: none;
}

.question .plus span {
  background-color: var(--primary);
  height: 3px;
  width: 0.8rem;
  border-radius: 4px;
  -o-transition: var(--transition);
  transition: var(--transition);
  -webkit-transition: var(--transition);
}

.question .plus span:nth-child(2) {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
}

.active-question h2 .plus span:nth-child(2),
.active-question-two h2 .plus span:nth-child(2),
.active-question-four h2 .plus span:nth-child(2) {
  width: 0;
}

.faq-wrapper,
.skills-wrapper {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 950px) {
  .faq-wrapper,
  .skills-wrapper {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 75%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 436px) {
  .faq-wrapper,
  .skills-wrapper {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 680px) {
  .faq-wrapper {
    width: 100%;
  }
}

.faq-intro {
  width: 100%;
  margin-top: 0.5rem;
}

.scnd-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.second-cta-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 950px) {
  .second-cta-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 75%;
  }
}

@media screen and (max-width: 680px) {
  .second-cta-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.second-cta-wrapper .cta {
  margin-top: 0.5rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: var(--padding-2);
  background-color: var(--black);
  margin-top: 3rem;
}

.footer * {
  color: var(--off-white);
}

@media screen and (max-width: 688px) {
  .footer {
    padding-bottom: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer .contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.footer .cta {
  margin-top: 0.5rem;
}

.footer a:hover {
  color: var(--primary-3);
}

.footer img {
  height: var(--font-s);
  margin-right: 0.5rem;
  margin-right: 0.25rem;
}

.footer a:nth-child(1) img {
  height: var(--font-m);
}

.footer a:nth-child(3) img {
  height: var(--font-m);
  margin-right: 0.25rem;
}

/* Animation */
.icon svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
}

.magic-wand {
  height: 12rem;
}

.touch {
  height: 5rem;
}
.m-mockup {
  -webkit-animation: pulse 4s infinite ease;
          animation: pulse 4s infinite ease;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }

  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  100% {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }

  50% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  100% {
    -webkit-transform: translateY(-4%);
            transform: translateY(-4%);
  }
}
#big-star {
  -webkit-animation: follow 2s ease infinite;
          animation: follow 2s ease infinite;
}
#medium-star {
  -webkit-animation: follow-2 2s ease infinite;
          animation: follow-2 2s ease infinite;
}
@-webkit-keyframes follow {
  0% {
    -webkit-transform: translate(-10%, 15%);
            transform: translate(-10%, 15%);
  }

  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes follow {
  0% {
    -webkit-transform: translate(-10%, 15%);
            transform: translate(-10%, 15%);
  }

  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes follow-2 {
  0% {
    -webkit-transform: translate(-10%, -5%);
            transform: translate(-10%, -5%);
  }

  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes follow-2 {
  0% {
    -webkit-transform: translate(-10%, -5%);
            transform: translate(-10%, -5%);
  }

  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes magic {
  0% {
    -webkit-transform: rotate(-38deg);
            transform: rotate(-38deg);
  }

  100% {
    -webkit-transform: rotate(-0deg);
            transform: rotate(-0deg);
  }
}

@keyframes magic {
  0% {
    -webkit-transform: rotate(-38deg);
            transform: rotate(-38deg);
  }

  100% {
    -webkit-transform: rotate(-0deg);
            transform: rotate(-0deg);
  }
}

.grid-item-1,
.grid-item-2,
.grid-item-3,
.grid-item-4 {
  opacity: 0;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  -o-transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}

.grid-item-1 {
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.grid-item-2 {
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.grid-item-3 {
  -webkit-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.grid-item-4 {
  -webkit-transition-delay: 0.8s;
       -o-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.in-view {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.project {
  opacity: 0;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  -o-transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}
.hide {
  opacity: 0;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  -o-transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
}

.philosophy {
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}
.project-1 {
  /* First element shows up instantly */
  opacity: 0.5;
}
.visible {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.project:nth-child(2) {
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s; /* Second element delayed by 200ms */
}

.project:nth-child(3) {
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s; /* Third element delayed by 400ms */
}

.project:nth-child(4) {
  -webkit-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s; /* Fourth element delayed by 600ms */
}
