@import url("/css/satoshi.css");

* {
  padding: 0;
  margin: 0;
  color: var(--black);
  box-sizing: border-box;
  font-size: var(--font-s);
}

html {
  font-family: "Satoshi", sans-serif;
  font-size: clamp(15px, 1.5vw, 1.25em);
  background-color: var(--white);
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

:root {
  --white: #fff;
  --off-white: #eae6f5;
  --primary: #4a0dda;
  --secondary: #d7caf7;
  --primary-3: #2e0492;
  --grey: rgba(228, 224, 229, 0.35);
  --grey-2: #e0e0e0;
  --grey-n: #f7f6f7;
  --black: #0b0220;
  --font-l: 1.25rem;
  --font-m: 1.2rem;
  --font-s: 0.9rem;
  --font-ss: 0.7rem;
  --font-xs: 0.5rem;
  --radius: 0.5rem;
  --radius-2: 0.75rem;
  --padding: 1rem;
  --padding-2: calc(var(--padding) * 2);
  --transition: ease 0.5s;
}

h1 {
  font-size: var(--font-l);
  font-weight: 900;
  opacity: 0.85;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 3rem;
  background-color: var(--white);
  padding-top: 0rem;
  padding-bottom: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  padding: 1rem;
  padding-left: 5vw;
  padding-right: 5vw;
  width: 100vw;
  height: 100vh;
  gap: 1rem;
}

a {
  text-decoration: none;
}

.cta {
  background-color: var(--primary);
  padding: var(--padding);
  padding-right: var(--padding-2);
  padding-left: var(--padding-2);
  border-radius: var(--radius);
  color: var(--white);
  cursor: pointer;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  font-weight: bold;
}

.cta:hover {
  background-color: var(--primary-3);
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  top: 0;
  left: 0;
  z-index: 2;
}

.projects {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 35%;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  height: 31rem;
}

.projects a {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: #f6f3fc;
  border: 1px solid rgba(228, 224, 230, 0.3);
  border-radius: var(--radius);
}

.projects a:nth-child(1) {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.projects a img {
  width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media all and (max-width: 800px) {
  .projects {
    display: flex;
    height: fit-content;
    flex-direction: column;
  }
  .projects a {
    width: 100%;
    height: initial;
    aspect-ratio: 4/3.5;
  }
}

.clients {
  display: grid;
  grid-template-rows: 2.5rem;
  grid-template-columns: repeat(16, 4rem);
  justify-content: space-between;
  gap: 1rem;
  overflow-x: hidden;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media all and (max-width: 700px) {
  .clients {
    width: 80%;
  }
}

.clients span {
  background: rgba(228, 224, 230, 0.3);
  border: 1px solid #eeeaf0;
  border-radius: 0.25rem;
  height: 2.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4rem;
}

.clients span img {
  height: 1.5rem;
  width: initial;
  object-fit: contain;
}

.clients .aporent img {
  width: 80%;
  height: initial;
}

.overlays {
  display: grid;
  width: 100%;
  bottom: 0;
  position: absolute;
  height: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 2;
}

.client-container {
  display: flex;
  width: 100%;
  height: 3rem;
  position: relative;
  align-items: center;
  overflow: hidden;
}

.overlays .right {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 50%);
  width: 100%;
  height: 3rem;
}

.overlays .left {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 50%);
  width: 100%;
  height: 3rem;
  transform: rotate(180deg);
}
