.add-admin-btn {
  width: 4rem;
  height: 4rem;
  transition: var(--transition);
  border-radius: var(--radius);
  background-color: var(--white);
  outline: 3px solid transparent;
  cursor: pointer;
  user-select: none;
}

.add-admin-btn:hover {
  outline: 3px solid var(--secondary);
}

.add-admin-btn img {
  height: 2.5rem;
  width: auto;
}

.admin-container .admin {
  background-color: var(--white);
  border-radius: var(--radius);
  align-items: center;
  grid-template-columns: 5rem 1fr auto;
}

.admin-container .admin .profile {
  width: 4rem;
  height: 4rem;
  background-color: var(--off-white);
  border-radius: var(--radius);
}

.admin-container .admin .profile img {
  height: 2.5rem;
  width: auto;
}

.admin-container .admin .info {
  grid-template-columns: 40% 1fr;
  row-gap: 0.5rem;
}

@media screen and (max-width: 640px) {
  .admin-container .admin .info .email {
    grid-row: 2;
    grid-column: 1 / span 2;
  }
  .admin-container .admin .info {
    grid-template-columns: auto 1fr;
  }

  .admin-container .admin .info .name {
    width: fit-content;
  }
}

@media screen and (max-width: 480px) {
  .admin-container .admin {
    grid-template-columns: 1fr;
  }
}

.admin-container .admin .info .status {
  font-size: var(--font-ss);
  background-color: var(--secondary);
  color: var(--primary);
  width: fit-content;
  border-radius: var(--radius);
}

.admin-container .action .deactivate {
  background: var(--danger);
}

.admin-container .admin .info .admin-diactived {
  background-color: var(--danger-2);
  color: var(--danger);
}

