@import url("https://fonts.cdnfonts.com/css/satoshi");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}

:root {
  --primary: #4a0dda;
  --secondary: #e2e1e7;
  --bg: #fdf7ff;
  --phover: #010053;
}

html {
  font-family: "Satoshi", sans-serif;
  font-size: clamp(13px, 1.5vw, 1.1em);
  background-color: var(--bg);
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding, 5rem);
}

body{
  background-color: #fcfcfd;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gif{
  width: 25rem;
}