@import url("https://fonts.cdnfonts.com/css/satoshi");

* {
  padding: 0;
  margin: 0;
  color: var(--black);
  box-sizing: border-box;
  font-size: var(--font-s);
}

html {
  font-family: "Satoshi", sans-serif;
  font-size: clamp(15px, 1.5vw, 1.25em);
  background-color: var(--white);
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  overflow-x: hidden;
}

:root {
  --white: #fcfbfe;
  --purple: #4a0dda;
  --secondary: #d7caf7;
  --purple-3: #2e0492;
  --grey: rgba(228, 224, 229, 0.35);
  --grey-2: #e0e0e0;
  --black: #0b0220;
  --font-l: 1.35rem;
  --font-m: 1rem;
  --font-s: 0.9rem;
  --font-ss: 0.7rem;
  --font-xs: 0.5rem;
  --radius: 0.8rem;
  --padding: 0.8rem;
  --transition: all 0.5s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

h1 {
  font-size: var(--font-l);
}

p {
  line-height: 1.3rem;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 5rem;
  padding-top: 2rem;
  padding-bottom: 0;
}

a {
  text-decoration: none;
}

.section {
  margin-top: 3rem;
}

.cta {
  background-color: var(--purple);
  padding: var(--padding);
  padding-right: 1.3rem;
  padding-left: 1.3rem;
  border-radius: var(--radius);
  color: var(--white);
  cursor: pointer;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  -webkit-transition: var(--transition);
}

.cta:hover {
  background-color: var(--purple-3);
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  padding: 5rem;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  z-index: 2;
}

.navbar .links {
  display: flex;
  align-items: center;
}

.navbar .links .navlink {
  margin-left: 1rem;
  margin-right: 1rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
}

.navbar .links .navlink:hover {
  color: var(--purple);
}

.navbar .links .cta {
  margin-left: 1rem;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 0rem;
}

.hero div {
  display: flex;
  flex-direction: column;
  width: 55%;
}

@media screen and (max-width: 893px) {
  .hero div {
    display: flex;
    flex-direction: column;
    width: 75%;
  }
}
@media screen and (max-width: 695px) {
  .hero div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.hero p {
  width: 100%;
}

.hero .cta {
  width: fit-content;
  margin-top: 1rem;
}

.hero img {
  position: absolute;
  height: 35rem;
  right: -3rem;
  z-index: 0;
  align-self: center;
}

.projects-container {
  margin-top: 1rem;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 27rem 27rem;
  gap: 1rem;
  align-self: center;
}

@media screen and (min-width: 1600px) {
  .projects-container {
    justify-content: center;
    gap: 1rem;
    grid-template-columns: 30rem 30rem;
    grid-template-rows: 30rem 30rem;
  }
}

@media screen and (max-width: 999px) {
  .projects-container {
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25rem 25rem;
  }
}

.project {
  width: 100%;
  height: 100%;
  background-color: #EEE8FF;
  border-radius: var(--radius);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.project img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
  transition: var(--transition);
  -webkit-transition: var(--transition);
}

@media screen and (max-width: 899px) {
  .projects-container {
    grid-template-rows: 23rem 23rem;
  }
  .project img {
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 853px) {
  .projects-container {
    grid-template-rows: 21rem 21rem;
  }
}

@media screen and (max-width: 794px) {
  .projects-container {
    grid-template-rows: 18rem 18rem;
  }
}

@media screen and (max-width: 705px) {
  .projects-container {
    grid-template-rows: 16rem 16rem;
  }
}
@media screen and (max-width: 650px) {
  .projects-container {
    grid-template-rows: 17rem 17rem;
  }
}

@media screen and (max-width: 617px) {
  .projects-container {
    grid-template-rows: 16rem 16rem;
  }
}

@media screen and (max-width: 590px) {
  body {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .navbar {
    padding: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
  }

  .projects-container {
    grid-template-columns: 1fr;
    grid-template-rows: 23rem 23rem 23rem 23rem;
  }

}

@media screen and (max-width: 525px) {
  .projects-container {
    grid-template-columns: 1fr;
    grid-template-rows: 20rem 20rem 20rem 20rem;
  }
}

@media screen and (max-width: 450px) {
  .projects-container {
    grid-template-columns: 1fr;
    grid-template-rows: 18rem 18rem 18rem 18rem;
  }
}

.project:hover img {
  transform: scale(1.05);
}

.project-4 {
  background-color: #d0d0d0;
}

.philosophies {
  display: flex;
  justify-content: space-between;
}

.philosophy {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: var(--radius);
  padding: 1rem;
  margin-top: 1rem;
  width: 13.5rem;
  height: 14rem;
  box-shadow: 0px 2.7547414302825928px 24.792673110961914px 0px
      rgba(74, 13, 218, 0.02),
    0px 22px 198px 0px rgba(74, 13, 218, 0.05);
}

@media screen and (max-width: 995px) {
  .philosophy {
    width: 13rem;
  }
}

.philosophy div {
  display: flex;
  flex-direction: column;
}

.philosophy .icon {
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  background-color: var(--secondary);
  margin-bottom: 0.5rem;
}

.philosophy .icon img {
  height: 2rem;
}

.philosophy h2 {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 953px) {
  .philosophy {
    width: 12rem;
    height: 14rem;
  }

  .philosophy p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 890px) {
  .philosophies {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
  }
  .philosophy {
    width: 100%;
    height: 12rem;
    margin: 0;
  }

  .philosophy p {
    font-size: var(--font-s);
  }
}

@media screen and (max-width: 708px) {
  .philosophy {
    width: 100%;
    height: 14rem;
    margin: 0;
  }
}

@media screen and (max-width: 450px) {
  .philosophies {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    margin-top: 1rem;
  }

  .philosophy {
    width: 100%;
    height: fit-content;
    margin: 0;
  }
}

.skills {
  padding-left: 1.5rem;
  margin-top: 1rem;
}

.skills li {
  line-height: 1.3rem;
}

.scrnshots {
  padding: var(--padding);
  border-radius: var(--radius);
  background-color: var(--grey);
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 15rem);

  justify-content: space-between;
  position: relative;
}

.scrnshot {
  height: 13rem;
  background-color: var(--grey-2);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  justify-content: space-between;
  cursor: pointer;
}

.scrnshot .s-img {
  background-color: #fff;
  border-radius: var(--radius);
  width: 100%;
  height: 85%;
  overflow: hidden;
}

.scrnshot .s-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  -o-object-fit: contain;
  object-position: center;
}

.scroll {
  position: absolute;
  background-color: var(--purple);
  width: 60%;
  height: 10px;
  bottom: var(--padding);
  justify-self: center;
  display: none;
  border-radius: var(--radius);
}

.fqs {
  margin-top: 0.75rem;
  display: flex;
  flex-direction: column;
}

.question {
  transition: var(--transition);
  -webkit-transition: var(--transition);
  width: 100%;
  height: 3rem;
  overflow: hidden;
  margin-bottom: 0.25rem;
}

.navbar .menu {
  display: flex;
  flex-direction: column;
  width: 2rem;
  align-items: center;
  margin-left: 1rem;
  cursor: pointer;
  position: relative;
  display: none;
}

.navbar .menu span {
  width: 100%;
  height: 0.3rem;
  margin: 0.1rem;
  border-radius: var(--radius);
  background-color: var(--black);
}

.navbar .menu span:nth-child(1),
.navbar .menu span:nth-child(3) {
  width: 50%;
}

.question p {
  visibility: hidden;
}

.mobile-menu {
  position: fixed;
  background-color: var(--white);
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  align-items: center;
  height: 100vh;
  box-shadow: 0px 2.7547414302825928px 24.792673110961914px 0px
      rgba(74, 13, 218, 0.02),
    0px 22px 198px 0px rgba(74, 13, 218, 0.05);
  right: -100%;
  transition: var(--transition);
  display: none;
}

@media screen and (max-width: 500px) {
.navbar .navlink{
  display: none;
}
.mobile-menu{
  display: flex;
}

.navbar .menu{
  display: flex;
}
}

.mobile-menu-active{
  right: 0;
}

.mobile-menu a {
  width: 100%;
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  transition: var(--transition);
}

.mobile-menu a:hover{
  color: var(--purple);
}
.navbar .links .mobile-menu .cta {
  margin-left: 0;
}

@media screen and (max-width: 441px) {
  .question {
    height: 3.2rem;
  }
}

.active-question {
  height: 10rem;
  background-color: var(--grey-2);
  padding: var(--padding);
  border-radius: var(--radius);
}

.active-question p,
.active-question-four p,
.active-question-two p {
  visibility: visible;
}

.active-question-four {
  height: 12.5rem;
  background-color: var(--grey-2);
  padding: var(--padding);
  border-radius: var(--radius);
}

.active-question-two {
  height: 11rem;
  background-color: var(--grey-2);
  padding: var(--padding);
  border-radius: var(--radius);
}

@media screen and (max-width: 771px) {
  .active-question-two {
    height: 14rem;
  }
}

@media screen and (max-width: 758px) {
  .active-question-four {
    height: 14rem;
  }
}

@media screen and (max-width: 453px) {
  .active-question {
    height: 12rem;
  }

  .active-question-four,
  .active-question-two {
    height: 16rem;
  }
}

@media screen and (max-width: 380px) {
  .active-question {
    height: 13rem;
  }

  .active-question-four,
  .active-question-two {
    height: 19rem;
  }
}

.question h2 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
  padding-left: 0;
  padding-right: 0;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  border-radius: var(--radius);
  cursor: pointer;
  user-select: none;
}

.question h2:hover {
  background-color: var(--grey-2);
  padding-left: var(--padding);
  padding-right: var(--padding);
}

.active-question h2:hover {
  padding-left: 0;
  padding-right: 0;
}

.question .plus {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 1rem;
}

.question .plus span {
  background-color: var(--purple);
  height: 3px;
  width: 0.8rem;
  border-radius: 4px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
}

.question .plus span:nth-child(2) {
  transform: rotate(90deg);
  position: absolute;
}

.active-question h2 .plus span:nth-child(2),
.active-question-two h2 .plus span:nth-child(2),
.active-question-four h2 .plus span:nth-child(2) {
  width: 0;
}

.faq-wrapper,
.skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  align-self: center;
}

@media screen and (max-width: 950px) {
  .faq-wrapper,
  .skills-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    align-self: center;
  }
}

@media screen and (max-width: 436px) {
  .faq-wrapper,
  .skills-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-self: center;
  }
}

@media screen and (max-width: 680px) {
  .faq-wrapper {
    width: 100%;
  }
}

.faq-intro {
  width: 100%;
  margin-top: 0.5rem;
}

.scnd-cta {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.second-cta-wrapper {
  display: flex;
  flex-direction: column;
  width: 65%;
  align-self: center;
}

@media screen and (max-width: 950px) {
  .second-cta-wrapper {
    display: flex;
    flex-direction: column;
    width: 75%;
  }
}

@media screen and (max-width: 680px) {
  .second-cta-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.second-cta-wrapper .cta {
  margin-top: 0.5rem;
}

.footer {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  background-color: var(--secondary);
  margin-top: 3rem;
}

@media screen and (max-width: 688px) {
  .footer {
    height: 4.5rem;
    padding-bottom: 1rem;
    flex-direction: column;
  }
}

.footer .contact-links {
  display: flex;
}

.footer a {
  display: flex;
  font-size: var(--font-ss);
  margin-left: 1rem;
  margin-right: 1rem;
  align-items: center;
  transition: var(--transition);
}

@media screen and (max-width: 440px) {
  .footer a {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    align-items: start;
    height: initial;
  }
  .footer .contact-links {
    display: flex;
    flex-direction: column;
  }
  .footer a {
    margin-right: 0;
    margin-left: 0;
    font-size: var(--font-s);
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}

.footer a:hover {
  color: var(--purple-3);
}

.footer img {
  height: var(--font-s);
  margin-right: 0.5rem;
  margin-right: 0.25rem;
}

.footer a:nth-child(1) img {
  height: var(--font-m);
}

.footer a:nth-child(3) img {
  height: var(--font-m);
  margin-right: 0.25rem;
}
