.form-wrapper {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.form-header{
  position: fixed;
  background-color: var(--white);
  top: 0;
  z-index: 2;
  width: 60%;
  padding-bottom: 3rem;
  padding-top: 2rem;
  padding-right: 2rem;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 0.5rem;
  border-radius: var(--radius);
  background-color: var(--green-2);
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.progress-bar .completion {
  position: absolute;
  top: 100%;
  align-self: center;
  margin-top: 0.5rem;
}

.progress-bar .progress {
  width: 5%;
  background-color: var(--green);
  height: 100%;
  border-radius: var(--radius);
}

.volunteer-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
}

.form-step {
  padding: 1rem;
  border: 2px solid var(--green-2);
  border-radius: var(--radius);
  display: none;
}

.active-form {
  display: block;
}

.volunteer-form .input-group {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.volunteer-form .input-group label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.volunteer-form .input-group input[type="text"],
.volunteer-form .input-group textarea {
  border: 2px solid var(--green-2);
  height: 2.5rem;
  padding: var(--padding);
  border-radius: var(--radius);
  outline: 0;
}

.volunteer-form .input-group textarea {
  height: 5rem;
  resize: vertical;
}

.volunteer-form .btn-container {
  width: 100%;
  display: flex;
  margin-top: 1rem;
}

.volunteer-form .btn-container .next-btn {
  margin-left: auto;
  cursor: pointer;
  height: 2.5rem;
}

.check-container {
  display: flex;
  flex-direction: column;
}

.check-container .check-box-input input {
  margin-right: 0.5rem;
}

.c-form__fieldset {
  border: none;
  padding: 0;
}

.c-form__group {
  margin-top: 0.25rem;
}
.c-form__group:first-of-type {
  margin-top: 0;
}
.c-form__checkbox,
.c-form__radio {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.c-form__checkbox:checked + .c-form__label .c-form__checkbox-tick,
.c-form__radio:checked + .c-form__label .c-form__radio-tick {
  stroke-dashoffset: 0;
}
.c-form__checkbox:focus + .c-form__label .c-form__checkbox-square,
.c-form__radio:focus + .c-form__label .c-form__radio-circle {
  stroke: var(--green);
}
.c-form__label {
  cursor: pointer;
  display: block;
  font-size: 1em;
}
.c-form__label-text {
  margin-left: 0.25rem;
  vertical-align: middle;
  font-weight: normal;
}
.c-form__checkbox-icon,
.c-form__radio-icon {
  height: 1.3rem;
  width: 1.3rem;
  vertical-align: middle;
}

.c-form__checkbox-square,
.c-form__radio-circle {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5;
  transition: stroke 0.3s ease-in;
}
.c-form__checkbox-tick,
.c-form__radio-tick {
  fill: none;
  stroke: var(--green);
  stroke-dasharray: 11;
  /* this is the length of the line */
  stroke-dashoffset: 11;
  /* this is the length of the line */
  stroke-width: 1.5;
  transition: stroke-dashoffset 0.3s ease-in;
}

.input-group p {
  margin-bottom: 1rem;
}

.prev-btn {
  padding: var(--padding);
  border-radius: var(--radius);
  border: 2px solid var(--green-2);
  cursor: pointer;
  user-select: none;
  transition: var(--transition);
}

.prev-btn:hover{
  background-color: var(--green-2);
}