@import url("https://fonts.cdnfonts.com/css/inter");

* {
  padding: 0;
  margin: 0;
  color: var(--black);
  box-sizing: border-box;
  font-size: var(--font-s);
}

html {
  font-family: "Inter", sans-serif;
  font-size: clamp(12px, 1.4vw, 1.1em);
  background-color: var(--white);
  overflow-x: hidden;
}

:root {
  --white: #fff;
  --green: #238533;
  --green-2: rgba(35, 133, 51, 0.2);
  --green-hover: #0d5319;
  --black: #000;
  --font-l: 1.25rem;
  --font-m: 1rem;
  --font-s: 0.9rem;
  --font-ss: 0.7rem;
  --radius: 0.5rem;
  --padding: 0.8rem;
  --transition: ease 0.5s;
}

h1 {
  font-size: var(--font-l);
}

h2 {
  font-size: var(--font-s);
}

body {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: space-between;
  background-color: var(--white);
  position: fixed;
  z-index: 4;
  left: 0rem;
  top: 0;
}

.navbar .logo {
  display: flex;
  align-items: center;
  font-size: var(--font-m);
  font-weight: bold;
}

.navbar .logo img {
  height: 2rem;
  margin-right: 0.5rem;
}

.navbar .links {
  display: flex;
  align-items: center;
}

.navbar .links .navlink {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  transition: var(--transition);
  position: relative;
}

.menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  display: none;
  position: relative;
}

.menu .bar {
  border-radius: 10rem;
  width: 2rem;
  margin-top: 2px;
  margin-bottom: 2px;
  height: 3px;
  background-color: black;
  margin-left: 1rem;
}

.menu-list {
  position: fixed;
  background-color: var(--white);
  padding: 1rem;
  height: 100vh;
  width: 15rem;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 39.6px -16px rgba(0, 0, 0, 0.045),
    0px 0px 41.5px -16px rgba(0, 0, 0, 0.06),
    0px 0px 43.2px -16px rgba(0, 0, 0, 0.07),
    0px 0px 48.7px -16px rgba(0, 0, 0, 0.075),
    0px 0px 60.3px -16px rgba(0, 0, 0, 0.077),
    0px 0px 80px -16px rgba(0, 0, 0, 0.07);
  z-index: 4;
  right: -100vw;
  visibility: hidden;
  transition: ease 0.5s;
}
.menu-list a {
  font-size: var(--font-m);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.menu-active {
  right: 0;
  visibility: visible;
  transition: ease 0.5s;
}

.menu-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--black);
  opacity: 0.3;
  z-index: 3;
  cursor: default;
  display: none;
}

@media screen and (max-width: 530px) {
  .navbar .links .navlink {
    display: none;
  }

  .navbar .links .cta {
    display: block;
  }

  .menu {
    display: flex;
  }
}

.navbar .links .navlink:hover {
  color: var(--green);
}

.navbar .links .navlink i {
  margin-left: 0.5rem;
}

.navbar .links .cta:hover {
  color: var(--white);
}

.navbar .links .dropdown-links-container:hover {
  color: var(--black);
}

.navbar .links .dropdown-links-container:hover .title {
  cursor: pointer;
}

.dropdown-links {
  color: var(--black);
  display: flex;
  height: 0.5rem;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  flex-direction: column;
  position: absolute;
  top: 100%;
  background-color: var(--white);
  padding: 1rem;
  border-radius: var(--radius);
  -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.4);
}

.submenu-container .title {
  display: flex;
  align-items: center;
  padding: var(--padding);
  font-size: var(--font-m);
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0.5rem;
}

.submenu-container i {
  margin-left: 0.5rem;
  transition: var(--transition);
}

.submenu-links {
  display: flex;
  flex-direction: column;
  background-color: var(--green-2);
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: var(--radius);
}

.submenu-links a {
  margin-top: 0;
  margin-bottom: 0;
  padding: var(--padding);
  transition: var(--transition);
  border-radius: var(--radius);
}

.submenu-links a:hover {
  background-color: var(--white);
}

.navbar .links .dropdown-links-container:hover .dropdown-links {
  height: 6rem;
  opacity: 1;
  visibility: visible;
}

.navbar .links .dropdown-links-container i {
  transition: var(--transition);
}

.navbar .links .dropdown-links-container:hover i {
  transform: rotate(-180deg);
}

.navbar .links .dropdown-links-container:active .dropdown-links {
  height: 5rem;
  opacity: 1;
  visibility: visible;
}

.navbar .links .dropdown-links-container:focus-within .dropdown-links {
  height: 5rem;
  opacity: 1;
  visibility: visible;
}

.dropdown-links a {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  transition: var(--transition);
}

.dropdown-links a:hover {
  color: var(--green);
}

.cta {
  background-color: var(--green);
  padding: 0.8rem;
  border-radius: var(--radius);
  color: var(--white);
  transition: var(--transition);
}

button{
  outline: 0;
  border: 0;
}

.menu-list .cta {
  margin-left: 0;
  text-align: center;
}

.navbar .links .cta {
  margin-right: 0;
}

.cta:hover {
  background-color: var(--green-hover);
}

.hero-section {
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
  width: 100%;
}

.hero-section .hero-img {
  position: absolute;
  right: 0;
  top: 0;
  height: 36rem;
}

@media screen and (max-width: 840px) {
  .hero-section .hero-img {
    height: 40rem;
  }
}

@media screen and (max-width: 699px) {
  .hero-section .hero-img {
    height: 36rem;
  }
}

@media screen and (max-width: 629px) {
  .hero-section .hero-img {
    height: unset;
    width: 100%;
  }
}

@media screen and (max-width: 380px) {
  .hero-section .hero-img {
    height: unset;
    width: 120%;
  }
}

@media screen and (max-width: 310px) {
  .hero-section .hero-img {
    height: unset;
    width: 130%;
  }
}

.event-countdown {
  position: absolute;
  background-color: var(--white);
  border: 2px solid var(--green-2);
  border-radius: var(--radius);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  top: 4rem;
  left: 0;
  transform: scale(0.8);
  cursor: pointer;
  transition: var(--transition);
}
.event-countdown:hover {
  background-color: var(--green-2);
}

.event-countdown div {
  display: flex;
}

.event-countdown .count-element {
  font-size: var(--font-ss);
}

.event-countdown .timer {
  font-size: var(--font-l);
  font-weight: bold;
  background-color: var(--green-2);
  padding: 0.5rem;
  border-radius: var(--radius);
  margin-bottom: 5px;
}

.event-countdown .dots {
  font-size: var(--font-m);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  padding-top: 0.5rem;
}

.event-countdown .counter-header {
  font-size: var(--font-ss);
  margin-bottom: 0.5rem;
}

.event-countdown .count-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section h1 {
  width: 50%;
}

.hero-section p {
  width: 50%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 699px) {
  .hero-section {
    padding-top: 35rem;
  }

  .event-countdown {
    top: 15rem;
    left: 1.5rem;
    transform: scale(1);
  }

  .hero-section h1 {
    width: 70%;
  }

  .hero-section p {
    width: 70%;
  }
}

@media screen and (max-width: 699px) {
  .event-countdown {
    top: 10rem;
    left: 1.5rem;
    transform: scale(1);
  }
}

@media screen and (max-width: 399px) {
  .event-countdown {
    top: 8rem;
    left: 0rem;
    transform: scale(0.8);
  }
}

@media screen and (max-width: 329px) {
  .event-countdown {
    top: 8rem;
    left: -1rem;
    transform: scale(0.7);
  }
}

@media screen and (max-width: 629px) {
  .hero-section {
    padding-top: 33rem;
  }

  .hero-section h1 {
    width: 80%;
  }

  .hero-section p {
    width: 80%;
  }
}

@media screen and (max-width: 610px) {
  .hero-section {
    padding-top: 30rem;
  }

  .hero-section h1 {
    width: 80%;
  }

  .hero-section p {
    width: 80%;
  }
}

@media screen and (max-width: 560px) {
  .hero-section {
    padding-top: 28rem;
  }
}

@media screen and (max-width: 520px) {
  .hero-section {
    padding-top: 26rem;
  }
}

@media screen and (max-width: 500px) {
  .hero-section {
    padding-top: 24.5rem;
  }
}

@media screen and (max-width: 460px) {
  .hero-section {
    padding-top: 22rem;
  }

  .hero-section h1 {
    width: 100%;
  }

  .hero-section p {
    width: 100%;
  }
}

@media screen and (max-width: 410px) {
  .hero-section {
    padding-top: 20rem;
  }
}

@media screen and (max-width: 390px) {
  .hero-section {
    padding-top: 23rem;
  }
}

@media screen and (max-width: 370px) {
  .hero-section {
    padding-top: 21rem;
  }
}

@media screen and (max-width: 340px) {
  .hero-section {
    padding-top: 19rem;
  }
}

.cta-container {
  display: flex;
}

.cta-container .cta-2 {
  color: var(--black);
  background-color: var(--white);
  border: 2px solid var(--green-2);
  margin-left: 2rem;
  transition: var(--transition);
}

.cta-container .cta-2:hover {
  background-color: var(--green-2);
}

.members-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.members-container .member-counters {
  display: flex;
  margin-top: 1rem;
}

.members-container span {
  background-color: var(--green-2);
  padding: 0.8rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--font-ss);
  font-weight: light;
  width: 6.5rem;
  height: 5rem;
  border-radius: var(--radius);
}

@media screen and (max-width: 389px) {
  .members-container span {
    font-size: 0.6rem;
  }
}
.members-container span:first-child {
  margin-left: 0;
}

.partner-wrapper {
  background-color: var(--green-2);
  width: 100%;
  margin-top: 7rem;
  padding: 0.8rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.partner-wrapper img {
  height: 3.5rem;
}

@media screen and (max-width: 480px) {
  .partner-wrapper img {
    height: 2.5rem;
  }

  @media screen and (max-width: 480px) {
    .partner-wrapper img {
      height: 2rem;
    }
  }
}

.wwd-section {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.wwd-card-container img {
  position: absolute;
  justify-self: center;
  height: 115%;
  top: -2rem;
}

.wwd-card-container {
  display: grid;
  grid-template-columns: repeat(3, 18rem);
  grid-template-rows: repeat(2, 22rem);
  margin-top: 2rem;
  position: relative;
}

.wwd-card {
  background-color: var(--white);
  padding: 1rem;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  position: relative;
  height: 20rem;
}

.wwd-first {
  grid-row: 1;
  grid-column: 2;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.wwd-second {
  grid-row: 2;
  grid-column: 2;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.wwd-third {
  grid-row: 1 / span 2;
  margin-top: 10rem;
  grid-column: 1;
}

.wwd-fourth {
  grid-row: 1 / span 3;
  margin-top: 10rem;
  grid-column: 3;
}

@media screen and (max-width: 699px) {
  .wwd-card-container {
    grid-template-columns: repeat(2, 18rem);
    grid-template-rows: 20rem 10rem 20rem;
  }

  .wwd-first {
    grid-row: 1;
    grid-column: 1;
    margin-left: 0rem;
    margin-right: 0.5rem;
    margin-top: 10rem;
    margin-bottom: 0.5rem;
  }

  .wwd-second {
    grid-row: 1;
    grid-column: 2;
    margin-left: 0.5rem;
    margin-right: 0rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }

  .wwd-third {
    grid-row: 3;
    margin-top: 1rem;
    margin-right: 0.5rem;
    grid-column: 1;
  }

  .wwd-fourth {
    grid-row: 2;
    margin-top: 1rem;
    grid-column: 2;
    margin-left: 0.5rem;
  }

  .wwd-card-container img {
    position: absolute;
    justify-self: center;
    height: 120%;
    top: -3rem;
  }
}

@media screen and (max-width: 480px) {
  .wwd-card {
    height: 23rem;
  }

  .wwd-card-container {
    grid-template-columns: repeat(2, 15rem);
    grid-template-rows: 23rem 10rem 23rem;
  }
}

@media screen and (max-width: 380px) {
  .wwd-card {
    height: 24rem;
  }

  .wwd-card .wwd-title {
    white-space: nowrap;
  }

  .wwd-card-container {
    grid-template-columns: repeat(2, 14rem);
    grid-template-rows: 24rem 10rem 24rem;
  }
}

@media screen and (max-width: 352px) {
  .wwd-card {
    height: 24rem;
  }

  .wwd-card .wwd-title {
    white-space: normal;
  }
  .wwd-card * {
    font-size: 0.85rem;
  }

  .wwd-card-container {
    grid-template-columns: repeat(2, 12rem);
    grid-template-rows: 24rem 10rem 24rem;
  }
}

.wwd-icon {
  align-self: center;
  margin-bottom: 0.5rem;
  padding: var(--padding);
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green-2);
  border-radius: 50%;
}

.wwd-icon img {
  height: 3rem;
}
.wwd-card img {
  position: static;
}

.wwd-title {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.wwd-read-more {
  padding: var(--padding);
  margin-top: 1rem;
  background-color: var(--green-2);
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}

.compaign-section {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
  display: flex;
  align-items: center;
  align-items: center;
  margin-bottom: 4rem;
}

.compaign-section h1 {
  margin-bottom: 2rem;
}

.newsletter{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 60%;
  margin-top: 7rem;
}

@media screen and (max-width: 600px) {
  .newsletter{

  width: 100%;
  
}

}

.newsletter h1{
  margin-bottom: 1rem;

}

.newsletter p{
  margin-bottom: 1rem;
  text-align: center;
}

.newsletter input{
  padding: var(--padding);
  border-radius: var(--radius);
  border: 2px solid var(--green);
  outline: 0;
  width: 60%;
  margin-bottom: 1rem;
}

@media screen and (max-width: 400px) {
  .newsletter input{
 
  width: 90%;
 
}
 }

.newsletter .cta{
  width: 60%;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .newsletter input{
 
  width: 90%;
 
}

.newsletter .cta{
  width: 90%;
 
}

 }



.compaign-card {
  background-color: var(--green-2);
  position: relative;
  z-index: 1;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--radius);
  height: 17rem;
  display: flex;
}

.compaign-left-align {
  flex-direction: row-reverse;
}

.compaign-card img {
  width: 50%;
  border-radius: var(--radius);
  object-fit: cover;
}

.compaign-card .compaign-content {
  width: 50%;
  padding: 1rem;
}

.compaign-left-align {
  flex-direction: row-reverse;
}

@media screen and (max-width: 700px) {
  .compaign-card {
    width: 100%;
    height: 35rem;
    display: flex;
    flex-direction: column;
  }

  .compaign-left-align {
    flex-direction: column;
  }

  .compaign-card img {
    width: 100%;
    height: 90%;
    border-radius: var(--radius);
    object-fit: cover;
  }

  .compaign-card .compaign-content {
    width: 100%;
    padding: 1rem;
  }
}

.compaign-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.compaign-card .read-more {
  padding: var(--padding);
  background-color: var(--green);
  color: var(--white);
  width: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  margin-top: 1rem;
}

.guidelines {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.guidelines h1 {
  margin-bottom: 1rem;
}

.guidelines p {
  width: 50%;
}
@media screen and (max-width: 725px) {
  .guidelines p {
    width: 70%;
  }
}

@media screen and (max-width: 599px) {
  .guidelines p {
    width: 100%;
  }
}

.guideline-wrapper {
  position: relative;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin-top: 3rem;
}

@media screen and (max-width: 726px) {
  .guideline-wrapper {
    margin-top: 6rem;
  }
}

.guideline-wrapper img {
  position: absolute;
  z-index: 0;
  right: -13%;
  top: -8.5%;
  height: 114%;
}

@media screen and (max-width: 599px) {
  .guideline-wrapper img {
    right: -40%;
  }
}

@media screen and (max-width: 554px) {
  .guideline-wrapper img {
    right: -30%;
    height: 120%;
  }
}

.guideline-card {
  width: 35%;
  display: flex;
  background-color: var(--white);
  border-radius: var(--radius);
  padding: 1rem;
  padding-left: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
  height: 8rem;
}

@media screen and (max-width: 825px) {
  .guideline-card {
    width: 40%;
  }
}

@media screen and (max-width: 725px) {
  .guideline-card {
    width: 42%;
  }
}

@media screen and (max-width: 691px) {
  .guideline-card {
    width: 53%;
  }
}

@media screen and (max-width: 554px) {
  .guideline-card {
    width: 65%;
  }
}

.guideline-card .number {
  background-color: var(--green-2);
  color: var(--green);
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 1rem;
  left: 1rem;
}

.guideline-card img {
  position: static;
  height: 3rem;
  margin-right: 0.5rem;
}
.guideline-card .guideline p {
  width: 100%;
}

.guideline-card .guideline-title {
  font-weight: bold;
  font-size: var(--font-m);
}

.guideline-card .guideline .header {
  display: flex;
  align-items: center;
}

.card-left {
  margin-right: 11rem;
}

@media screen and (max-width: 459px) {
  .guideline-card {
    width: 75%;
  }

  .card-left {
    margin-right: auto;
  }
}

@media screen and (max-width: 402px) {
  .guideline-card {
    width: 85%;
  }
}

@media screen and (max-width: 359px) {
  .guideline-card {
    width: 90%;
  }
}

@media screen and (max-width: 332px) {
  .guideline-card {
    width: 90%;
    height: 10rem;
  }
}

.second-cta {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-self: center;
  text-align: center;
  align-items: center;
  margin-top: 5rem;
}

@media screen and (max-width: 554px) {
  .second-cta {
    margin-top: 8rem;
  }
}

@media screen and (max-width: 820px) {
  .second-cta {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
}

@media screen and (max-width: 540px) {
  .second-cta {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .second-cta {
    width: 90%;
  }
}

@media screen and (max-width: 359px) {
  .second-cta {
    width: 100%;
  }
}

.second-cta h1 {
  margin-bottom: 1rem;
}

.second-cta .cta {
  width: 6rem;
  margin-top: 1rem;
}

.footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 5rem;
}

.footer div {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 599px) {
  .footer {
    flex-direction: column;
  }
  .footer div {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.footer-logo img {
  height: 3rem;
  width: 3rem;
  margin-right: 0.5rem;
}

.footer a {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  transition: var(--transition);
  width: fit-content;
}

.footer a:hover {
  color: var(--green);
}

/* contact page */

.contact-form {
  display: flex;
  justify-content: center;
  padding-top: 7rem;
  width: 100%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  width: 100%;
  margin-bottom: 3rem;
}

.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-header p {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contact-header .contact-info a {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.contact-header .location {
  font-weight: bold;
}

@media screen and (max-width: 452px) {
  .contact-header p * {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 411px) {
  .contact-header p * {
    font-size: var(--font-ss);
  }
}

@media screen and (max-width: 371px) {
  .contact-header p * {
    font-size: var(--font-s);
  }

  .contact-header p {
    flex-direction: column;
    margin-left: 1rem;
  }
  .contact-header .contact-info {
    display: flex;
    flex-direction: column;
  }
  .contact-header .contact-info a {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.contact-page-form {
  display: flex;
  flex-direction: column;
  width: 55%;
  align-self: center;
}

@media screen and (max-width: 840px) {
  .contact-page-form {
    width: 75%;
  }
}

@media screen and (max-width: 740px) {
  .contact-page-form {
    width: 85%;
  }
}

@media screen and (max-width: 600px) {
  .contact-page-form {
    width: 100%;
  }
}

.contact-page-form .input-group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.contact-page-form .input-group label {
  margin-bottom: 0.5rem;
}

.contact-page-form .input-group input,
.contact-page-form .input-group textarea {
  outline: 0;
  border: 2px solid var(--green-2);
  border-radius: var(--radius);
  background-color: var(--white);
  padding: var(--padding);
  width: 100%;
}

.contact-page-form .input-group textarea {
  padding: var(--padding);
  font-family: "Inter", sans-serif;
  height: 6rem;
  resize: vertical;
}

.contact-page-form button {
  outline: 0;
  border: 0;
  color: var(--white);
  background-color: var(--green);
  padding: var(--padding);
  border-radius: var(--radius);
  margin-top: 1rem;
  transition: var(--transition);
  cursor: pointer;
}

.contact-form button:hover {
  background-color: var(--green-hover);
}

/* gallery */

.month {
  margin-bottom: 2rem;
}

.month:first-child {
  margin-top: 0;
}

.gallery-container {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 1.5rem;
}

.gallery-container::before {
  content: "";
  background-color: var(--green-2);
  position: absolute;
  height: calc(100% - 4rem);
  width: 0.3rem;
  border-radius: 10px;
  left: 0;
  top: 3.4rem;
}

.gallery-container .month {
  position: relative;
  padding-top: 2rem;
}

.gallery-container .month h2 {
  position: absolute;
  left: 0;
  top: 0;
}

.gallery-container .month h2::before {
  content: "";
  background-color: #afe2b8;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -1.86rem;
}

.gallery-container .month img {
  width: 10rem; /* Adjust the size as per your needs */
  height: 10rem;
  object-fit: cover;
  border-radius: var(--radius);
  margin: 0.5rem;
  cursor: pointer;
}

.gallery-container .month img:first-child {
  margin-left: 0;
}

.gallery-container .month img:last-child {
  margin-right: 0;
}

.image-viewer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.5rem;
  padding-top: 6rem;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  transition: var(--transition);
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}

@media screen and (max-width: 550px) {
  .image-viewer {
    padding-top: 7rem;
  }
}

.image-viewer-active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.image-viewer img {
  width: 35rem;
  height: 25rem;
  object-fit: cover;
  border-radius: var(--radius);
  position: relative;
}

.image-viewer .close {
  padding: var(--padding);
  background-color: red;
  color: var(--white);
  position: absolute;
  right: 1.5rem;
  top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  cursor: pointer;
}

.image-viewer .image-info {
  display: flex;
  flex-direction: column;
  width: 35rem;
  background-color: var(--white);
  padding: 1rem;
  border-radius: var(--radius);
  margin-top: 0.5rem;
  font-weight: bold;
}

@media screen and (max-width: 530px) {
  .image-viewer img {
    width: 100%;
    height: 30rem;
  }

  .image-viewer .close {
    font-size: var(--font-ss);
    right: 1.5rem;
    top: 5rem;
  }

  .image-viewer .image-info {
    width: 100%;
  }
}

.image-viewer .image-info .caption {
  max-height: 2.5rem;
  overflow-y: auto;
  margin-top: 0.5rem;
}

.image-viewer .image-info .added-date #date,
.image-viewer .image-info .caption #caption {
  font-weight: 400;
}

/* about page */

.about-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 6rem;
  margin-bottom: 3rem;
}

.about-top {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 5rem;
}

@media screen and (max-width: 599px) {
  .about-top {
    flex-direction: column;
  }
}

.about-top img {
  height: 10rem;
  margin-bottom: 2rem;
}

.about-top p {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.about-top h1 {
  font-size: var(--font-l);
  width: 30%;
  text-align: start;
  margin-bottom: 1rem;
}

@media screen and (max-width: 599px) {
  .about-top {
    flex-direction: column;
  }

  .about-top h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }
  .about-top p {
    width: 100%;
  }
}

.about-top p span {
  margin-top: 1rem;
}

.about-bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 1rem;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  height: fit-content;
  position: relative;
  align-self: center;
}

.team-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

.about-bottom .team {
  display: flex;
  flex-direction: column;
  background-color: #c3c1c2;
  height: 20rem;
  border-radius: var(--radius);
  overflow: hidden;
}

.about-bottom .team:nth-child(1) {
  margin-left: 0;
}

.about-bottom .team img {
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.about-bottom .team .team-info {
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 50%;
  width: 100%;
}

.about-bottom .team .team-info .position {
  position: relative;
  font-size: 0.8rem;
}

@media screen and (max-width: 743px) {
  .about-bottom {
    display: grid;
    grid-template-columns: repeat(2, minmax(14rem, 1fr));
  }

  .about-bottom .team {
    height: 25rem;
    border-radius: var(--radius);
    overflow: hidden;
  }

  .about-bottom .team .team-info .position {
    position: relative;
    font-size: var(--font-s);
  }
}
@media screen and (max-width: 418px) {
  .about-bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
}
.about-bottom .team .team-info .position:after {
  content: "";
  background-color: var(--green);
  position: absolute;
  top: 100%;
  left: 0;
  height: 2px;
  width: 4rem;
  border-radius: var(--radius);
}

.about-bottom .team .team-info span {
  font-weight: 400;
  margin-top: 0.5rem;
}
.about-bottom .team .team-info .contain-details {
  margin-top: auto;
}
.about-bottom .team .team-info .contain-details i {
  font-size: var(--font-m);
  margin-top: 0.5rem;
}

.about-bottom .team .team-info .contain-details a {
  margin-bottom: 1rem;
}

.about-bottom .team .team-info .contain-details a:nth-child(2) {
  margin-left: 1rem;
}

.hidden {
  display: none;
}

.event-blog-wrapper {
  padding-top: 5rem;
}

.event-blog-wrapper h1 {
  margin-bottom: 2rem;
}

.up-coming-event {
  display: flex;
  position: relative;
  padding: 0.5rem;
  border: 2px solid var(--green-2);
  width: 50%;
  border-radius: var(--radius);
  height: 13rem;
  margin-left: 1.5rem;
}

@media screen and (max-width: 900px) {
  .up-coming-event {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  .up-coming-event {
    width: 70%;
  }
}

@media screen and (max-width: 700px) {
  .up-coming-event {
    width: calc(100% - 1.5rem);
  }
}

@media screen and (max-width: 380px) {
  .up-coming-event {
    width: 27rem;
  }
}

.up-coming-event .event-img-container {
  width: 10rem;
  height: 100%;
  border-radius: var(--radius);
  overflow: hidden;
  background-color: var(--green-2);
  display: flex;
}

.up-coming-event .event-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.up-coming-event .indicator {
  position: absolute;
  padding: var(--padding);
  background-color: var(--white);
  border-radius: var(--padding);
  font-size: var(--font-ss);
  left: -1.5rem;
  box-shadow: 0px -0.05534512922167778px 2.2138051986694336px 0px rgba(0, 0, 0, 0.05),
    0px -0.13300204277038574px 5.32008171081543px 0px rgba(0, 0, 0, 0.07),
    0px -0.25043103098869324px 10.017241477966309px 0px rgba(0, 0, 0, 0.09),
    0px -0.4467261731624603px 17.869047164916992px 0px rgba(0, 0, 0, 0.11),
    0px -0.8355522155761719px 33.422088623046875px 0px rgba(0, 0, 0, 0.13),
    0px -2px 80px 0px rgba(0, 0, 0, 0.18);
}

.up-coming-event .indicator i {
  margin-right: 2.5px;
  font-size: var(--font-ss);
}

.up-coming-event .event-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.field {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  display: flex;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.field h2 {
  margin-right: 0.5rem;
  font-weight: 500;
}

.descript-btn {
  cursor: pointer;
  padding: var(--padding);
  background-color: var(--green-2);
  margin-top: 0.5rem;
  border-radius: var(--radius);
  width: 7rem;
  display: flex;
  justify-content: center;
}

.blogs {
  margin-top: 3rem;
}

.blog-wrapper {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  margin-bottom: 3rem;
  gap: 1rem;
}

.blog {
  display: flex;
  flex-direction: column;
  height: 22rem;
  position: relative;
}

.blog img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: var(--radius);
  margin-bottom: 0.5rem;
}

.blog .cta {
  font-size: var(--font-ss);
  position: absolute;
  bottom: 0;
  left: 0;
}

.blog .blog-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
  overflow: hidden;
}

.blog .blog-info .blog-title {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.blog .blog-info p {
  overflow: hidden;
}

.discrpt-mordal {
  width: 60%;
  height: 25rem;
  align-self: center;
  padding: 1rem;
  background-color: var(--white);
  top: 5rem;
  position: fixed;
  z-index: 2;
  border-radius: var(--radius);
  transform: scale(0);
  box-shadow: 0px 1.4px 5.3px -6px rgba(0, 0, 0, 0.098),
    0px 4.7px 17.9px -6px rgba(0, 0, 0, 0.118),
    0px 21px 80px -6px rgba(0, 0, 0, 0.17);
  opacity: 0;
  visibility: hidden;
  transition: ease 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.discrpt-mordal-active {
  opacity: 1;
  visibility: visible;
  transition: ease 0.5s;
  transform: scale(1);
}

@media screen and (max-width: 680px) {
  .discrpt-mordal {
    width: 90%;
  }
}

.discrpt-mordal .close {
  color: var(--white);
  padding: var(--padding);
  background-color: red;
  border-radius: var(--radius);
  cursor: pointer;
  margin-top: auto;
}

.discrpt-mordal p {
  width: 100%;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.p-header {
  margin-top: 5rem;
  width: fit-content;
  align-self: center;
  text-align: center;
  position: relative;
  margin-bottom: 2rem;
}

.p-header:after {
  content: "";
  width: 55%;
  height: 2px;
  background-color: var(--green);
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 0;
}

.partner-container {
  padding: 3rem;
  border-radius: var(--radius);
  display: flex;
  background-color: var(--green-2);
  width: 60%;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-bottom: 3rem;
}

@media screen and (max-width: 799px) {
  .partner-container {
    width: 70%;
  }
}

@media screen and (max-width: 699px) {
  .partner-container {
    width: 80%;
  }
}

@media screen and (max-width: 599px) {
  .partner-container {
    width: 100%;
  }
}

.partner-container img {
  height: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.gvt {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.gvt img {
  border-radius: var(--radius);
  width: 50%;
}

.gvt p {
  width: 50%;
  margin-top: 1rem;
  line-height: 1.5rem;
}

@media screen and (max-width: 699px) {
  .gvt img {
    width: 70%;
  }

  .gvt p {
    width: 70%;
  }
}

@media screen and (max-width: 599px) {
  .gvt img {
    width: 100%;
  }

  .gvt p {
    width: 100%;
  }
}
