.content-wrapper {
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  z-index: 0;
}
.main-content {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.top-section {
  width: 100%;
  height: 50vmin;
  padding-left: 40px;
  padding-bottom: 10px;
  background-color: var(--bg3);
  display: grid;
  grid-auto-columns: 1fr 76%;
  grid-template-rows: 1fr 40px;
  align-items: end;
  position: relative;
}

.artists-page-info {
  grid-row: 1;
  grid-column: 2;
  width: 100%;
  height: 80%;
  margin-bottom: 7px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.artists-page-info .name {
  font-weight: bold;
  font-size: 2rem;
}

.stats {
  margin-top: 5px;
}

.stats span {
  font-weight: bold;
  font-size: 0.9rem;
  opacity: 0.5;
  margin-right: 5px;
}

.stats .count {
  opacity: 1;
}

.artist-info {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  background-image: url(../res/img/artists/1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-row: 1;
  margin-bottom: 7px;
}

.bnts-container {
  grid-row: 2;
  grid-column: 1 / span 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 40px;
}

.bnts-container .artist-play-btn {
  margin-right: 10px;
  padding: 5px;
  background-color: var(--text);
  color: black;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 8px;
  width: fit-content;
  font-weight: bold;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.artist-play-btn i {
  color: black;
  font-size: 1.3rem;
  margin-right: 5px;
}

.bnts-container .following-btn {
  margin-left: auto;
}

.following-active span,
.following-active i {
  color: blue;
}

.artist-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: ease 0.5;
  font-weight: bold;
}

.artist-btn:active,
.artist-btn:active i {
  color: blue;
  transition: ease 0.5;
}

.artist-btn:hover {
  opacity: 0.6;
}

.artist-btn i {
  font-size: 1.1rem;
  transition: ease 0.5;
}

.popular-songs-container,
.discography-all-songs,
.recent-release {
  padding-top: 20px;
  padding-left: 20px;
  display: grid;
  height: fit-content;
  grid-auto-columns: 1fr;
  margin-left: 30px;
}

@media screen and (max-width: 800px) {
  .popular-songs-container,
  .discography-all-songs,
  .recent-release {
    margin-left: 0;
  }
}

.discography-all-songs {
  padding-left: 0;
  margin-left: 0;
}

.popular-songs-container h1,
.discography h1,
.recent-release h1 {
  font-size: 1.3rem;
  margin-bottom: 20px;
  opacity: 0.5;
}
.popular-songs-container .popular-song,
.discography-song {
  width: 90%;
  height: 60px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 30px 60px 1fr 1fr 50px 30px;
  align-items: center;
  cursor: pointer;
}

.discography-song {
  grid-template-columns: 30px 60px 1fr 1fr 0.3fr 30px;
}

.contributing-artists {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
}

@media screen and (max-width: 800px) {
  .popular-songs-container .popular-song,
  .discography-song {
    width: 95%;
  }
}

.popular-songs-container .popular-song span,
.discography-song span {
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  align-items: center;
  height: 100%;
}

.popular-songs-container .popular-song .left,
.discography-song .left {
  position: relative;
  margin-right: 5px;
}

.play .left .index {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.popular-songs-container .popular-song .left .play,
.discography-song .left .play {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: none;
}

.popular-songs-container .popular-song:hover,
.discography-song:hover {
  background-color: var(--bg3);
}

.popular-songs-container .popular-song:hover .left .play,
.discography-song:hover .left .play {
  display: flex;
}

.popular-songs-container .popular-song:hover .left .index,
.discography-song:hover .left .index {
  opacity: 0;
}

.popular-songs-container .popular-song .left .play i,
.discography-song .left .play {
  font-size: 1.9rem;
}

.popular-songs-container .popular-song .art,
.discography-song .art {
  background-image: url(../res/img/icons/song.png);
  height: 85%;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.popular-songs-container .popular-song .title,
.discography-song .title {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.popular-songs-container .popular-song .streams,
.discography-song .contributing-artists {
  padding-left: 20px;
}

.show-all-popular,
.show-all-discography-songs {
  background-color: var(--bg3);
  width: fit-content;
  margin-top: 10px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.discography {
  width: 100%;
  margin-top: 30px;
  padding-left: 50px;
}

.discography-tabs {
  display: flex;
  background-color: var(--bg);
  transition: ease 0.5s;
}

.sticky-top {
  position: fixed;
  top: 0;
  background-color: var(--bg3);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-left: 20px;
  border-bottom-left-radius: 5px;
  padding-bottom: 10px;
  z-index: 2;
  width: 100%;
  transition: ease 0.5s;
}

.tracker {
  font-size: 0px;
  opacity: 0;
}

.discography .tab {
  width: fit-content;
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 30px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 0.9rem;
  transition: ease 0.3s;
}

.active-tab {
  background-color: var(--bg3);
}

.discography .tab:first-child {
  margin-left: 0;
}

.discography .tab:hover {
  background-color: var(--bg3);
}

.discography .tab .count {
  position: absolute;
  background-color: var(--bg4);
  right: -2px;
  width: 25px;
  display: grid;
  place-items: center;
  height: 25px;
  border-radius: 50%;
  top: -2px;
  font-size: 0.8rem;
  font-weight: bold;
}

.artist-search {
  position: relative;
  width: 100%;
  height: fit-content;
  margin-top: 20px;
  padding-right: 60px;
}

.artist-search input {
  width: 100%;
  border-radius: 20px;
  height: 40px;
  padding-left: 50px;
}

.artist-search .artist-search-icon {
  position: absolute;
  left: 2px;
  bottom: 0;
  height: 100%;
  width: 30px;
  margin-left: 7px;
  display: grid;
  place-items: center;
}

.artist-search .artist-search-icon i {
  font-size: 1.2rem;
}

.artist-album-container,
.artist-playlist-container,
.release-card-container {
  margin-top: 20px;
  padding-right: 30px;
}

.artist-album-container h1,
.artist-playlist-container h1,
.discography-all-songs h1,
.featured-on h1 {
  font-size: 1.1rem;
}

.artist-playlist-container .artist-name {
  opacity: 1;
}

.artist-playlist-container .artist-name:hover {
  text-decoration: unset;
}

.artist-album-container .artists-albums-discography,
.artist-playlist-container .artist-playlist-discography,
.featured-on-card-container,
.release-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
}

.discography-all-songs {
  margin-bottom: 20px;
}

.release-card-container {
  margin-top: 0;
}

.artist-album-container .artist-album-card,
.artist-playlist-container .artist-playlist-card,
.featured-on-card,
.release-card-container .release-card {
  height: 200px;
  margin: 5px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.artist-album-container .artist-album-card:hover,
.featured-on-card:hover,
.artist-playlist-container .artist-playlist-card:hover,
.release-card:hover {
  background-color: var(--bg3);
}

.artist-album-container .artist-album-card .play-circle,
.featured-on-card .play-circle,
.release-card .play-circle,
.artist-playlist-container .artist-playlist-card .play-circle {
  top: unset;
  bottom: -40px;
  opacity: 0;
  visibility: hidden;
  transition: ease 0.3s;
}

.artist-album-container .artist-album-card:hover .play-circle,
.featured-on-card:hover .play-circle,
.release-card:hover .play-circle,
.artist-playlist-container .artist-playlist-card:hover .play-circle {
  bottom: 40%;
  opacity: 1;
  visibility: visible;
  transition: ease 0.3s;
}

.artist-album-container .artist-album-card .art,
.featured-on-card .art,
.artist-playlist-container .artist-playlist-card .art,
.release-card .art {
  width: 95%;
  height: 70%;
  margin-bottom: 10px;
  border-radius: 10px;
  background-image: url(../res/img/icons/playlist.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.artist-album-container .artist-album-card .album-title,
.featured-on-card .title,
.artist-playlist-container .artist-playlist-card .artist-playlist-title,
.release-card .title {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.artist-playlist-container .artist-playlist-card .artist-playlist-title {
  margin-bottom: 20px;
}

.artist-card-type {
  background-color: var(--bg3);
  position: absolute;
  right: 2px;
  opacity: 0.8;
  font-weight: bold;
  font-size: 0.7rem;
  border-radius: 10px;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  bottom: 5px;
}

.recent-release .artist-name {
  opacity: 1;
}

.recent-release .artist-name:hover {
  text-decoration: none;
}

@media screen and (max-width: 650px) {
  .popular-songs-container .popular-song .streams {
    display: none;
  }

  .popular-songs-container .popular-song .duration {
    padding-left: 20px;
  }

  .popular-songs-container .popular-song {
    width: 100%;
    height: 60px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30px 60px 1fr 70px 30px;
    align-items: center;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .artist-album-container .artists-albums-discography,
  .artist-playlist-container .artist-playlist-discography,
  .featured-on-card-container,
  .release-card-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .artist-album-container .artist-album-card,
  .artist-playlist-container .artist-playlist-card,
  .featured-on-card,
  .release-card-container .release-card {
    height: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 50px 60px 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 0;
    padding-top: 10px;
    align-items: center;
  }

  .artist-album-container .artist-album-card .album-title,
  .artist-playlist-container .artist-playlist-card .artist-playlist-title,
  .release-card-container .release-card .title {
    grid-column: 2 / span 3;
    grid-row: 1;
    text-align: start;
    padding-left: 10px;
    align-items: center;
  }

  .artist-album-container .artist-album-card .release-year,
  .artist-playlist-container .release-year,
  .release-card-container .release-card .release-year {
    grid-row: 2;
    grid-column: 2;
    font-size: 1rem;
    padding-left: 10px;
  }

  .artist-album-container .artist-album-card .art,
  .artist-playlist-container .art,
  .release-card-container .release-card .art {
    grid-row: 1 / span 2;
    height: 100%;
    border-radius: 5px;
  }

  .artist-album-container .artist-album-card .artist-card-type,
  .artist-playlist-container .artist-card-type,
  .release-card-container .release-card .artist-card-type {
    font-size: 0.9rem;
    border-radius: 5px;
    margin-right: 10px;
  }

  .artist-album-container .artist-album-card .play-circle,
  .artist-playlist-container .play-circle,
  .release-card-container .release-card .play-circle {
    width: 45px;
    height: 45px;
    z-index: 2;
  }
  .artist-album-container .artist-album-card .play-circle i,
  .artist-playlist-container .play-circle i,
  .release-card-container .release-card .play-circle i {
    font-size: 35px;
    color: var(--text);
    cursor: pointer;
  }

  .artist-album-container .artist-album-card:hover .play-circle,
.featured-on-card:hover .play-circle,
.release-card:hover .play-circle,
.artist-playlist-container .artist-playlist-card:hover .play-circle {
  bottom: 10%;
  opacity: 1;
  visibility: visible;
  transition: ease 0.3s;
}

}
