.content-wrapper {
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  z-index: 0;
}
.main-content {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.top-info {
  width: 100%;
  height: 35vmin;
  background-color: var(--bg3);
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 1fr 40px;
  place-items: center;
  overflow: hidden;
  padding-left: 40px;
  padding-top: 10px;
}

.top-info .left {
  height: 110px;
  width: 140px;
  grid-column: 1;
  background-color: var(--bg4);
  border-radius: 10px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 6rem;
}

.top-info .right {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 40px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-info .right .user-name {
  font-weight: bold;
  font-size: 2rem;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile-info {
  display: flex;
  height: fit-content;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.profile-playlist,
.following {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  opacity: 0.7;
}
.profile-playlist span,
.following span {
  font-size: 0.8rem;
}

.profile-playlist {
  margin-left: 10px;
}

.edit-profile-btn {
  grid-row: 2;
  grid-column: 1 / span 2;
  height: 100%;
  width: 100%;
  padding-left: 40px;
  font-weight: bold;
  font-size: 0.9rem;
  opacity: 0.5;
  cursor: pointer;
  transition: ease 0.2s;
  padding-top: 10px
}

.edit-profile-btn:hover {
  opacity: 1;
}

.single-page-app-link {
  text-decoration: none;
}

.profile-artist-container {
  display: grid;
  width: 100%;
  justify-content: center;
  padding-top: 20px;
  grid-template-columns: 85%;
}

.profile-artist {
  width: 100%;
  height: 80px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
  padding-right: 15px;
}

.profile-artist .artist-pic {
  background-image: url(../res/img/artists/1.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 70px;
  height: 100%;
  border-radius: 50%;
  margin-right: 15px;
}

.following-btn {
  background-color: var(--bg4);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.6;
  border-radius: 10px;
  margin-left: auto;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
}

.following-btn:hover {
  opacity: 1;
  transition: ease 0.3s;
}

