.main-search-box {
  position: fixed;
  top: 35px;
  width: 75vw;
  z-index: 3;
}

.main-search-box input {
  width: 100%;
}

.main-search-box input {
  padding: 8px;
  padding-left: 40px;
  padding-right: 10px;
  font-size: 15px;
}

#s-icon-main i {
  font-size: 17px;
}

.recent-search-container {
  width: calc(75vw - 20px);
  left: 10px;
  height: fit-content;
  position: absolute;
  top: 41.5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-top: 0;
  z-index: 2;
  padding: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  display: none;
}

@media screen and (max-width: 800px) {
  .main-search-box {
    width: 94vw;
  }
  .recent-search-container {
    width: calc(94vw - 20px);
  }
}

.recent-search-container h2 {
  font-size: larger;
  opacity: 0.8;
  margin-bottom: 10px;
  margin-left: 10px;
}

.search-content-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  padding: 0;
  overflow-y: auto;
}

.search-content-container span {
  position: static;
  padding: 0;
}

.search-content-container .prev-search {
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.search-content-container .prev-search:hover {
  background-color: var(--bg3);
}

.search-content-container .prev-search .remove-icon i {
  font-size: 20px;
  cursor: pointer;
  opacity: 0.5;
  transition: ease 0.5s;
  margin-right: 2px;
}
.search-content {
  margin-right: 10px;
  font-size: 10px;
}

.search-content-container .prev-search .remove-icon i:hover {
  opacity: 1;
}

.filter-search-tabs {
  width: 100%;
  display: flex;
  position: absolute;
  background-color: var(--bg);
  padding-bottom: 5px;
  padding-top: 5px;
  overflow-x: auto;
}

.filter-search-tabs .tabs {
  box-shadow: unset;
  font-size: 0.8rem;
}

.search-results {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 40px;
  overflow-x: auto;
  display: none;
}

.top-result {
  width: 310px;
  height: 165px;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.top-result:hover {
  background-color: var(--bg3);
}

.top-result .top {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-image: url(../res/img/arts/fbi.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.top-result .bottom {
  width: 40%;
  width: 100%;
  padding-top: 10px;
}

.top-result .res-info {
  display: flex;
}

.top-result .res-info .result-type {
  width: fit-content;
  height: fit-content;
  background-color: var(--bg4);
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-size: 0.7rem;
}

.search-header h1 {
  font-size: 1.5rem;
  opacity: 0.5;
}

.song-results {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-bottom: 10px;
}

.song-res {
  width: 80%;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 1fr 1fr;
}

.song-res .art-img {
  background-image: url(../res/img/arts/fbi.jpg);
  height: 100%;
  grid-row: 1 / span 2;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.song-res .art-img .play-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(26, 28, 43, 0.8);
  display: grid;
  place-items: center;
  visibility: hidden;
}

.song-res:hover .play-overlay {
  visibility: visible;
}

.song-res:hover {
  background-color: var(--bg3);
}

.song-res .art-img .play-overlay i {
  font-size: 35px;
  cursor: pointer;
  transition: ease 0.1s;
}

.song-res .art-img .play-overlay i:hover {
  opacity: 0.5;
}

.song-res .art-img .play-overlay i:active {
  color: blue;
  font-size: 33px;
}

.song-res .song-title {
  grid-row: 1;
  grid-column: 2;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.song-res .artist-name {
  padding-left: 10px;
  padding-right: 10px;
  grid-row: 2;
  grid-column: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
}

.song-res .song-duration {
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  opacity: 0.5;
}

.album-results,
.playlist-results {
  margin-top: 20px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.album-res-container,
.playlist-rec-container,
.podcast-res-container {
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  grid-template-rows: 1fr 30px;
  padding-bottom: 10px;
}

.playlist-active-res .playlist-rec-container,
.album-active-res .album-res-container,
.podcast-active-res .podcast-res-container {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: initial;
}

.album-res,
.playlist-res,
.podcast-res {
  margin-right: 10px;
  border-radius: 10px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.album-res:hover,
.playlist-res:hover,
.podcast-res:hover {
  cursor: pointer;
  background-color: var(--bg3);
}

.album-res .top,
.playlist-res .top,
.podcast-res .top {
  height: 60%;
  width: 100%;
  border-radius: 10px;
  background-image: url(../res/img/arts/fbi.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.album-res .bottom {
  width: 100%;
  height: 40%;
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 10px;
}
.album-res .bottom .album-title {
  grid-column: 1 / span 2;
  grid-row: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.album-res .bottom .artist-name {
  grid-column: 2;
  grid-row: 2;
  position: relative;
  padding-left: 15px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.release-year {
  opacity: 0.2;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.playlist-res .bottom,
.podcast-res .bottom {
  width: 100%;
  padding-top: 10px;
  height: 30%;
}
.playlist-res .bottom .playlist-name,
.podcast-res .bottom .podcast-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playlist-res .bottom .creator,
.podcast-res .bottom .creator {
  opacity: 0.5;
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playlist-res .bottom .creator .creator-name,
.podcast-res .bottom .creator-name {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artist-res-container {
  grid-template-rows: 250px 40px;
}
.artist-active-res .artist-res-container {
  grid-template-rows: initial;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
