html {
  scroll-padding-top: 2rem;
}

.content {
  padding-left: 16rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.side-bar {
  width: 14rem;
  background-color: var(--secondary);
  height: 100vh;
  padding: 1.5rem;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
}

.top-bar {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  align-items: center;
  z-index: 10;
}

.top-bar .logo {
  display: flex;
}

.top-bar .logo h1 {
  font-size: 1.2rem;
}

.top-bar .logo img {
  height: 2rem;
  margin-right: 1rem;
}

.top-bar a {
  display: flex;
  align-items: center;
}

.side-bar .side-link {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-radius: var(--radius);
  position: relative;
}

.side-bar .side-link .title {
  font-size: 0.7rem;
}

.side-bar .noti-badge {
  width: 1rem;
  height: 1rem;
  position: absolute;
  background-color: var(--brand);
  border-radius: 50%;
  font-size: var(--font-xs);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  right: 2rem;
  top: 0.8rem;
}

.side-bar .active-side-link .noti-badge {
  background-color: var(--white);
  color: var(--brand);
}

.side-bar .side-link:nth-child(1) {
  margin-top: 4rem;
}
.side-bar .side-link i {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.active-side-link {
  background-color: var(--brand);
  color: var(--white);
}

.active-side-link .title {
  color: var(--white);
}

.active-side-link i {
  color: var(--white);
}

.side-bar .side-link:hover {
  background-color: var(--secondary);
  filter: var(--cta-hover);
}

.side-bar .active-side-link:hover {
  background-color: var(--brand);
  filter: var(--cta-hover);
}

.top-bar {
  width: 100%;
  height: 2.5rem;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.greeting {
  display: flex;
  font-size: var(--font-l);
}

.greeting h1 {
  font-size: var(--font-l);
}

.greeting span {
  font-size: var(--font-l);
  color: rgba(0, 0, 0, 0.6);
}

.greeting .first-name {
  color: var(--black);
}

.settings {
  margin-left: auto;
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  transition: var(--transition);
  position: relative;
   box-shadow: 0px 0px 30px -8px rgba(53, 109, 174, 0.8);
}

.settings-active {
  width: 5rem;
  border-radius: var(--radius);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--secondary);
}

.settings:hover {
  background-color: var(--brand);
}
.settings-active:hover {
  background-color: var(--secondary);
}
.settings:hover i {
  color: var(--white);
}
.settings-active:hover i {
  color: var(--black);
}
.settings i {
  font-size: var(--font-l);
  transition: var(--transition);
}

.settings .options {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--secondary);
  border-radius: var(--radius);
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  top: 0;
  visibility: hidden;
  transition: ease 0.3s;
  transform: scale(0);
}

.settings-active .options {
  top: 100%;
  visibility: visible;
  transform: scale(1);
}

.settings .options a {
  display: flex;
  height: 2rem;
  width: 5rem;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.settings .options a:hover {
  background-color: var(--brand);
  color: var(--white);
}

.heading {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: var(--font-m);
  display: flex;
  align-items: flex-end;
}

.section-container {
  width: 100%;
  display: flex;
  background-color: #fff;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: var(--radius);
  padding: 1rem;
  position: relative;
  box-shadow: var(--shadow);
}

.section-container .container-title {
  background-color: var(--white);
  font-size: var(--font-s);
  padding: var(--padding);
  position: absolute;
  left: 1rem;
  top: -25px;
  font-weight: bold;
}

.quick-action {
  height: 6rem;
  width: 8rem;
  border-radius: var(--radius);
  background-color: var(--secondary);
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  user-select: none;
  transition: var(--transition);
  padding: var(--padding);
}

.stat-card {
  background-color: rgba(182, 192, 204, 0.1);
  cursor: default;
}

.quick-action-container {
  justify-content: space-between;
}

@media screen and (max-width: 580px) {
  .quick-action-container {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    display: grid;
    grid-template-columns: 8rem 8rem;
  }
}

.quick-action:hover {
  background-color: var(--secondary);
  filter: var(--cta-hover);
}

.stat-card {
  background-color: var(--secondary);
  cursor: default;
  filter: brightness(100%);
}

.stat-card .number {
  font-weight: bold;
  font-size: 1.5rem;
}

.quick-action-title {
  font-size: var(--font-ss);
  transition: var(--transition);
}

.quick-action .counter {
  position: absolute;
  background-color: var(--brand);
  font-size: var(--font-ss);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  border: 5px solid #fff;
  right: -0.5rem;
  top: -0.5rem;
  font-weight: bold;
}

/* .quick-action:hover .quick-action-title {
  color: var(--white);
} */

.quick-action i {
  font-size: 2rem;
}

/* .quick-action:hover i {
  color: var(--white);
  transition: var(--transition);
} */

@media screen and (max-width: 400px) {
  .quick-action-container {
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  .quick-action {
    height: 6rem;
    width: 100%;
  }
}

.form .file-input input {
  border: 0;
  background-color: var(--white);
  padding: 0;
  border-radius: 0;
}

@media screen and (max-width: 800px) {
  .content {
    padding-left: 1.5rem;
    padding-top: 6rem;
    min-height: 100vh;
    padding-bottom: 8rem;
  }

  body {
    padding-bottom: 0;
  }

  .side-bar {
    flex-direction: row;
    width: 100vw;
    height: fit-content;
    padding: 0;
    top: unset;
    bottom: 0;
    left: 0;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .top-bar .logo {
    display: none;
  }

  .side-bar .side-link .noti-badge {
    top: 1px;
    right: 0.5rem;
  }

  .side-bar .side-link {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
  }
  .side-bar .side-link i {
    width: unset;
    margin: 0;
    padding: 0;
    height: unset;
    margin-bottom: 0.5rem;
    font-size: var(--font-m);
  }
  .side-bar .side-link:nth-child(1) {
    margin: 0;
  }

  .side-bar .side-link {
    font-size: var(--font-ss);
  }
}

@media screen and (max-width: 639px) {
  .side-bar {
    grid-template-columns: repeat(5, auto);
  }

  .side-bar .side-link .title {
    display: none;
  }

  .side-bar .active-side-link {
    width: auto;
  }
  .side-bar .active-side-link .title {
    display: flex;
  }
}

/*Admin page*/

.admin-card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11.5rem, 1fr));
  gap: 2rem;
  margin-top: 1rem;
}

.admin-card,
.add-card {
  background-color: var(--secondary);
  height: 12rem;
  border-radius: var(--radius);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-card span,
.grid-stat .icon {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: var(--brand);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: var(--transition);
}
.add-card span:hover,
.grid-stat .icon:hover {
  filter: var(--cta-hover);
}
.add-card span i {
  color: var(--white);
  font-size: 2rem;
}

.action-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0.5rem;
  align-items: flex-end;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: var(--radius);
}

.action-wrapper i {
  font-size: 0.8rem;
}

.action-wrapper .action {
  height: 1.5rem;
  width: 1.5rem;
  border: 1.5px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  transition: var(--transition);
  display: flex;
  overflow: hidden;
  position: relative;
}

.action-wrapper .action .action-view-overlay,
.action-wrapper .action .action-disable-overlay,
.action-wrapper .action .action-enable-overlay {
  background-color: transparent;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.action-wrapper .action:hover {
  background-color: blue;
  cursor: pointer;
  user-select: none;
  color: var(--white);
  width: 5.7rem;
  justify-content: center;
}

.action-wrapper .action i {
  color: blue;
}

.action-wrapper .action:hover i {
  color: var(--white);
  margin-right: 5px;
}

.action-wrapper .disable-admin {
  border: 1.5px solid red;
  margin-top: 0.5rem;
}

.action-wrapper .disable-admin i {
  color: red;
}

.action-wrapper .disable-admin:hover {
  background-color: red;
  width: 5rem;
}

.disabled .disable-admin {
  display: none;
}

.action-wrapper .enable-admin {
  margin-top: 0.5rem;
  border: 1.5px solid green;
  display: none;
}

.disabled .action-wrapper .enable-admin {
  display: flex;
}

.action-wrapper .enable-admin i {
  color: green;
}

.action-wrapper .enable-admin:hover {
  background-color: green;
  width: 5rem;
}

.action .action-title {
  display: none;
}

.action:hover .action-title {
  display: block;
  color: var(--white);
  font-size: var(--font-ss);
  white-space: nowrap;
}

.admin-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar {
  font-size: 8rem;
  color: #f0f7fa;
  display: none;
}

.no-profile-img .avatar {
  display: flex;
}

.modal-overlay {
  background-color: rgba(53, 109, 174, 0.2);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 11;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
}

.overlay-active {
 visibility: visible;
  opacity: 1;
}

.modal-form,
.view-admin {
  width: 60%;
  padding: 1rem;
  border-radius: var(--radius);
  background-color: var(--white);
  position: fixed;
  z-index: 15;
  align-self: center;
  top: 1rem;
  transform: scale(0);
  box-shadow: 0px 1.4px 5.3px -6px rgba(0, 0, 0, 0.098),
    0px 4.7px 17.9px -6px rgba(0, 0, 0, 0.118),
    0px 21px 80px -6px rgba(0, 0, 0, 0.17);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
}

#delete-member-form{
  align-items: center;
}

.modal-form .input-group input,
.modal-form .input-group textarea {
  border: 2px solid var(--secondary);
}
.form .input-group {
  flex-direction: column;
  height: fit-content;
  width: 100%;
}

.form .input-group label {
  margin-bottom: 0.5rem;
  font-weight: 450;
}

.view-admin-active {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  transition: var(--transition);
}

@media screen and (max-width: 680px) {
  .modal-form,
  .view-admin {
    width: 90%;
  }
}

.modal-form-active {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  transition: var(--transition);
}

.modal-form h1 {
  font-size: var(--font-m);
  text-align: start;
}

.form .tip {
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 3rem;
  border-radius: var(--radius);
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  position: relative;
}

.form .tip .icon {
  background-color: var(--secondary);
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
}

.form .tip .icon i {
  color: var(--brand);
}

.form .tip img {
  width: initial;
  width: fit-content;
  border-radius: 0.7rem;
  margin-top: 0.5rem;
}

@media screen and (min-height: 900px) {
  .form .tip img {
    width: initial;
    width: 100%;
    border-radius: 0.7rem;
    margin-top: 0.5rem;
  }
}

.modal-form .error-text {
  font-size: var(--font-ss);
  width: 100%;
  text-align: start;
  font-weight: bold;
  display: none;
}

.modal-form #v-error {
  color: red;
}

.modal-form #v-success {
  color: green;
}

.btn-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.btn-container .btn {
  padding: var(--padding);
  height: 3rem;
  border-radius: var(--radius);
  border: 0;
  outline: 0;
  cursor: pointer;
  user-select: none;
  width: 7rem;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  user-select: none;
}

#delete-form .btn-container button,
#sp-delete-form .btn-container button {
  width: fit-content;
}

.btn-container .btn i {
  margin-right: 5px;
}
.btn-container button {
  background-color: var(--brand);
  color: var(--white);
  margin-left: auto;
}

.btn-container button:hover {
  background-color: var(--brand);
  filter: var(--cta-hover);
}

.btn-container button i {
  color: var(--white);
}

.btn-container .discard-btn {
  background-color: var(--white);
  border: 2px solid var(--secondary);
  color: var(--black);
}

.btn-container .discard-btn:hover {
  background-color: var(--secondary);
}

.disable-confirmation {
  width: 95%;
  height: 95%;
  position: absolute;
  border-radius: var(--radius);
  box-shadow: 0px 1.4px 5.3px -6px rgba(0, 0, 0, 0.098),
    0px 4.7px 17.9px -6px rgba(0, 0, 0, 0.118),
    0px 21px 80px -6px rgba(0, 0, 0, 0.17);
  background-color: var(--white);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

.disable-admin-active .disable-confirmation {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
  transition: var(--transition);
}

.disable-confirmation .btn {
  width: 4rem;
  padding-left: 0;
  padding-right: 0;
  background-color: var(--white);
  border: 2px solid var(--brand);
  color: var(--black);
  transition: var(--transition);
}

.disable-confirmation .btn:hover {
  background-color: var(--brand);
  color: var(--white);
}

.disable-confirmation .btn-container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
}

.disable-confirmation .btn:nth-child(2) {
  background-color: red;
  color: var(--white);
  margin-left: auto;
}

.disable-confirmation .btn:nth-child(2):hover {
  background-color: red;
  color: var(--white);
}

.view-admin {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.view-admin .profile-img {
  height: 8rem;
  width: 8rem;
  border: 2px solid var(--secondary);
  align-self: center;
  border-radius: 50%;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.view-admin .profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.view-admin .profile-img i {
  font-size: 6rem;
  color: var(--secondary);
}

.view-admin .info {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.info .info-title {
  font-weight: bold;
  width: 5rem;
}

.info .lName {
  margin-left: 5px;
}

.enabled-status {
  background-color: green;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: var(--font-xs);
  color: var(--white);
  border-radius: var(--radius);
}
.disabled-status {
  background-color: red;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: var(--font-xs);
  color: var(--white);
  border-radius: var(--radius);
}

.view-admin .btn-container {
  margin-top: 1rem;
}

.view-admin .close-btn {
  margin-right: auto;
  background-color: var(--brand);
  color: var(--white);
}

.view-admin .close-btn:hover {
  filter: var(--cta-hover);
}

.view-admin .view-disable-btn {
  border: 1px solid red;
}
.view-admin .view-disable-btn:hover {
  background-color: red;
  color: var(--white);
}

.view-admin .view-disable-btn:hover i {
  color: var(--white);
}

.view-admin .view-enable-btn {
  border: 1px solid green;
}

.view-admin .view-enable-btn:hover {
  background-color: green;
  color: var(--white);
}

.view-admin .view-enable-btn:hover i {
  color: var(--white);
}

.settings-form {
  transition: var(--transition);
  background-color: var(--white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--radius);
  margin-bottom: 2rem;
  border: 2px solid var(--secondary);
  margin-top: 2rem;
}

@media screen and (min-height: 800px) {
  .settings-form {
    max-height: unset;
    height: fit-content;
  }
}

@media screen and (max-width: 680px) {
  .modal-form,
  .view-admin {
    width: 90%;
  }
}

.settings-form span {
  all: unset;
}

.settings-form .input-group {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.settings-form .input-group .edit-btn,
.settings-form .input-group .edit-password {
  background-color: var(--brand);
  padding: 0.5rem;
  height: 1rem;
  font-size: var(--font-ss);
  color: var(--white);
  border-radius: var(--radius);
  cursor: pointer;
  user-select: none;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  margin-left: 5px;
}

.settings-form .input-group{
  flex-direction: row;
}

.settings-form .input-group .edit-btn:hover,
.settings-form .input-group .edit-password:hover {
  background-color: var(--brand);
  filter: var(--cta-hover);
}

.settings-form .input-group input {
  width: 70%;
  margin-left: 0.5rem;
  margin-right: auto;
  border-radius: var(--radius);
  border: 0px solid var(--secondary);
  outline: 0;
  background-color: var(--white);
  transition: var(--transition);
  cursor: default;
  padding: 0.5rem;
}

.settings-form .input-group .editable {
  border: 2px solid var(--secondary);
  padding-left: 1rem;
  cursor: auto;
}

.settings-form .input-group .name {
  font-weight: bold;
  width: 9rem;
}

.settings-form .btn-container {
  margin-top: 1rem;
}

.settings-form .btn-container .discard-edit {
  border: 2px solid var(--secondary);
  height: initial;
}

.settings-form .btn-container .discard-edit:hover {
  background-color: var(--secondary);
}

/* .settings-form .btn-container .save-settings {
  display: none;
} */

.settings-form .hidden {
  display: none;
}
#edit-member-form .avatar-upload .avatar-edit input + label:after {
  content: "Change image";
}
.hidden {
  display: none;
}

.message-container {
  flex-direction: column;
  padding: 1rem;
}

.message-container .message {
  display: grid;
  width: 100%;
  grid-template-columns: 30% 1fr 10rem;
  padding: var(--padding);
  border-radius: var(--radius);
  background-color: var(--white);
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.message-container .header {
  display: grid;
  width: 100%;
  grid-template-columns: 30% 1fr 10rem;
  align-items: center;
  padding: var(--padding);
  background-color: var(--secondary);
  border-radius: var(--radius);
}

.message-container .header * {
  font-weight: bold;
  font-size: var(--font-m);
}

.message-container .header {
  grid-template-columns: 10rem 1fr 2.5rem;
}
.message-container .message {
  grid-template-columns: 1fr 2.5rem;
  grid-template-rows: 3rem auto;
  /* grid-gap: 1rem;
  gap: 1rem; */
  justify-content: space-between;
  box-shadow: var(--shadow);
}

.comments-container .message{
  grid-template-columns: 3rem 1fr 2.5rem;
}

.comments-container .message .user-img{
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(53, 109, 174, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.comments-container .message .user-img img{
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.comments-container .no-img .user-img img{
   width: unset;
  opacity: 0.05;
  align-self: center;
  height: 2rem;
}
.message-container .disapproved{
  background-color: var(--secondary);
}


.message-container .message .name{
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: var(--font-s);
  padding-right: 0.5rem;
  cursor: pointer;
}

.message-container .message .name b{
  font-weight: 500;
}

.message-container .message .user-email{
  font-weight: normal;
  opacity: 0.6;
  font-size: 0.8rem;
}

.message-container .message .show-content {
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: auto;
}

.message-container .disapproved .show-content{
  background-color: var(--white);
}
.message-container .message .show-content img {
  height: var(--font-m);
  margin: 0;
  transition: ease 0.2s;
}
.message-container .message-active .show-content img {
  transform: rotate(180deg);
}

.message-container .message .message-content {
  padding: 1rem;
  border-radius: var(--radius);
  background-color: #fff;
  width: 100%;
  grid-column: 1 / span 2;
  display: none;
  margin-top: 1rem;
}

.comments-container .message .message-content{
  grid-column: 1 / span 3;
}

.message-container .message-active .message-content {
  display: flex;
  flex-direction: column;
}

.message-container .message-active .message-content h2 {
  margin-bottom: 0.5rem;
}
.message-container .message-active .message-content .btn-container{
 align-items: center;
 justify-content: unset;
}
.message-container .message-active .message-content .btn-container .cta{
 height: 2.5rem;
 font-size: var(--font-ss);
 width: 7rem;
}


.message-container .message-active .message-content .btn-container .cta:first-child{
  margin-right: 1rem;
}

.message-container .message-active .message-content .btn-container .cta i{
  color: var(--white);
  margin-right: 5px;
  font-size: var(--font-ss);
}

.custom-file-label {
  border-radius: var(--radius);
  outline: 0;
  background-color: var(--secondary);
  padding: var(--padding);
  margin-right: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 50%;
  overflow: hidden;
  align-self: center;
}

.custom-file-label .label-placeholder {
  color: var(--black);
  opacity: 1;
 font-family: "Jost", sans-serif;
  font-size: var(--font-ss);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  text-align: center;
}
.file-container {
  display: flex;
  width: 100%;
}

.file-container form {
  width: 60%;
  display: flex;
}

.input-group .option-selector .select {
  background-color: var(--secondary);
}
.input-group .option-selector .cta-2{
  background-color: var(--secondary);
}
.input-group .option-selector .select .options {
 
  background-color: #dce6f5;}
.file-input-group {
  width: 100%;
}

.delete-file {
  background-color: red;
  width: 3rem;
  margin-left: 1rem;
}
.delete-file:hover {
  background-color: red;
  filter: brightness(90%);
}
.delete-file i {
  color: var(--white);
}

.file-input-group button {
  position: relative;
}

.file-input-group button .upload-text {
  color: var(--white);
}
.file-input-group button .progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background-color: transparent;
  font-weight: bold;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--brand);
  visibility: visible;
  opacity: 1;
  transition: var(--transition);
}

.file-input-group button .progress-text {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  color: var(--brand);
  font-weight: bold;
}

.download-active .file-input-group button {
  background-color: var(--secondary);
}

.download-active .file-input-group button .upload-text {
  opacity: 0;
}

/* Top dashboard*/

.top-dashboard {
  display: grid;
  grid-template-columns: 1fr 60%;
  grid-template-rows: 15rem;
  gap: 2rem;
  grid-gap: 2rem;
  margin-top: 1.5rem;
}

@media screen and (max-width: 800px) {
  .top-dashboard {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.top-dashboard .quick-action-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  grid-gap: 1rem;
  margin: 0;
}

.top-dashboard .quick-action-container .quick-action {
  margin: 0;
  width: 100%;
  height: 100%;
}

.top-dashboard .piechart {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  padding-left: 1rem;
}

.client-chart-wrapper {
  flex-direction: column;
}

.lable-legend ul li {
  list-style-type: none;
}

.lable-legend {
  padding: 2rem;
  background-color: rgba(211, 224, 239, 0.2);
  border-radius: var(--radius);
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lable-legend ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  grid-gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}
@media screen and (max-width: 623px) {
  .lable-legend ul {
    grid-template-columns: 1fr;
  }
}
.lable-legend ul li {
  padding: var(--padding);
  background-color: var(--white);
  border-radius: var(--radius);
  font-size: 0.8rem;
}

canvas {
  display: block;
  width: 100%;
  height: auto;
}

/*Team */

.dashboard-team-container {
  display: flex;
  flex-direction: column;
}
.dashboard-team-container h1 {
  margin-bottom: 1rem;
}
.dashboard-team-container .team-container {
  padding: 1rem;
  background-color: var(--white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1rem;
  grid-gap: 1rem;
  gap: 1rem;
}

@media screen and (max-width: 623px) {
  .dashboard-team-container .team-container {
    grid-template-columns: 1fr 1fr;
  }
}

.dashboard-team-container .card {
  background-color: var(--grey);
  /* box-shadow: var(--shadow); */
  border-radius: var(--radius);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dashboard-team-container .card .name {
  font-weight: bold;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  font-size: 0.8rem;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dashboard-team-container .card .position {
  font-size: 0.8rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dashboard-team-container .card .img {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-team-container .card .img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: var(--radius);
}

.dashboard-team-container .card .btn-container {
  margin: 0;
  margin-top: 0.25rem;
}

.dashboard-team-container .card .btn-container i {
  color: var(--white);
}
.dashboard-team-container .card .btn-container .delete {
  background-color: red;
}

.dashboard-team-container .no-img .img img {
  height: 8rem;
  width: unset;
  opacity: 0.05;
  align-self: center;
}

@media screen and (max-width: 480px) {
  .dashboard-team-container .team-container {
    grid-template-columns: 1fr;
  }

  .dashboard-team-container .card .img {
    height: 18rem;
  }

  .dashboard-team-container .card .name {
    font-size: var(--font-s);
  }

  .dashboard-team-container .no-img .img img {
    height: 12rem;
  }

  .dashboard-team-container .card .position {
    font-size: var(--font-s);
  }
}

.video-container .video {
  background-color: #f0f7fa;

  box-shadow: unset;
  
}
.video-container .video .thumbnail {
  
  background-color: #fff;}
.video-container {
    grid-template-columns: repeat(2, 1fr);
  }
  

  .video-container .video {
    height: 15rem;
  }
  .video-container .video .play-btn {
    top: 9rem;
  }

  .video-container .video .delete-video-btn {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
    padding: 0;
  border-radius: 50%;
   width: 2.5rem;
   height: 2.5rem;
   background-color: red;
   
}


  .video-container .video .delete-video-btn i{
    color: var(--white);
  }

  @media screen and (max-width: 700px) {
  .video-container {
    grid-template-columns: 1fr;
  }
  .video-container .video {
    height: 19rem;
  }
  .video-container .video .play-btn {
    top: 13rem;
  }
}

@media screen and (max-width: 480px) {
  .video-container .video {
    height: 15rem;
  }
  .video-container .video .play-btn {
    top: 9rem;
  }
}

.player {
  margin-bottom: 2rem;
  height: fit-content;
  width: 0;
  border-radius: var(--radius);
  transition: var(--transition);
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  background-color: #fff;
  box-shadow: var(--shadow);
  padding: 1rem;
}

.delete-view-video{
  background-color: red;
  color: white;
  font-size: var(--font-s);
  font-weight: normal;
  align-self: center;
  justify-self: center;
  margin-top: 2rem;
}

.client-container .message .user-email{
  display: flex;
   align-items: center;
}

.client-container .message .user-email span{
  display: flex;
  align-items: center;
}
.client-container .message .user-email span::after{
  content: "";
  height: 7px;
  width: 7px;
  background-color: var(--brand);
  border-radius: 50%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 2px;
}
.client-container .message .date{
  font-size: 0.8rem;
  margin-top: 0.25rem;
  color: var(--brand);
  opacity: 0.6;
}
.client-container .new{
  background-color: var(--secondary);
}

.client-container .new .cta-2{
  background-color: var(--white);
}

.form .search-client {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}
.form .search-client .cta-2{
  width: 3rem;
  height: 3rem;
}
.form .search-client i{
  color: var(--brand);
}

.search-client input{
  border: 2px solid var(--secondary);
}
/* .client-container .message .message-content b{
  width: 10rem;
} */

