@import url("font.css");

* {
  padding: 0;
  margin: 0;
  color: var(--black);
  box-sizing: border-box;
  font-size: var(--font-s);
}

html {
  font-family: "Jost", sans-serif;
  font-size: clamp(15px, 1.5vw, 1.25em);
  background-color: var(--white);
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

:root {
  --black: #08101a;
  --white: #fcfeff;
  --brand: #356dae;
  --secondary: #d3e0ef;
  --grey: #f7f9fc;
  --font-l: 1.4rem;
  --font-m: 1.05rem;
  --font-s: 0.9rem;
  --font-ss: 0.7rem;
  --font-xs: 0.5rem;
  --radius: 0.3rem;
  --padding: 0.8rem;
  --padding-2: calc(var(--padding) * 2 - 0.2rem);
  --transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  --shadow: 0px 0px 50px -10px rgba(53, 109, 174, 0.18);
  --cta-2-hover: brightness(90%);
  --cta-hover: brightness(90%);
  --plyr-color-main: var(--brand);
  --plyr-video-controls-background: linear-gradient(
    rgba(53, 109, 174, 0),
    rgba(53, 109, 174, 0.3),
    rgba(53, 109, 174, 0.8)
  );
}

h1 {
  font-size: var(--font-l);
}

h2 {
  font-size: var(--font-m);
}

p {
  line-height: 1.5rem;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding-bottom: 0;
}

.section {
  margin-top: 5rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  justify-content: space-between;
  width: 100vw;
  margin-top: 0;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f0f7fa;
}

a {
  text-decoration: none;
  color: var(--black);
}

.navbar .links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navbar .links a {
  transition: var(--transition);
  font-size: var(--font-s);
}

.navbar .logo .abriv {
  display: none;
}

.navbar .logo {
  font-weight: bold;
  font-size: var(--font-m);
  display: flex;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .navbar .logo .abriv {
    display: flex;
  }
  .navbar .logo .full {
    display: none;
  }
}
/* .navbar .logo:hover {
  color: var(--black-2);
} */

.navbar .logo img {
  height: 3rem;
  margin-right: 0.5rem;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  margin-left: 1rem;
  height: 100%;
  cursor: pointer;
  user-select: none;
  position: relative;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  transition: all 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  z-index: 10;
}

.mobile-menu .bar {
  width: 2rem;
  height: 4px;
  background-color: var(--secondary);
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.navbar-2 .mobile-menu .bar {
  background-color: var(--black);
}

.mobile-menu .bar:nth-child(2) {
  width: 1.5rem;
  transition: ease 0.2s;
  margin-left: auto;
}

.mobile-menu-active {
  transform: rotate(45deg);
}

.mobile-menu-active .bar {
  position: absolute;
}

.mobile-menu-active .bar:nth-child(2) {
  transform: rotate(90deg);
  width: 2rem;
}

.menu-list {
  width: 100vw;
  height: fit-content;
  padding: var(--padding);
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--brand);
  position: absolute;
  top: 0%;
  left: 0;
  padding: 2rem;
  padding-top: 4rem;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  box-shadow: 0px 5.4px 5.2px rgba(0, 0, 0, 0.024),
    0px 15px 14.4px rgba(0, 0, 0, 0.035), 0px 36.2px 34.7px rgba(0, 0, 0, 0.046),
    0px 120px 115px rgba(0, 0, 0, 0.07);
  align-items: start;
  justify-content: space-between;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar-2 .menu-list {
  background-color: var(--white);
}

.menu-list .submenu-link ul {
  border-left: 1px solid var(--secondary);
  margin-left: 0.25rem;
  list-style: none;
}

.menu-list .submenu-link ul li {
  display: flex;
  margin-left: 0.5rem;
  line-height: 1.5rem;
}
.menu-list .submenu-link ul li a {
  margin: 0;
}
.menu-active {
  opacity: 1;
  top: 0rem;
  display: flex;
  visibility: visible;
}

.menu-list span {
  display: flex;
  flex-direction: column;
}

.menu-list .cta-container {
  height: 100%;
  display: flex;
}

@media screen and (max-width: 340px) {
  .menu-list {
    flex-direction: column;
    align-items: center;
  }

  .menu-list .cta-container {
    margin-top: 2rem;
  }
}

.menu-list .cta-container .cta-2 {
  width: 100%;
  padding-left: var(--padding-2);
  padding-right: var(--padding-2);
  display: flex;
}

.menu-list .cta-container .cta {
  width: fit-content;
  padding-left: var(--padding-2);
  padding-right: var(--padding-2);
  margin-bottom: 1rem;
}
.menu-list .cta-container .cta {
  background-color: var(--white);
  color: var(--black);
}

.navbar-2 .menu-list .cta-container .cta {
  background-color: var(--brand);
  color: var(--white);
}

.menu-list .cta-container .cta-2 {
  color: var(--black);
}

.menu-list a {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  border-radius: var(--radius);
  transition: var(--transition);
  font-weight: 500;
  font-size: var(--font-s);
  color: var(--white);
}

.navbar-2 .menu-list a {
  color: var(--black);
}

.navbar .links .navlink {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--black);
  transition: var(--transition);
  cursor: pointer;
  user-select: none;
}

.navbar .dropdown-link-container {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar .dropdown-link-container .dropdown-links {
  position: absolute;
  top: 120%;
  padding: var(--padding);
  padding-left: var(--padding-2);
  padding-right: var(--padding-2);
  border-radius: var(--radius);
  background-color: var(--secondary);
  left: -30%;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(13, 12, 34, 0.03),
    0px 18px 39px 0px rgba(13, 12, 34, 0.03),
    0px 71px 71px 0px rgba(13, 12, 34, 0.03),
    0px 159px 95px 0px rgba(13, 12, 34, 0.01),
    0px 283px 113px 0px rgba(13, 12, 34, 0),
    0px 442px 124px 0px rgba(13, 12, 34, 0);
  box-shadow: 0px 0px 0px 0px rgba(13, 12, 34, 0.03),
    0px 18px 39px 0px rgba(13, 12, 34, 0.03),
    0px 71px 71px 0px rgba(13, 12, 34, 0.03),
    0px 159px 95px 0px rgba(10, 9, 27, 0.01),
    0px 283px 113px 0px rgba(13, 12, 34, 0),
    0px 442px 124px 0px rgba(13, 12, 34, 0);

  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
}

.navbar .dropdown-link-container:hover .dropdown-links {
  visibility: visible;
  opacity: 1;
}

.navbar-2 .dropdown-link-container .dropdown-links {
  background-color: #fff;
}
.navbar .dropdown-link-container .dropdown-links a {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding-bottom: 0.25rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--white);
  transition: var(--transition);
}
.navbar .dropdown-link-container .dropdown-links a:hover {
  color: var(--brand);
}

.navbar .links .navlink:hover {
  color: var(--brand);
}

.navbar .links .cta:hover {
  color: var(--white);
  background-color: var(--brand);
}

.navbar .links .navlink span {
  display: flex;
}

.cta,
.cta-2 {
  display: flex;
  align-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: var(--padding);
  padding-left: var(--padding-2);
  padding-right: var(--padding-2);
  background-color: var(--brand);
  color: var(--white);
  border-radius: var(--radius);
  transition: var(--transition);
  cursor: pointer;
  user-select: none;
  text-align: center;
  width: fit-content;
  font-weight: bold;
  user-select: none;
  outline: none;
  border: none;
  height: 3rem;
  font-family: "Jost", sans-serif;
}

.cta img {
  height: var(--font-l);
  margin-left: 0.25rem;
}

.cta-2 img {
  height: var(--font-l);
  margin-left: 0.25rem;
}

.cta-2 {
  background-color: var(--secondary);
  color: var(--brand);
}

.cta:hover {
  filter: var(--cta-hover);
}
.cta-2:hover {
  filter: var(--cta-2-hover);
}
.navbar .links .cta {
  color: var(--white);
  background-color: var(--brand);
}

.navbar .links .active-navlink {
  color: var(--brand);
  font-weight: bold;
}

/*Mobile Menu*/
@media screen and (max-width: 824px) {
  .navbar .links .navlink,
  .navbar .dropdown-link-container {
    display: none;
  }

  body {
    overflow-x: hidden;
  }

  .mobile-menu {
    display: flex;
  }

  .menu-list {
    display: flex;
  }

  .navbar .links .nav-cta {
    display: none;
  }
}

/*Form image*/

.avatar-upload {
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: fit-content;
  align-self: center;
}
.avatar-upload .avatar-edit {
  position: relative;
  z-index: 1;
  top: 0px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  width: 100%;
  height: 2rem;
  margin-bottom: 0;
  border-radius: var(--radius);
  background: var(--secondary);
  cursor: pointer;
  user-select: none;
  font-weight: normal;
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

#comment-form .avatar-edit input + label {
  background-color: var(--white);
}

.avatar-upload .avatar-edit input + label:hover {
  filter: var(--cta-hover);
}
.avatar-upload .avatar-edit input + label:after {
  content: "Choose image";
  font-family: "Jost", sans-serif;
  color: var(--black);
  position: relative;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 0.8rem;
}

#comment-form .avatar-upload .avatar-edit input + label:before {
  content: "Choose image";
  font-family: "Jost", sans-serif;
  color: var(--black);
  position: relative;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: 1rem;
  font-size: 0.8rem;
}

#comment-form .avatar-upload .avatar-edit input + label:after {
  content: "Optional";
  font-family: "Jost", sans-serif;
  opacity: 0.5;
  margin-left: 0.5rem;
  font-size: var(--font-ss);
}

.avatar-upload .avatar-preview {
  width: 8rem;
  height: 8rem;
  position: relative;
  border-radius: var(--radius);
  border: 2px solid var(--secondary);
  overflow: hidden;
}

#comment-form .avatar-upload .avatar-preview {
  width: 10rem;
  height: 8rem;
}

#comment-form .avatar-upload .avatar-preview {
  border-radius: var(--radius);
  border: 2px solid var(--grey);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  /* border-radius: 100%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--secondary);
  border-radius: var(--radius);
  margin-top: 2rem;
}
.form-wrapper .form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.form-wrapper .cta {
  width: 50%;
  margin-top: 2rem;
  /* align-self: center; */
}

@media screen and (max-width: 480px) {
  .form-wrapper .cta {
    width: 100%;
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  width: 100%;
}

.input-group input {
  height: 3rem;
}

.input-group label {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.input-group input,
.input-group textarea {
  border-radius: var(--radius);
  outline: 0;
  border: 0px solid var(--secondary);
  padding: var(--padding);
  background-color: var(--white);
  margin-right: 1rem;
  width: 100%;
}
.input-group textarea {
  resize: vertical;
  height: 8rem;
  position: relative;
}
.input-group input::placeholder,
.input-group textarea::placeholder {
  color: rgba(2, 9, 16, 0.5);
  opacity: 1;
  font-family: "Jost", sans-serif;
}

@keyframes drawCheck {
  from {
    stroke-dashoffset: 28;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.optional {
  position: relative;
}

.optional::after {
  content: "Optional";
  font-family: "Jost", sans-serif;
  opacity: 0.5;
  margin-left: 0.5rem;
  font-size: var(--font-ss);
}

/* Login form */

#login-form {
  width: 40%;
}

@media screen and (max-width: 800px) {
  #login-form {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  #login-form {
    width: 100%;
  }
}

#login-form .logo {
  width: 15vmin;
}

#login-form .form button {
  margin-top: 3rem;
  width: 100%;
}

/* Hero Section */

.hero-section {
  display: flex;
  overflow-x: hidden;
  align-items: center;
  padding-top: 7rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.hero-section p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.hero-section .hero-text {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-right: auto;
}

.hero-section .cta-container {
  display: flex;
}

.play-btn {
  margin-left: 2rem;
  padding: 0;
  width: 3rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  transition: var(--transition);
  cursor: pointer;
  user-select: none;
  height: 3rem;
}

.play-btn:hover {
  filter: var(--cta-2-hover);
}

.hero-section .cta-container .play-btn img {
  height: 1.8rem;
}

.hero-section .hero-img svg {
  height: 70vmin;
}

@media screen and (max-width: 999px) {
  .hero-section .hero-img svg {
    height: unset;
    width: 45vmin;
  }
  .hero-section .hero-text {
    width: calc(100% - 45vmin);
  }
}

@media screen and (max-width: 800px) {
  .hero-section {
    flex-direction: column-reverse;
    align-items: center;
  }

  .hero-section .hero-img svg {
    width: 65vmin;
  }

  .hero-section .hero-text {
    width: 100%;
    margin: 0;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .hero-section .hero-img svg {
    width: 90%;
    margin-right: 10rem;
  }
}

@media screen and (max-width: 450px) {
  .hero-section .hero-img svg {
    width: 100%;
    background-color: rgba(53, 109, 174, 0.003);
  }
}
/* Services */
.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-container .cards-container {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-gap: 1rem;
}

@media screen and (max-width: 700px) {
  .services-container .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.services-container .cards-container .card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  height: 10rem;
  text-align: center;
  background-color: var(--white);
}
@media screen and (max-width: 480px) {
  .services-container .cards-container {
    grid-template-columns: 1fr;
  }
}
.services-container .cards-container .card .cta-2 {
  margin-top: 0.5rem;
}

/* Reasons */

.reasons {
  background-color: var(--grey);
  border-radius: var(--radius);
  padding: 2rem;
  display: flex;
  width: 100%;
}

.reasons .reason-img {
  width: 48%;
}

.reasons .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: auto;
}
@media screen and (max-width: 824px) {
  .reasons {
    flex-direction: column;
    align-items: center;
  }
  .reasons .reason-img {
    width: 60%;
  }
  .reasons .info {
    margin: 0;
    margin-top: 2rem;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .reasons .reason-img {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .reasons .reason-img {
    width: 100%;
  }
}
.reasons .info div {
  display: grid;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  align-items: start;
  grid-template-columns: auto 1fr;
}

.reasons .info div p {
  white-space: wrap;
}

.reasons .info div .icon {
  background-color: var(--secondary);
  height: 1.5rem;
  width: 1.5rem;
  display: grid;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.reasons .info .icon img {
  height: var(--font-s);
}

.vids-testi {
  display: flex;
  flex-direction: column;
}

.vids-testi h1 {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.vids-testi h1 a {
  margin-left: auto;
  font-weight: bold;
  color: var(--brand);
}

.video-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-gap: 1rem;
  width: 100%;
}

.video-container .video {
  background-color: var(--white);
  border-radius: var(--radius);
  padding: 1rem;
  height: 15rem;
  box-shadow: var(--shadow);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.video-container .video .thumbnail {
  height: 80%;
  width: 100%;
  border-radius: var(--radius);
  background-color: var(--grey);
  margin-bottom: 1rem;
  display: flex;
  overflow: hidden;
}
.video-container .video .thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.video-container .video .play-btn {
  position: absolute;
  top: 9rem;
  right: 2rem;
  box-shadow: 0px 0px 50px -10px rgba(53, 109, 174, 0.8);
}

@media screen and (max-width: 850px) {
  .video-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .video-container .video {
    height: 18rem;
  }
  .video-container .video .play-btn {
    top: 12rem;
  }
}

@media screen and (max-width: 600px) {
  .video-container {
    grid-template-columns: 1fr;
  }
  .video-container .video {
    height: 19rem;
  }
  .video-container .video .play-btn {
    top: 13rem;
  }
}

@media screen and (max-width: 480px) {
  .video-container .video {
    height: 15rem;
  }
  .video-container .video .play-btn {
    top: 9rem;
  }
}

.video-container .video .title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* comments */

.comments {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* .comments h1{
  margin-bottom: 0.5rem;
} */

.comments .comments-container {
  display: grid;
  grid-template-rows: 15rem;
  gap: 1rem;
  grid-gap: 1rem;
  width: 100%;
  margin-top: 1rem;
  overflow-x: auto;
  overflow-y: visible;
  padding-top: 3rem;
  padding-bottom: 3rem;
  scroll-behavior: smooth;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.comments .comments-container::-webkit-scrollbar {
  display: none;
}

.comments .comments-container::-webkit-scrollbar-thumb {
  background: transparent;
}

.comments .comments-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.comments .comments-container::-webkit-scrollbar-track {
  background: transparent;
}

.comments .comments-container::-moz-scrollbar {
  width: 0;
  height: 0;
}

.comments .comments-container::-moz-scrollbar-thumb {
  background: transparent;
}

.comments .comments-container::-moz-scrollbar-track {
  background: transparent;
}

.comments .comments-container::-ms-scrollbar {
  width: 0;
  height: 0;
}

.comments .comments-container::-ms-scrollbar-thumb {
  background: transparent;
}

.comments .comments-container::-ms-scrollbar-track {
  background: transparent;
}

.comments .comments-container scrollbar {
  width: 0;
  height: 0;
}

.comments .comments-container scrollbar-thumb {
  background: transparent;
}

.comments .comments-container scrollbar-track {
  background: transparent;
}

.comments .comments-container .card {
  border-radius: var(--radius);
  background-color: var(--white);
  box-shadow: var(--shadow);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 15rem;
  width: 20rem;
  grid-row: 1;
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}
.comments .comments-container .card:nth-child(1) {
  margin-left: 2rem;
}
.comments .comments-container .card:last-child {
  margin-right: 2rem;
}

.comments .comments-container .card p {
  background-color: var(--grey);
  padding: 0.5rem;
  border-radius: var(--radius);
  height: 85%;
  overflow-y: auto;
  font-size: 0.8rem;
}

.comments .comments-container .card .client {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.comments .comments-container .card .client .client-img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--grey);
  overflow: hidden;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comments .comments-container .card .client .client-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.comments .comments-container .no-img .client .client-img img {
  height: 2rem;
  width: unset;
  object-fit: unset;
  object-position: unset;
  opacity: 0.05;
}
.comments .comments-container .card .client .name {
  font-weight: bold;
}

/* Second CTA*/

.second-hero-section {
  width: 70%;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .second-hero-section {
    width: 100%;
  }
}

.second-hero-section p {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.second-hero-section .cta-container {
  display: flex;
}

.second-hero-section .cta-container .cta-2 {
  margin-left: 2rem;
}

/*Team*/

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--grey);
  border-radius: var(--radius);
  padding: 2rem;
}

.home-team {
  padding-left: 0;
  padding-right: 0;
}

.team .team-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

@media screen and (max-width: 850px) {
  .team .team-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.home-team .team-container {
  grid-template-columns: unset;
  grid-template-rows: 20rem;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: auto;
  overflow-y: visible;
}

.home-team .team-container::-webkit-scrollbar {
  display: none;
}

.home-team .team-container::-webkit-scrollbar-thumb {
  background: transparent;
}

.home-team .team-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.home-team .team-container::-webkit-scrollbar-track {
  background: transparent;
}

.home-team .team-container::-moz-scrollbar {
  width: 0;
  height: 0;
}

.home-team .team-container::-moz-scrollbar-thumb {
  background: transparent;
}

.home-team .team-container::-moz-scrollbar-track {
  background: transparent;
}

.home-team .team-container::-ms-scrollbar {
  width: 0;
  height: 0;
}

.home-team .team-container::-ms-scrollbar-thumb {
  background: transparent;
}

.home-team .team-container::-ms-scrollbar-track {
  background: transparent;
}

.home-team .team-container scrollbar {
  width: 0;
  height: 0;
}

.home-team .team-container scrollbar-thumb {
  background: transparent;
}

.home-team .team-container scrollbar-track {
  background: transparent;
}

.team .team-container .member {
  height: 20rem;
  border-radius: var(--radius);
  padding: 1rem;
  background-color: var(--white);
}

@media screen and (max-width: 600px) {
  .team .team-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .team .team-container .member {
    height: 25rem;
  }
}

.home-team .team-container .member:nth-child(1) {
  margin-left: 2rem;
}

.home-team .team-container .member:last-child {
  margin-right: 2rem;
}

.home-team .team-container .member {
  grid-row: 1;
  height: 20rem;
  width: 19rem;
}

.team .team-container .member .img {
  border-radius: var(--radius);
  width: 100%;
  height: 80%;
  margin-bottom: 1rem;
  background-color: var(--grey);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .team-container .member .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.team .team-container .no-img .img img {
  height: 10rem;
  width: unset;
  opacity: 0.05;
  align-self: center;
}

.team .team-container .member .info {
  display: flex;
  flex-direction: column;
}

.team .team-container .member .info .name {
  font-weight: bold;
}

.controls {
  display: flex;
  margin-top: 2rem;
}

.controls span,
.controls .pagination a {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--secondary);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.home-team .controls span {
  opacity: 0.5;
}
.home-team .controls .show-btn {
  opacity: 1;
}
.controls span:hover {
  filter: var(--cta-2-hover);
}
.controls span img {
  height: var(--font-l);
}

.controls .prev {
  margin-right: 3rem;
}

.media-content .controls .prev {
  margin-right: 0;
}

.controls .pagination {
  display: flex;
  margin-left: 2rem;
  margin-right: 2rem;
  gap: 1rem;
  grid-gap: 1rem;
}
.controls .pagination a {
  background-color: var(--white);
  outline: 1px solid var(--secondary);
}

.controls .pagination .active {
  background-color: var(--brand);
  color: var(--white);
  font-weight: bold;
  outline: none;
}

/* footer */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  padding-bottom: 4rem;
  background-color: #f0f7fa;
}

.footer .info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media screen and (max-width: 850px) {
  .footer {
    flex-direction: column;
  }

  .footer .footer-section {
    margin-top: 2rem;
  }
  .footer .info {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}
@media screen and (max-width: 850px) {
  .footer .info {
    width: 100%;
  }
}
.footer .info .logo {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.footer .info .logo img {
  height: 3rem;
  margin-right: 0.5rem;
}

.footer .footer-section {
  display: flex;
  flex-direction: column;
}

.footer .footer-section a {
  line-height: 1.5rem;
}

.footer .footer-section .cta {
  margin-top: 1rem;
}

.footer .contact-links * {
  font-size: 0.8rem;
}

/* Contact */

.contact-section,
.reg-section {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-self: center;
}

@media screen and (max-width: 800px) {
  .contact-section,
  .reg-section {
    width: 100%;
  }
}

.contact-section .contact-link {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.contact-section .contact-link .icon {
  height: 3rem;
  width: 3rem;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  margin-right: 1rem;
}

.contact-section .contact-link a {
  text-decoration: underline;
  transition: var(--transition);
}
.contact-section .contact-link a:hover {
  color: var(--brand);
}
.contact-section .contact-link .icon img {
  height: 1.5rem;
}

.input-group .checkbox {
  height: 2rem;
  width: 2rem;
  border-radius: var(--radius);
  background-color: var(--white);
  border: 2px solid var(--secondary);
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  transition: var(--transition);
}

.input-group .checked {
  background-color: var(--brand);
}

@keyframes drawCheck {
  from {
    stroke-dashoffset: 28;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.input-group .checkbox:hover {
  background-color: var(--secondary);
}

.input-group .check-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
  background-color: var(--secondary);
}

.input-group .checked:hover {
  background-color: var(--brand);
}

.input-group .check-wrapper .title {
  cursor: pointer;
}

.input-group .checkbox svg {
  height: 1rem;
  width: 1rem;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

.input-group .checked svg {
  opacity: 1;
  visibility: visible;
  stroke-dasharray: 28;
  stroke-dashoffset: 28;
  animation: drawCheck 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

.input-group .option-selector {
  display: flex;
}

.input-group .option-selector .selected {
  display: flex;
  align-items: center;
  height: 3rem;
}

.input-group .option-selector .select {
  display: flex;
  align-items: center;
  height: 3rem;
  background-color: var(--white);
  width: calc(100% - 4rem);
  margin-right: auto;
  position: relative;
  border-radius: var(--radius);
}

.service-content .input-group .option-selector .select {
  width: 100%;
}

.input-group .option-selector .select-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group .option-selector .selected {
  padding: var(--padding);
  border-radius: var(--radius);
  width: 100%;
  cursor: pointer;
  user-select: none;
  font-size: 0.8rem;
}
@media screen and (max-width: 480px) {
  .input-group .option-selector .selected {
    font-size: 0.7rem;
  }
}
.input-group .option-selector .cta-2 img {
  margin: 0;
  transition: var(--transition);
}
.input-group .option-selector .cta-2 {
  background-color: var(--white);
  width: 3rem;
  margin-left: 1rem;
  padding: 0;
}
.selector-trigger-active img {
  transform: rotate(180deg);
}

.input-group .option-selector .select .options {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 3rem;
  left: 0;
  top: 0;
  background-color: #f0f7fa;
  border-bottom-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-top: 1px solid var(--secondary);
  overflow: hidden;
  transition: var(--transition);
  opacity: 0;
  visibility: hidden;
}

.input-group .option-selector .select-active .options {
  height: fit-content;
  left: 0;
  top: 3rem;
  opacity: 1;
  visibility: visible;
  box-shadow: var(--shadow);
}

.input-group .option-selector .select .options span {
  padding: 0.5rem;
  padding-left: 1rem;
  cursor: pointer;
  user-select: none;
  border-top: 1px solid var(--secondary);
  transition: var(--transition);
  font-size: 0.8rem;
}

.selected-option {
  background-color: var(--brand);
  color: var(--white);
}

.input-group .option-selector .select .options span:hover {
  background-color: var(--grey);
}

.input-group .option-selector .select .options .selected-option:hover {
  background-color: var(--secondary);
  color: var(--black);
}

.selected-box .title {
  color: var(--brand);
  transition: var(--transition);
}

/* Profile */
.profile-content .team {
  align-items: start;
}

.profile-content h1 {
  margin-bottom: 2rem;
}

.profile-content .profile-info {
  padding: 1rem;
  background-color: #fff;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  box-shadow: var(--shadow);
  min-height: 10rem;
}

.profile-content .profile-info p {
  display: flex;
  flex-direction: column;
}

.profile-content .profile-info .sub {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: var(--radius);
  background-color: var(--white);
}

/*Services*/

.service-content {
  flex-direction: row;
}

.service-content .more-services {
  background-color: #fff;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: 1rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 3rem;
  overflow: hidden;

}

.service-content .more-services a {
  display: flex;
  align-items: center;
  background-color: var(--grey);
  border-radius: var(--radius);
  padding: 1rem;
  padding-right: 0;
  margin-top: 1rem;
  height: 3rem;
}
.service-content .more-services .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: calc((100% - 3rem));
  overflow: hidden;
  padding-right: 0.3rem;
}


.service-content .more-services a .cta-2 {
  padding: 0;
  width: 3rem;
  margin-left: auto;
}

.service-content .more-services a .cta-2 img {
  margin: 0;
}

.service-content .service-info {
  display: flex;
  flex-direction: column;
  width: calc(60% - 3rem);
}
@media screen and (max-width: 700px) {
  .service-content{
    flex-direction: column;
  }

  .service-content .more-services{
    width: 100%;
    margin: 0;
    margin-top: 3rem;
  }
  .service-content .service-info{
    width: 100%;
  }
}
.service-content .service-info .packages{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: var(--radius);
  background-color: var(--white);
  width: 10rem; 
  margin-left: 2rem;
  margin-top: 1rem;
}
.service-content .service-info .packages span{
  line-height: 1.5rem;
}

.service-content .service-info p {
  margin-top: 1rem;
}

.service-content .service-info .info {
  padding: 1rem;
  background-color: #fff;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  padding: 1rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.service-content .service-info .info ul {
  padding-left: 1rem;
}
.service-content .service-info .info ul li::marker {
  color: var(--black);
  font-size: var(--font-m);
  font-family: "Jost", sans-serif;
}
.service-content .service-info .info .number-list {
  list-style: decimal;
}

.service-content .service-info .info .number-list li::marker {
  font-size: var(--font-s);
}

.service-content .service-info .info h2 {
  margin-bottom: 0.5rem;
}

.service-content .service-info .info ul li {
  line-height: 1.8rem;
}

/* Media */

.media-content {
  align-items: center;
}

.tabs {
  background-color: var(--secondary);
  border-radius: 2rem;
  display: flex;
  padding: 0.25rem;
  margin-bottom: 3rem;
}

.tabs span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding);
  padding-left: var(--padding-2);
  padding-right: var(--padding-2);
  border-radius: calc(2rem - 0.25rem);
  height: 3rem;
  width: 8rem;
  transition: var(--transition);
  user-select: none;
  cursor: pointer;
}
.tabs span:hover {
  background-color: var(--secondary);
  filter: var(--cta-2-hover);
}
.tabs span:nth-child(2) {
  margin-left: 2rem;
}

.tabs .active-tab {
  background-color: var(--brand);
  color: var(--white);
}

.tabs .active-tab:hover {
  background-color: var(--brand);
}

.adverts,
.testimonials {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  transition: var(--transition);
  transition: opacity 0s, transform 0.5s;
  opacity: 0;
}

.testimonials {
  position: absolute;
  transform: translateX(100vw);
  visibility: hidden;
}

.adverts {
  position: absolute;
  transform: translateX(-100vw);
  visibility: hidden;
}

.adverts-active,
.testimonials-active {
  position: relative;
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.adverts-inctive,
.testimonials-inctive {
  position: absolute;
  top: -100vh;
}

.media-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media-cta * {
  text-align: center;
}
.media-cta h1 {
  margin-bottom: 0.5rem;
}

.media-cta a {
  font-weight: bold;
  color: var(--brand);
}

/*Comments page*/

.comment-content {
  width: 70%;
  align-self: center;
}

/*Player page*/
.player-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player {
  margin-bottom: 2rem;
  height: fit-content;
  width: 0;
  border-radius: var(--radius);
  transition: var(--transition);
  width: 70%;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  background-color: #fff;
  box-shadow: var(--shadow);
  padding: 1rem;
}

.player .custm-playr-wrapper {
  width: 100%;
  display: flex;
  border-radius: var(--radius);
  overflow: hidden;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr;
}

.player .cta {
  align-self: center;
  justify-self: center;
  font-size: var(--font-s);
  margin-top: 0.5rem;
}

.player .custm-playr-wrapper video {
  width: 100%;
  aspect-ratio: 16 / 9;
}

@media screen and (max-width: 800px) {
  .player {
    width: 100%;
  }
}

.plyr__control svg {
  fill: var(--white);
}

.plyr--video .plyr__controls {
  padding-top: 1rem;
}

.plyr--stopped .plyr__controls {
  opacity: 0;
  pointer-events: none;
  transform: translateY(100%);
}
.plyr__controls .plyr__controls__item.plyr__time {
  color: var(--white);
}

/* 
  .more-videos{
    width: 70%;
    background-color: #fff;
    padding: 1rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
  } */
