<div class="album-wrapper">
  <div class="top-section">
    <div
      style="background-image: url(./res/img/arts/5.jpg)"
      class="album-art glassmorphism"
    ></div>
    <div class="album-info-container">
      <div contenteditable="true" class="album-name">
        2014 Forest Hills Drive
      </div>

      <div class="album-info">
        <span class="artist-name">J. Cole</span> •
        <span class="release-year">2014</span> •
        <span class="song-count"><span class="count"></span> Songs</span>
      </div>
    </div>
    <div class="tool-bar">
      <div class="play-button"><i class="bi bi-play-fill"></i> Play</div>

      <div class="shuffle-button"><i class="bi bi-shuffle"></i> Shuffle</div>

      <div class="share-button"><i class="bi bi-share"></i> Share</div>

      <div class="more-button"><i class="bi bi-three-dots"></i> More</div>
    </div>
  </div>

  <div class="song-list">
    <div class="header-number table-header">#</div>
    <div class="header-title table-header">Title</div>
    <div class="header-date table-header">Artist</div>
    <div class="header-duration table-header">
      <i class="bi bi-clock"></i>
    </div>
    <div class="header-action table-header"></div>

    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">Intro </span>
      </span>

      <a href="" class="artist-name">J. Cole</a>
      <span class="song-duration">3:00</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>
    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">January 28th</span>
      </span>

      <a href="" class="artist-name">J. Cole</a>
      <span class="song-duration">2:09</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>
    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">Wet Dreamz</span>
      </span>

      <a href="" class="artist-name">J. Cole</a>
      <span class="song-duration">4:02</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>
    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">03's Adolescence</span>
      </span>

      <a href="" class="artist-name">J. Cole</a>
      <span class="song-duration">3:59</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>
    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">A Tale Of 2 Citiez</span>
      </span>

      <a href="" class="artist-name">J. Cole</a>
      <span class="song-duration">4:24</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>
    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">Fire Squad</span>
      </span>

      <a href="" class="artist-name">J. Cole</a>
      <span class="song-duration">4:29</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>
    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">St. Tropez</span>
      </span>

      <a href="" class="artist-name">J. Cole</a>
      <span class="song-duration">4:38</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>

    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">G.O.M.D</span>
      </span>

      <a href="" class="artist-name">J. Cole</a>
      <span class="song-duration">5:01</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>

    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">No Role Modelz</span>
      </span>

      <a href="" class="artist-name">J. Cole</a>
      <span class="song-duration">4:52</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>

    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">Hello</span>
      </span>

      <a href="" class="artist-name">J. Cole</a>
      <span class="song-duration">3:31</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>

    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">Apparently</span>
      </span>

      <a href="" class="artist-name">J. Cole</a>
      <span class="song-duration">3:00</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>

    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">Love Yourz</span>
      </span>

      <a href="" class="artist-name">J. Cole</a>
      <span class="song-duration">3:00</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>

    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">Note To Self</span>
      </span>

      <a href="" class="artist-name">J. Cole</a>
      <span class="song-duration">14:35</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>
  </div>

  <link rel="stylesheet" href="./css/album.css" />
</div>
