<div class="artist-page-wrapper">
  <div class="top-section">
    <div class="artist-info glassmorphism"></div>

    <div class="artists-page-info">
      <div class="name">J. Cole</div>
      <div class="stats">
        <span class="followers">
          <span class="count">700K</span> Followers
        </span>

        •
        <span class="albums"> <span class="count">7</span> Albums & EPs </span>

        •
        <span class="monthly-listeners">
          <span class="count">100M</span> Monthly Listers
        </span>
      </div>
    </div>

    <div class="bnts-container">
      <span class="artist-play-btn">
        <i class="bi bi-play-fill"></i> Play All
      </span>

      <span class="following-btn artist-btn">
        <i class="bi bi-plus-lg"></i>
        <span>Follow</span>
      </span>

      <span title="copy artist's link" class="share-btn artist-btn">
        <i class="bi bi-share"></i> Share
      </span>

      <span class="info-btn artist-btn">
        <i class="bi bi-info-circle-fill"></i>
        Artist Info
      </span>
    </div>
  </div>

  <div class="popular-songs-container">
    <h1>Top Tracks</h1>
    <div class="popular-song">
      <span class="left"
        ><span class="index"></span>
        <span class="play"><i class="bi bi-play-fill"></i></span>
      </span>
      <span
        style="background-image: url(./res/img/arts/5.jpg)"
        class="art"
      ></span>
      <span class="title">No Role Modelz</span>
      <span class="streams">1,555,477,476</span>
      <span class="duration">4:52</span>
      <span class="more"><i class="bi bi-three-dots"></i></span>
    </div>
    <div class="popular-song">
      <span class="left"
        ><span class="index"></span>
        <span class="play"><i class="bi bi-play-fill"></i></span>
      </span>
      <span
        style="background-image: url(./res/img/arts/middle.png)"
        class="art"
      ></span>
      <span class="title">Middle Child</span>
      <span class="streams">1,011,403,419</span>
      <span class="duration">3:59</span>
      <span class="more"><i class="bi bi-three-dots"></i></span>
    </div>
    <div class="popular-song">
      <span class="left"
        ><span class="index"></span>
        <span class="play"><i class="bi bi-play-fill"></i></span>
      </span>
      <span
        style="background-image: url(./res/img/arts/she.jpg)"
        class="art"
      ></span>
      <span class="title"
        >She knows (feat. Amber Coffman & Cults) fnsadbfs sjfhsdkhf sjkhdfs
        skjfhs ajshd ahsjkgdj</span
      >
      <span class="streams">486,041,715</span>
      <span class="duration">4:56</span>
      <span class="more"><i class="bi bi-three-dots"></i></span>
    </div>
    <div class="popular-song">
      <span class="left"
        ><span class="index"></span>
        <span class="play"><i class="bi bi-play-fill"></i></span>
      </span>
      <span
        style="background-image: url(./res/img/arts/work.jpg)"
        class="art"
      ></span>
      <span class="title">Wort Out</span>
      <span class="streams">659,709,240</span>
      <span class="duration">3:55</span>
      <span class="more"><i class="bi bi-three-dots"></i></span>
    </div>
    <div class="popular-song">
      <span class="left"
        ><span class="index"></span>
        <span class="play"><i class="bi bi-play-fill"></i></span>
      </span>
      <span
        style="background-image: url(./res/img/arts/mylife.jpg)"
        class="art"
      ></span>
      <span class="title">my.life (with 21 Savage & Morray)</span>
      <span class="streams">31,565,614</span>
      <span class="duration">3:38</span>
      <span class="more"><i class="bi bi-three-dots"></i></span>
    </div>
    <div class="popular-song">
      <span class="left"
        ><span class="index"></span>
        <span class="play"><i class="bi bi-play-fill"></i></span>
      </span>
      <span
        style="background-image: url(./res/img/arts/she.jpg)"
        class="art"
      ></span>
      <span class="title">Power Trip(Feat. Miguel)</span>
      <span class="streams">21,265,614</span>
      <span class="duration">4:01</span>
      <span class="more"><i class="bi bi-three-dots"></i></span>
    </div>
    <div class="popular-song">
      <span class="left"
        ><span class="index"></span>
        <span class="play"><i class="bi bi-play-fill"></i></span>
      </span>
      <span
        style="background-image: url(./res/img/arts/mylife.jpg)"
        class="art"
      ></span>
      <span class="title">pride.is.the.devil(with Lil Baby)</span>
      <span class="streams">11,665,814</span>
      <span class="duration">3:38</span>
      <span class="more"><i class="bi bi-three-dots"></i></span>
    </div>
    <div class="popular-song">
      <span class="left"
        ><span class="index"></span>
        <span class="play"><i class="bi bi-play-fill"></i></span>
      </span>
      <span
        style="background-image: url(./res/img/arts/5.jpg)"
        class="art"
      ></span>
      <span class="title">Love Yourz</span>
      <span class="streams">288,565,614</span>
      <span class="duration">3:31</span>
      <span class="more"><i class="bi bi-three-dots"></i></span>
    </div>
    <div class="popular-song">
      <span class="left"
        ><span class="index"></span>
        <span class="play"><i class="bi bi-play-fill"></i></span>
      </span>
      <span
        style="background-image: url(./res/img/arts/kev.jpg)"
        class="art"
      ></span>
      <span class="title">Kevin's Heart</span>
      <span class="streams">31,565,614</span>
      <span class="duration">3:20</span>
      <span class="more"><i class="bi bi-three-dots"></i></span>
    </div>
    <div class="popular-song">
      <span class="left"
        ><span class="index"></span>
        <span class="play"><i class="bi bi-play-fill"></i></span>
      </span>
      <span
        style="background-image: url(./res/img/arts/mylife.jpg)"
        class="art"
      ></span>
      <span class="title">95.south</span>
      <span class="streams">31,565,614</span>
      <span class="duration">2:02</span>
      <span class="more"><i class="bi bi-three-dots"></i></span>
    </div>

    <div class="show-all-popular">See More</div>
  </div>

  <div class="recent-release">
    <h1>Latest from <span class="artist-name"> J Cole</span></h1>

    <div class="release-card-container">
      <div class="release-card glassmorphism">
        <div class="play-circle">
          <i class="bi bi-play-circle-fill"></i>
        </div>
        <div
          style="background-image: url(./res/img/arts/90.jpg)"
          class="art"
        ></div>
        <span class="artist-card-type">Single</span>
        <div class="title">90 Proof (with J.Cole)</div>
        <div class="release-year">2023</div>
      </div>
      <div class="release-card glassmorphism">
        <div class="play-circle">
          <i class="bi bi-play-circle-fill"></i>
        </div>
        <div
          style="background-image: url(./res/img/arts/dday.jpeg)"
          class="art"
        ></div>
        <span class="artist-card-type">Album</span>
        <div class="title">D-Day: A Gangsta Grillz Mixtape</div>
        <div class="release-year">2022</div>
      </div>
      <div class="release-card glassmorphism">
        <div class="play-circle">
          <i class="bi bi-play-circle-fill"></i>
        </div>
        <div
          style="background-image: url(./res/img/arts/lodon.jpg)"
          class="art"
        ></div>
        <span class="artist-card-type">Single</span>
        <div class="title">LONDON(With J Cole)</div>
        <div class="release-year">2022</div>
      </div>
      <div class="release-card glassmorphism">
        <div class="play-circle">
          <i class="bi bi-play-circle-fill"></i>
        </div>
        <div
          style="background-image: url(./res/img/arts/sca.jpg)"
          class="art"
        ></div>
        <span class="artist-card-type">Single</span>
        <div class="title">Scared Money</div>
        <div class="release-year">2022</div>
      </div>
    </div>
  </div>

  <div class="discography">
    <div class="discography-tabs">
      <div data-title="Albums & EPs" class="tab glassmorphism">
        Albums & EPs <span class="count">7</span>
      </div>

      <div data-title="Singles" class="tab glassmorphism">
        Singles
        <span class="count">
          15
          <!-- if the count is 1000 or more use the 1K convertion -->
        </span>
      </div>
      <div data-title="Playlists" class="tab glassmorphism">
        Playlists <span class="count">1</span>
      </div>
    </div>

    <div class="tracker">
      .
      <!--tracks the position of the tabs to make the tabs sticky when it
              gets to the top of the screen -->
    </div>

    <div class="artist-search">
      <input type="text" placeholder="Search..." class="glassmorphism" />
      <span class="artist-search-icon"><i class="bi bi-search"></i></span>
    </div>

    <div class="artist-album-container">
      <h1>Albums & EPs</h1>

      <div class="artists-albums-discography">
        <div class="artist-album-card glassmorphism">
          <div class="play-circle">
            <i class="bi bi-play-circle-fill"></i>
          </div>
          <div
            style="background-image: url(./res/img/arts/dday.jpeg)"
            class="art"
          ></div>
          <span class="artist-card-type">Album</span>
          <div class="album-title">D-Day: A Gangsta Grillz Mixtape</div>
          <div class="release-year">2022</div>
        </div>
        <div class="artist-album-card glassmorphism">
          <div class="play-circle">
            <i class="bi bi-play-circle-fill"></i>
          </div>
          <div
            style="background-image: url(./res/img/arts/mylife.jpg)"
            class="art"
          ></div>
          <span class="artist-card-type">Album</span>
          <div class="album-title">The Off-Season</div>
          <div class="release-year">2021</div>
        </div>
        <div class="artist-album-card glassmorphism">
          <div class="play-circle">
            <i class="bi bi-play-circle-fill"></i>
          </div>
          <div
            style="background-image: url(./res/img/arts/rev.jpg)"
            class="art"
          ></div>
          <span class="artist-card-type">Album</span>
          <div class="album-title">Revenge Of The Dreamers III</div>
          <div class="release-year">2020</div>
        </div>
        <div class="artist-album-card glassmorphism">
          <div class="play-circle">
            <i class="bi bi-play-circle-fill"></i>
          </div>
          <div
            style="background-image: url(./res/img/arts/rev2.png)"
            class="art"
          ></div>
          <span class="artist-card-type">Album</span>
          <div class="album-title">Revenge Of The Dreamers II</div>
          <div class="release-year">2019</div>
        </div>
        <div class="artist-album-card glassmorphism">
          <div class="play-circle">
            <i class="bi bi-play-circle-fill"></i>
          </div>
          <div
            style="background-image: url(./res/img/arts/kod.jpg)"
            class="art"
          ></div>
          <span class="artist-card-type">Album</span>
          <div class="album-title">KOD</div>
          <div class="release-year">2020</div>
        </div>
        <div class="artist-album-card glassmorphism">
          <div class="play-circle">
            <i class="bi bi-play-circle-fill"></i>
          </div>
          <div
            style="background-image: url(./res/img/arts/eyes.jpg)"
            class="art"
          ></div>
          <span class="artist-card-type">Album</span>
          <div class="album-title">For Your Eyez Only</div>
          <div class="release-year">2014</div>
        </div>
        <div class="artist-album-card glassmorphism">
          <div class="play-circle">
            <i class="bi bi-play-circle-fill"></i>
          </div>
          <div
            style="background-image: url(./res/img/arts/5.jpg)"
            class="art"
          ></div>
          <span class="artist-card-type">Album</span>
          <div class="album-title">2014 Forest Hill Drive</div>
          <div class="release-year">2014</div>
        </div>
      </div>
    </div>

    <div class="discography-all-songs">
      <h1>Singles</h1>
      <div class="discography-song">
        <span class="left"
          ><span class="index"></span>
          <span class="play"><i class="bi bi-play-fill"></i></span>
        </span>
        <span
          style="background-image: url(./res/img/arts/90.jpg)"
          class="art"
        ></span>
        <span class="title">90 Proof(with J.Cole</span>
        <span class="contributing-artists">
          <a href="" class="artist-name">Smino</a>,<a
            href=""
            class="artist-name"
            >J. Cole</a
          >
        </span>
        <span class="duration">3:38</span>
        <span class="more"><i class="bi bi-three-dots"></i></span>
      </div>
      <div class="discography-song">
        <span class="left"
          ><span class="index"></span>
          <span class="play"><i class="bi bi-play-fill"></i></span>
        </span>
        <span
          style="background-image: url(./res/img/arts/lodon.jpg)"
          class="art"
        ></span>
        <span class="title">LONDON (feat. J. Cole)</span>
        <span class="contributing-artists">
          <a href="" class="artist-name">BIA</a>,<a href="" class="artist-name"
            >J. Cole</a
          >
        </span>
        <span class="duration">4:10</span>
        <span class="more"><i class="bi bi-three-dots"></i></span>
      </div>
      <div class="discography-song">
        <span class="left"
          ><span class="index"></span>
          <span class="play"><i class="bi bi-play-fill"></i></span>
        </span>
        <span
          style="background-image: url(./res/img/arts/sca.jpg)"
          class="art"
        ></span>
        <span class="title">Scared Money(with J. Cole and Moneybagg Yo)</span>
        <span class="contributing-artists">
          <a href="" class="artist-name">YG</a>,<a href="" class="artist-name"
            >J. Cole</a
          >, <a href="" class="artist-name">Moneybagg Yo</a>
        </span>
        <span class="duration">3:24</span>
        <span class="more"><i class="bi bi-three-dots"></i></span>
      </div>
      <div class="discography-song">
        <span class="left"
          ><span class="index"></span>
          <span class="play"><i class="bi bi-play-fill"></i></span>
        </span>
        <span
          style="background-image: url(./res/img/arts/jonny.jpg)"
          class="art"
        ></span>
        <span class="title">Johnny P's Caddy</span>
        <span class="contributing-artists">
          <a href="" class="artist-name">Benny The Butcher</a>,<a
            href=""
            class="artist-name"
            >J. Cole</a
          >
        </span>
        <span class="duration">3:45</span>
        <span class="more"><i class="bi bi-three-dots"></i></span>
      </div>
      <div class="discography-song">
        <span class="left"
          ><span class="index"></span>
          <span class="play"><i class="bi bi-play-fill"></i></span>
        </span>
        <span
          style="background-image: url(./res/img/arts/heart.jpg)"
          class="art"
        ></span>
        <span class="title">Your Heart</span>
        <span class="contributing-artists">
          <a href="" class="artist-name">Joyner Lucas</a>,<a
            href=""
            class="artist-name"
            >J. Cole</a
          >
        </span>
        <span class="duration">3:18</span>
        <span class="more"><i class="bi bi-three-dots"></i></span>
      </div>
      <div class="discography-song">
        <span class="left"
          ><span class="index"></span>
          <span class="play"><i class="bi bi-play-fill"></i></span>
        </span>
        <span
          style="background-image: url(./res/img/arts/poke.jpg)"
          class="art"
        ></span>
        <span class="title">Poke It Out(feat. J. Cole)</span>
        <span class="contributing-artists">
          <a href="" class="artist-name">Wale</a>,<a href="" class="artist-name"
            >J. Cole</a
          >, <a href="" class="artist-name">Wale</a>,<a
            href=""
            class="artist-name"
            >Cool & Dre</a
          >
        </span>
        <span class="duration">3:03</span>
        <span class="more"><i class="bi bi-three-dots"></i></span>
      </div>
      <div class="discography-song">
        <span class="left"
          ><span class="index"></span>
          <span class="play"><i class="bi bi-play-fill"></i></span>
        </span>
        <span
          style="background-image: url(./res/img/arts/lio.jpg)"
          class="art"
        ></span>
        <span class="title">Lion King On Ice</span>
        <span class="contributing-artists"
          ><a href="" class="artist-name">J. Cole</a>
        </span>
        <span class="duration">3:30</span>
        <span class="more"><i class="bi bi-three-dots"></i></span>
      </div>
      <div class="discography-song">
        <span class="left"
          ><span class="index"></span>
          <span class="play"><i class="bi bi-play-fill"></i></span>
        </span>
        <span
          style="background-image: url(./res/img/arts/snow.png)"
          class="art"
        ></span>
        <span class="title">Know On Tha Bluff</span>
        <span class="contributing-artists"
          ><a href="" class="artist-name">J. Cole</a>
        </span>
        <span class="duration">3:55</span>
        <span class="more"><i class="bi bi-three-dots"></i></span>
      </div>
      <div class="discography-song">
        <span class="left"
          ><span class="index"></span>
          <span class="play"><i class="bi bi-play-fill"></i></span>
        </span>
        <span
          style="background-image: url(./res/img/arts/theland.jpg)"
          class="art"
        ></span>
        <span class="title">The London(feat. J. Cole & Travis Scott</span>
        <span class="contributing-artists">
          <a href="" class="artist-name">Young Thug</a>,<a
            href=""
            class="artist-name"
            >J. Cole</a
          >,<a href="" class="artist-name">Travis Scott</a>
        </span>
        <span class="duration">3:20</span>
        <span class="more"><i class="bi bi-three-dots"></i></span>
      </div>
      <div class="discography-song">
        <span class="left"
          ><span class="index"></span>
          <span class="play"><i class="bi bi-play-fill"></i></span>
        </span>
        <span
          style="background-image: url(./res/img/arts/middle.png)"
          class="art"
        ></span>
        <span class="title">MIDDLE CHILD</span>
        <span class="contributing-artists">
          <a href="" class="artist-name">J. Cole</a>
        </span>
        <span class="duration">3:33</span>
        <span class="more"><i class="bi bi-three-dots"></i></span>
      </div>
      <div class="discography-song">
        <span class="left"
          ><span class="index"></span>
          <span class="play"><i class="bi bi-play-fill"></i></span>
        </span>
        <span
          style="background-image: url(./res/img/arts/ofyear.jpg)"
          class="art"
        ></span>
        <span class="title">Album of the year - Freestyle</span>
        <span class="contributing-artists">
          <a href="" class="artist-name">Smino</a>,<a
            href=""
            class="artist-name"
            >J. Cole</a
          >
        </span>
        <span class="duration">2:18</span>
        <span class="more"><i class="bi bi-three-dots"></i></span>
      </div>
      <div class="discography-song">
        <span class="left"
          ><span class="index"></span>
          <span class="play"><i class="bi bi-play-fill"></i></span>
        </span>
        <span
          style="background-image: url(./res/img/arts/high.jpg)"
          class="art"
        ></span>
        <span class="title">High For Hours</span>
        <span class="contributing-artists"
          ><a href="" class="artist-name">J. Cole</a>
        </span>
        <span class="duration">4:11</span>
        <span class="more"><i class="bi bi-three-dots"></i></span>
      </div>
      <div class="discography-song">
        <span class="left"
          ><span class="index"></span>
          <span class="play"><i class="bi bi-play-fill"></i></span>
        </span>
        <span
          style="background-image: url(./res/img/arts/ev.jpg)"
          class="art"
        ></span>
        <span class="title">Everybody Dies</span>
        <span class="contributing-artists"
          ><a href="" class="artist-name">J. Cole</a>
        </span>
        <span class="duration">2:41</span>
        <span class="more"><i class="bi bi-three-dots"></i></span>
      </div>
      <div class="discography-song">
        <span class="left"
          ><span class="index"></span>
          <span class="play"><i class="bi bi-play-fill"></i></span>
        </span>
        <span
          style="background-image: url(./res/img/arts/false.jpg)"
          class="art"
        ></span>
        <span class="title">False Prophets</span>
        <span class="contributing-artists"
          ><a href="" class="artist-name">J. Cole</a>
        </span>
        <span class="duration">3:57</span>
        <span class="more"><i class="bi bi-three-dots"></i></span>
      </div>
      <div class="discography-song">
        <span class="left"
          ><span class="index"></span>
          <span class="play"><i class="bi bi-play-fill"></i></span>
        </span>
        <span
          style="background-image: url(./res/img/arts/free.jpg)"
          class="art"
        ></span>
        <span class="title">Be Free</span>
        <span class="contributing-artists"
          ><a href="" class="artist-name">J. Cole</a>
        </span>
        <span class="duration">4:01</span>
        <span class="more"><i class="bi bi-three-dots"></i></span>
      </div>
    </div>

    <div class="artist-playlist-container">
      <h1>Playlists by <span class="artist-name">J Cole</span></h1>

      <div class="artist-playlist-discography">
        <div class="artist-playlist-card glassmorphism">
          <div class="play-circle">
            <i class="bi bi-play-circle-fill"></i>
          </div>
          <div
            style="background-image: url(./res/img/arts/DreamvilleROTD2.jpeg)"
            class="art"
          ></div>
          <span class="artist-card-type">Playlist</span>
          <div class="artist-playlist-title">Revenge Of The Dreamers II</div>
        </div>
      </div>
    </div>
  </div>

  <link rel="stylesheet" href="./css/artist.css" />
</div>
