<div class="explore-wrapper">
  <div class="header">Explore</div>
  <div class="header-bg"></div>
  <div class="explore-left">
    <div class="banner-container">
      <div class="trending-banner">
        <div class="left">
          <h1>R&B Hits Of All Time</h1>
          <p>Listen to some of the most popular R&B songs of all time</p>

          <div class="explore-play">Listen Now</div>
        </div>

        <div
          style="background-image: url(../res/img/icons/2.png)"
          class="right"
        ></div>
      </div>

      <div class="trending-banner">
        <div class="left">
          <h1>Christian Hip-Hop/Rap</h1>
          <p>
            Listen to some of the most popular Christian Hip-Hop/Rap songs of
            all time
          </p>

          <div class="explore-play">Listen Now</div>
        </div>

        <div
          style="background-image: url(../res/img/icons/3.png)"
          class="right"
        ></div>
      </div>

      <div class="trending-banner">
        <div class="left">
          <h1>Trending Artists</h1>
          <p>Listen to some current trending artists</p>

          <div class="explore-play">Listen Now</div>
        </div>

        <div
          style="background-image: url(../res/img/icons/4.png)"
          class="right"
        ></div>
      </div>

      <div class="trending-banner">
        <div class="left">
          <h1>Music Legends</h1>
          <p>Listen to some of the most iconic artists of all time</p>

          <div class="explore-play">Listen Now</div>
        </div>

        <div
          style="background-image: url(../res/img/icons/5.png)"
          class="right"
        ></div>
      </div>

      <div class="trending-banner">
        <div class="left">
          <h1>Hip-Hop Hits Of All Time</h1>
          <p>
            Listen to some of the most popular Hip-Hop/Rap songs of all time
          </p>

          <div class="explore-play">Listen Now</div>
        </div>

        <div
          style="background-image: url(../res/img/icons/1.png)"
          class="right"
        ></div>
      </div>
    </div>

    <div class="ex-header">Recommended for you <a href="">See All</a></div>

    <div class="recommended-container">
      <div class="song-pop-card glassmorphism">
        <div class="pop-card-type">Song</div>
        <div class="top"></div>
        <div class="bottom">
          <span class="song-title"> Maury </span>
          <a href="" class="artist-name">Namadingo</a>
          <span class="view-count"><i class="bi bi-eye-fill"></i> 200K</span>
          <span class="like-count"><i class="bi bi-heart-fill"></i> 15K</span>
        </div>
      </div>
      <div class="playlist-pop-card glassmorphism">
        <div class="pop-card-type">Playlist</div>
        <div class="top"></div>
        <div class="bottom">
          <span class="playlist-name">Gospel Rap</span>
          <span class="creator-name">
            By <span class="user-name">Noel Jr</span>
          </span>
          <span class="view-count"><i class="bi bi-eye-fill"></i> 20K</span>
          <span class="like-count"><i class="bi bi-heart-fill"></i> 300</span>
        </div>
      </div>
      <div class="song-pop-card glassmorphism">
        <div class="pop-card-type">Song</div>
        <div class="top"></div>
        <div class="bottom">
          <span class="song-title"> Maury </span>
          <a href="" class="artist-name">Namadingo</a>
          <span class="view-count"><i class="bi bi-eye-fill"></i> 200K</span>
          <span class="like-count"><i class="bi bi-heart-fill"></i> 15K</span>
        </div>
      </div>
      <div class="album-pop-card glassmorphism">
        <div class="pop-card-type">Album</div>
        <div class="top"></div>
        <div class="bottom">
          <span class="album-title">True Indipendence</span>
          <a href="" class="artist-name">Gwamba</a>
          <span class="view-count"><i class="bi bi-eye-fill"></i> 150K</span>
          <span class="like-count"><i class="bi bi-heart-fill"></i> 40K</span>
        </div>
      </div>
    </div>

    <div class="ex-header">Trending This Week <a href="">See All</a></div>

    <div class="recommended-container">
      <div class="album-pop-card glassmorphism">
        <div class="pop-card-type">Album</div>
        <div class="top"></div>
        <div class="bottom">
          <span class="album-title">True Indipendence</span>
          <a href="" class="artist-name">Gwamba</a>
          <span class="view-count"><i class="bi bi-eye-fill"></i> 150K</span>
          <span class="like-count"><i class="bi bi-heart-fill"></i> 40K</span>
        </div>
      </div>
      <div class="playlist-pop-card glassmorphism">
        <div class="pop-card-type">Playlist</div>
        <div class="top"></div>
        <div class="bottom">
          <span class="playlist-name">Gospel Rap</span>
          <span class="creator-name">
            By <span class="user-name">Noel Jr</span>
          </span>
          <span class="view-count"><i class="bi bi-eye-fill"></i> 20K</span>
          <span class="like-count"><i class="bi bi-heart-fill"></i> 300</span>
        </div>
      </div>
      <div class="artist-pop-card glassmorphism">
        <div class="pop-card-type">Artist</div>

        <div
          style="background-image: url(../res/img/artists/driemo.jpg)"
          class="top"
        ></div>
        <div class="bottom">
          <a href="" class="artist-name">Driemo</a>
          <span class="follower-count"
            ><i class="bi bi-people-fill"></i> 2K</span
          >
          <span class="view-count"><i class="bi bi-eye-fill"></i>60K</span>
        </div>
      </div>
      <div class="song-pop-card glassmorphism">
        <div class="pop-card-type">Song</div>
        <div class="top"></div>
        <div class="bottom">
          <span class="song-title"> Maury </span>
          <a href="" class="artist-name">Namadingo</a>
          <span class="view-count"><i class="bi bi-eye-fill"></i> 200K</span>
          <span class="like-count"><i class="bi bi-heart-fill"></i> 15K</span>
        </div>
      </div>
    </div>

    <div class="ex-header">Most Popular Songs <a href="">See All</a></div>

    <div class="song-pop-container">
      <div class="song-pop-card glassmorphism">
        <div class="pop-card-type">Song</div>
        <div class="top"></div>
        <div class="bottom">
          <span class="song-title"> Maury </span>
          <a href="" class="artist-name">Namadingo</a>
          <span class="view-count"><i class="bi bi-eye-fill"></i> 200K</span>
          <span class="like-count"><i class="bi bi-heart-fill"></i> 15K</span>
        </div>
      </div>
      <div class="song-pop-card glassmorphism">
        <div class="pop-card-type">Song</div>
        <div class="top"></div>
        <div class="bottom">
          <span class="song-title"> Maury </span>
          <a href="" class="artist-name">Namadingo</a>
          <span class="view-count"><i class="bi bi-eye-fill"></i> 200K</span>
          <span class="like-count"><i class="bi bi-heart-fill"></i> 15K</span>
        </div>
      </div>
      <div class="song-pop-card glassmorphism">
        <div class="pop-card-type">Song</div>
        <div class="top"></div>
        <div class="bottom">
          <span class="song-title"> Maury </span>
          <a href="" class="artist-name">Namadingo</a>
          <span class="view-count"><i class="bi bi-eye-fill"></i> 200K</span>
          <span class="like-count"><i class="bi bi-heart-fill"></i> 15K</span>
        </div>
      </div>
      <div class="song-pop-card glassmorphism">
        <div class="pop-card-type">Song</div>
        <div class="top"></div>
        <div class="bottom">
          <span class="song-title"> Maury </span>
          <a href="" class="artist-name">Namadingo</a>
          <span class="view-count"><i class="bi bi-eye-fill"></i> 200K</span>
          <span class="like-count"><i class="bi bi-heart-fill"></i> 15K</span>
        </div>
      </div>
    </div>

    <div class="ex-header">Popular Albums <a href="">See All</a></div>

    <div class="album-pop-container">
      <div class="album-pop-card glassmorphism">
        <div class="pop-card-type">Album</div>
        <div class="top"></div>
        <div class="bottom">
          <span class="album-title">True Indipendence</span>
          <a href="" class="artist-name">Gwamba</a>
          <span class="view-count"><i class="bi bi-eye-fill"></i> 150K</span>
          <span class="like-count"><i class="bi bi-heart-fill"></i> 40K</span>
        </div>
      </div>
      <div class="album-pop-card glassmorphism">
        <div class="pop-card-type">Album</div>
        <div class="top"></div>
        <div class="bottom">
          <span class="album-title">True Indipendence</span>
          <a href="" class="artist-name">Gwamba</a>
          <span class="view-count"><i class="bi bi-eye-fill"></i> 150K</span>
          <span class="like-count"><i class="bi bi-heart-fill"></i> 40K</span>
        </div>
      </div>
      <div class="album-pop-card glassmorphism">
        <div class="pop-card-type">Album</div>
        <div class="top"></div>
        <div class="bottom">
          <span class="album-title">True Indipendence</span>
          <a href="" class="artist-name">Gwamba</a>
          <span class="view-count"><i class="bi bi-eye-fill"></i> 150K</span>
          <span class="like-count"><i class="bi bi-heart-fill"></i> 40K</span>
        </div>
      </div>
      <div class="album-pop-card glassmorphism">
        <div class="pop-card-type">Album</div>
        <div class="top"></div>
        <div class="bottom">
          <span class="album-title">True Indipendence</span>
          <a href="" class="artist-name">Gwamba</a>
          <span class="view-count"><i class="bi bi-eye-fill"></i> 150K</span>
          <span class="like-count"><i class="bi bi-heart-fill"></i> 40K</span>
        </div>
      </div>
    </div>

    <div class="ex-header">Popular Artists <a href="">See All</a></div>

    <div class="artist-pop-container">
      <div class="artist-pop-card glassmorphism">
        <div class="pop-card-type">Artist</div>

        <div class="top"></div>
        <div class="bottom">
          <a href="" class="artist-name">Matse</a>
          <span class="follower-count"
            ><i class="bi bi-people-fill"></i> 3K</span
          >
          <span class="view-count"><i class="bi bi-eye-fill"></i>50K</span>
        </div>
      </div>
      <div class="artist-pop-card glassmorphism">
        <div class="pop-card-type">Artist</div>

        <div class="top"></div>
        <div class="bottom">
          <a href="" class="artist-name">Matse</a>
          <span class="follower-count"
            ><i class="bi bi-people-fill"></i> 3K</span
          >
          <span class="view-count"><i class="bi bi-eye-fill"></i>100K</span>
        </div>
      </div>
      <div class="artist-pop-card glassmorphism">
        <div class="pop-card-type">Artist</div>

        <div class="top"></div>
        <div class="bottom">
          <a href="" class="artist-name">Matse</a>
          <span class="follower-count"
            ><i class="bi bi-people-fill"></i> 3K</span
          >
          <span class="view-count"><i class="bi bi-eye-fill"></i>50K</span>
        </div>
      </div>
      <div class="artist-pop-card glassmorphism">
        <div class="pop-card-type">Artist</div>

        <div class="top"></div>
        <div class="bottom">
          <a href="" class="artist-name">Matse</a>
          <span class="follower-count"
            ><i class="bi bi-people-fill"></i> 3K</span
          >
          <span class="view-count"><i class="bi bi-eye-fill"></i>50K</span>
        </div>
      </div>
    </div>
  </div>

  <div class="explore-right">
    <div class="ex-right-header">Popular Playlists</div>

    <div class="trending-playlist-container">
      <div class="trend-playlist">
        <span class="playlist-name">Hip-hop</span>
        <span class="like-count"><i class="bi bi-heart-fill"></i> 1K</span>
        <span class="view-count"><i class="bi bi-eye-fill"></i>3K</span>
        <span class="creator-name"
          >By <span class="user-name">Noel Luhanga</span></span
        >
      </div>
      <div class="trend-playlist">
        <span class="playlist-name">Hip-hop</span>
        <span class="like-count"><i class="bi bi-heart-fill"></i> 1K</span>
        <span class="view-count"><i class="bi bi-eye-fill"></i>3K</span>
        <span class="creator-name"
          >By <span class="user-name">Noel Luhanga</span></span
        >
      </div>
      <div class="trend-playlist">
        <span class="playlist-name">Hip-hop </span>
        <span class="like-count"><i class="bi bi-heart-fill"></i> 1K</span>
        <span class="view-count"><i class="bi bi-eye-fill"></i>3K</span>
        <span class="creator-name"
          >By <span class="user-name">Noel Luhanga</span></span
        >
      </div>
      <div class="trend-playlist">
        <span class="playlist-name">Hip-hop</span>
        <span class="like-count"><i class="bi bi-heart-fill"></i> 1K</span>
        <span class="view-count"><i class="bi bi-eye-fill"></i>3K</span>
        <span class="creator-name"
          >By <span class="user-name">Noel Luhanga</span></span
        >
      </div>
      <div class="trend-playlist">
        <span class="playlist-name">Hip-hop</span>
        <span class="like-count"><i class="bi bi-heart-fill"></i> 1K</span>
        <span class="view-count"><i class="bi bi-eye-fill"></i>3K</span>
        <span class="creator-name"
          >By <span class="user-name">Noel Luhanga</span></span
        >
      </div>
      <div class="trend-playlist">
        <span class="playlist-name">Hip-hop</span>
        <span class="like-count"><i class="bi bi-heart-fill"></i> 1K</span>
        <span class="view-count"><i class="bi bi-eye-fill"></i>3K</span>
        <span class="creator-name"
          >By <span class="user-name">Noel Luhanga</span></span
        >
      </div>
      <div class="trend-playlist">
        <span class="playlist-name">Hip-hop</span>
        <span class="like-count"><i class="bi bi-heart-fill"></i> 1K</span>
        <span class="view-count"><i class="bi bi-eye-fill"></i>3K</span>
        <span class="creator-name"
          >By <span class="user-name">Noel Luhanga</span></span
        >
      </div>
      <div class="trend-playlist">
        <span class="playlist-name">Hip-hop</span>
        <span class="like-count"><i class="bi bi-heart-fill"></i> 1K</span>
        <span class="view-count"><i class="bi bi-eye-fill"></i>3K</span>
        <span class="creator-name"
          >By <span class="user-name">Noel Luhanga</span></span
        >
      </div>
      <div class="trend-playlist">
        <span class="playlist-name">Hip-hop</span>
        <span class="like-count"><i class="bi bi-heart-fill"></i> 1K</span>
        <span class="view-count"><i class="bi bi-eye-fill"></i>3K</span>
        <span class="creator-name"
          >By <span class="user-name">Noel Luhanga</span></span
        >
      </div>
      <div class="trend-playlist">
        <span class="playlist-name">Hip-hop</span>
        <span class="like-count"><i class="bi bi-heart-fill"></i> 1K</span>
        <span class="view-count"><i class="bi bi-eye-fill"></i>3K</span>
        <span class="creator-name"
          >By <span class="user-name">Noel Luhanga</span></span
        >
      </div>
    </div>
  </div>

  <link rel="stylesheet" href="./css/explore.css" />
</div>
