<div class="header-tabs">
  <div class="tabs active-tab glassmorphism">Playlists</div>
  <div class="tabs glassmorphism">Artists</div>
  <div class="tabs glassmorphism">Albums</div>
</div>

<div class="lib-header-bg">
  <div class="create-playlist glassmorphism">
    <i class="bi bi-plus"></i>
  </div>
</div>

<div class="library-header">
  <div action="" class="search-icon">
    <input
      class="glassmorphism"
      id="home-search"
      type="text"
      placeholder="Search..."
    />
    <span id="s-icon"><i class="bi bi-search"></i></span>
  </div>
  <div id="container" class="select-container">
    <select
      class="glassmorphism"
      id="normal-select-1"
      placeholder-text="Recently added"
    >
      <option value="1" class="select-dropdown__list-item">
        Recently added
      </option>
      <option value="2" class="select-dropdown__list-item">Most Played</option>
      <option value="3" class="select-dropdown__list-item">
        Recently Played
      </option>
      <option value="4" class="select-dropdown__list-item">Alphabetical</option>
    </select>
  </div>
</div>

<div class="header-tools"></div>

<div class="library-container playlists-container active-tab-container">
  <div class="library-playlist glassmorphism offline">
    <div class="top"></div>
    <div class="bottom">
      <span class="title">Downloads</span>
      <span class="play-info"><span class="song-count">71</span>Songs</span>
    </div>
    <div class="play-circle">
      <i class="bi bi-play-circle-fill"></i>
    </div>
  </div>

  <a
    href="/playlist"
    class="single-page-app-link library-playlist glassmorphism"
  >
    <div  style="background-image: url(./res/img/arts/true.jpg); 
  background-size: cover;" class="top"></div>
    <div class="bottom">
      <span class="playlist-name">My Playlist #1</span>
      <span class="play-info"><span class="song-count">10</span>Songs</span>
    </div>
    <div class="play-circle">
      <i class="bi bi-play-circle-fill"></i>
    </div>
  </a>
  <div class="library-playlist glassmorphism">
    <div class="top"></div>
    <div class="bottom">
      <span class="playlist-name">My Playlist #2 with a long name</span>
      <span class="play-info"><span class="song-count">71</span>Songs</span>
    </div>
    <div class="play-circle">
      <i class="bi bi-play-circle-fill"></i>
    </div>
  </div>
  <div class="library-playlist glassmorphism">
    <div class="top"></div>
    <div class="bottom">
      <span class="playlist-name">My Playlist #3</span>
      <span class="play-info"><span class="song-count">71</span>Songs</span>
    </div>
    <div class="play-circle">
      <i class="bi bi-play-circle-fill"></i>
    </div>
  </div>
  <div class="library-playlist glassmorphism">
    <div class="top"></div>
    <div class="bottom">
      <span class="playlist-name">My Playlist #4</span>
      <span class="play-info"><span class="song-count">71</span>Songs</span>
    </div>
    <div class="play-circle">
      <i class="bi bi-play-circle-fill"></i>
    </div>
  </div>
</div>

<div class="library-container artists-container">
  <a href="/artist" class="artists-card single-page-app-link glassmorphism">
    <div
      style="background-image: url(./res/img/artists/1.jpg)"
      class="profile-image"
    ></div>
    <div class="profile-artist-name">J Cole</div>
  </a>
  <a href="" class="artists-card glassmorphism">
    <div
      style="background-image: url(./res/img/artists/2.jpg)"
      class="profile-image"
    ></div>
    <div class="profile-artist-name">Lecrae</div>
  </a>
  <a href="" class="artists-card glassmorphism">
    <div
      style="background-image: url(./res/img/artists/3.jpg)"
      class="profile-image"
    ></div>
    <div class="profile-artist-name">Joyner Lucas</div>
  </a>
  <a href="" class="artists-card glassmorphism">
    <div
      style="background-image: url(./res/img/artists/4.jpg)"
      class="profile-image"
    ></div>
    <div class="profile-artist-name">KB</div>
  </a>
  <a href="" class="artists-card glassmorphism">
    <div
      style="background-image: url(./res/img/artists/5.jpg)"
      class="profile-image"
    ></div>
    <div class="profile-artist-name">Dax</div>
  </a>
</div>

<div class="library-container album-container">
  <a
    href="/album"
    class="library-playlist album-playlist single-page-app-link glassmorphism"
  >
    <div
      style="
        background-image: url(./res/img/arts/5.jpg);
        background-size: cover;
      "
      class="top"
    ></div>
    <div class="bottom">
      <span class="playlist-name">2014 Forest Hills Drive</span>
      <span class="artist-name" href="">J Cole</span>
      <span class="release-year">2014</span>
    </div>

    <div class="play-circle">
      <i class="bi bi-play-circle-fill"></i>
    </div>
  </a>
  <div class="library-playlist album-playlist glassmorphism">
    <div
      style="
        background-image: url(./res/img/arts/pain.jpg);
        background-size: cover;
      "
      class="top"
    ></div>
    <div class="bottom">
      <span class="playlist-name">Pain Paints Paintings</span>
      <span class="artist-name" href="">Dax</span>
      <span class="release-year">2021</span>
    </div>

    <div class="play-circle">
      <i class="bi bi-play-circle-fill"></i>
    </div>
  </div>
  <div class="library-playlist album-playlist glassmorphism">
    <div
      style="
        background-image: url(./res/img/arts/7.jpg);
        background-size: cover;
      "
      class="top"
    ></div>
    <div class="bottom">
      <span class="playlist-name">ADHD</span>
      <span class="artist-name" href="">Joyner Lucas</span>
      <span class="release-year">2020</span>
    </div>

    <div class="play-circle">
      <i class="bi bi-play-circle-fill"></i>
    </div>
  </div>
  <div class="library-playlist album-playlist glassmorphism">
    <div
      style="
        background-image: url(./res/img/arts/church.jpg);
        background-size: cover;
      "
      class="top"
    ></div>
    <div class="bottom">
      <span class="playlist-name">Church Clothes 3</span>
      <span class="artist-name" href="">Lacrae</span>
      <span class="release-year">2016</span>
    </div>

    <div class="play-circle">
      <i class="bi bi-play-circle-fill"></i>
    </div>
  </div>
  <div class="library-playlist album-playlist glassmorphism">
    <div  style="background-image: url(./res/img/arts/hisgloryalone.jpg); 
  background-size: cover;" class="top"></div>
    <div class="bottom">
      <span class="playlist-name">His Glory Alone</span>
      <span class="artist-name" href="">KB</span>
      <span class="release-year">2020</span>
    </div>

    <div class="play-circle">
      <i class="bi bi-play-circle-fill"></i>
    </div>
  </div>
</div>
