<div class="playlist-wrapper">
  <div class="top-section">
    <div class="playlist-photo glassmorphism"></div>
    <div class="playlist-info">
      <div contenteditable="true" class="playlist-name">My Playlist #1</div>
      <div class="song-count"><span class="count">3</span> Songs</div>
      <div class="public-info">
        <span class="like-count">
          <i class="bi bi-heart-fill"></i>
          <span class="count">0</span></span
        >

        <span class="view-count">
          <i class="bi bi-eye-fill"></i>
          <span class="count">3</span></span
        >
      </div>
    </div>
    <div class="tool-bar">
      <div class="play-button"><i class="bi bi-play-fill"></i> Play</div>

      <div class="shuffle-button"><i class="bi bi-shuffle"></i> Shuffle</div>

      <div class="edit-button">
        <i class="bi bi-pen"></i>
        Edit
      </div>

      <div class="visibility-button public-active">
        <i class="bi bi-unlock"></i> Public
      </div>

      <div class="share-button"><i class="bi bi-share"></i> Share</div>

      <div class="more-button"><i class="bi bi-three-dots"></i> More</div>
    </div>
  </div>

  <div class="song-list">
    <div class="header-number table-header">#</div>
    <div class="header-title table-header">Title</div>
    <div class="header-album table-header">Album</div>
    <div class="header-date table-header">Date</div>
    <div class="header-duration table-header">
      <i class="bi bi-clock"></i>
    </div>
    <div class="header-action table-header"></div>

    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">Blessings </span>
        <span class="contributing-artists">
          <a href="" class="artist-name">Lecrae</a>
        </span>
      </span>
      <span class="song-album">Restoration</span>
      <span class="date-added">Jan 7, 2023</span>
      <span class="song-duration">3:00</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>
    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">Cry For You</span>
        <span class="contributing-artists">
          <a href="" class="artist-name">Lecrae</a>
        </span>
      </span>
      <span class="song-album">All Things Work Together</span>
      <span class="date-added">Jan 7, 2023</span>
      <span class="song-duration">3:00</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>
    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">No Role Modelz</span>
        <span class="contributing-artists">
            <a href="" class="artist-name">J. Cole</a>
        </span>
      </span>
      <span class="song-album">2014 Forest Hills Drive</span>
      <span class="date-added">Jan 7, 2023</span>
      <span class="song-duration">3:00</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>
    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">Devil's Calling</span>
        <span class="contributing-artists"><a href="" class="artist-name">Dax</a></span>
      </span>
      <span class="song-album">Pain Paints Paintings</span>
      <span class="date-added">Jan 7, 2023</span>
      <span class="song-duration">3:00</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>
    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">Crown & Thorns (Oceans)</span>
       <span class="contributing-artists"> <a href="" class="artist-name">KB</a></span>
      </span>
      <span class="song-album">Tomorrow We Live</span>
      <span class="date-added">Jan 7, 2023</span>
      <span class="song-duration">3:00</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>
    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">Voice</span>
        <span class="contributing-artists">
          <a href="" class="artist-name">Kieran The Light</a>
        </span>
      </span>
      <span class="song-album">Fearless</span>
      <span class="date-added">Jan 7, 2023</span>
      <span class="song-duration">3:00</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>
    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">Forgiven</span>
        <span class="contributing-artists"><a href="" class="artist-name">Kieran The Light</a></span>
      </span>
      <span class="song-album">Single</span>
      <span class="date-added">Jan 7, 2023</span>
      <span class="song-duration">3:00</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>

    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">Man up Anthem</span>
        <span class="contributing-artists"><a href="" class="artist-name">Lecrae</a>,  <a href="" class="artist-name">116</a>,  <a href="" class="artist-name">Treep Lee</a></span>
      </span>
      <span class="song-album">Man Up</span>
      <span class="date-added">Jan 7, 2023</span>
      <span class="song-duration">3:00</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>

    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">Armies</span>
        <span class="contributing-artists"><a href="" class="artist-name">KB</a></span>
      </span>
      <span class="song-album">His Glory Alone</span>
      <span class="date-added">Jan 7, 2023</span>
      <span class="song-duration">3:00</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>

    <div class="track">
      <span class="number">
        <span class="index"></span>
        <span class="track-play"><i class="bi bi-play-fill"></i></span
      ></span>
      <span class="song-info">
        <span class="song-title">no longer bound</span>
        <span class="contributing-artists">
          <a href="" class="artist-name">Forrest Frank</a>, <a href="" class="artist-name">Hulvey</a>
        </span>
      </span>
      <span class="song-album">Single</span>
      <span class="date-added">Jan 7, 2023</span>
      <span class="song-duration">3:00</span>
      <span class="song-action"><i class="bi bi-three-dots"></i></span>
    </div>
  </div>

  <link rel="stylesheet" href="./css/playlists.css" />
</div>
