<div class="notifications-wrapper">
  <div class="top-info">
    <div class="left">N</div>
    <div class="right">
      <div class="user-name">NOEL LUHANGA</div>

      <div class="profile-info">
        <span class="following">
          <span class="count">8</span>
          <span>Following</span>
        </span>

        <a href="/library" class="top-info-playlists single-page-app-link">
          <span class="profile-playlist">
            <span class="count">13</span> <span>Public Playlists</span>
          </span>
        </a>
      </div>
    </div>

    <div class="edit-profile-btn">Edit Profile</div>
  </div>

  <div class="profile-artist-container">
    <div class="profile-artist glassmorphism">
      <span class="artist-pic"></span>
      <a href="" class="artist-name">J. Cole</a>
      <span class="following-btn">Following</span>
    </div>

    <div class="profile-artist glassmorphism">
      <span style="background-image: url(./res/img/artists/2.jpg);" class="artist-pic"></span>
      <a href="" class="artist-name">Lecrae</a>
      <span class="following-btn">Following</span>
    </div>

    <div class="profile-artist glassmorphism">
      <span style="background-image: url(./res/img/artists/5.jpg);" class="artist-pic"></span>
      <a href="" class="artist-name">Dax</a>
      <span class="following-btn">Following</span>
    </div>

    <div class="profile-artist glassmorphism">
      <span style="background-image: url(./res/img/artists/4.jpg);" class="artist-pic"></span>
      <a href="" class="artist-name">KB</a>
      <span class="following-btn">Following</span>
    </div>

    <div class="profile-artist glassmorphism">
      <span style="background-image: url(./res/img/artists/3.jpg);" class="artist-pic"></span>
      <a href="" class="artist-name">Joyner Lucas</a>
      <span class="following-btn">Following</span>
    </div>
  </div>

  <link rel="stylesheet" href="./css/profile.css" />
</div>
