<div class="main-search-box">
  <input
    class="glassmorphism"
    id="main-search"
    type="text"
    placeholder="Search..."
  />
  <span id="s-icon-main"><i class="bi bi-search"></i></span>

  <div class="recent-search-container glassmorphism">
    <h2 class="rec-s-c-header">Recent searches</h2>

    <div class="search-content-container">
      <div class="prev-search glassmorphism">
        <span class="remove-icon"><i class="bi bi-x"></i></span>
        <span class="search-content">Example 1</span>
      </div>
      <div class="prev-search glassmorphism">
        <span class="remove-icon"><i class="bi bi-x"></i></span>
        <span class="search-content">Example 2</span>
      </div>
      <div class="prev-search glassmorphism">
        <span class="remove-icon"><i class="bi bi-x"></i></span>
        <span class="search-content">Example 3</span>
      </div>
      <div class="prev-search glassmorphism">
        <span class="remove-icon"><i class="bi bi-x"></i></span>
        <span class="search-content">Example 4</span>
      </div>
      <div class="prev-search glassmorphism">
        <span class="remove-icon"><i class="bi bi-x"></i></span>
        <span class="search-content">Long name Example</span>
      </div>
    </div>
  </div>

  <div class="filter-search-tabs">
    <div class="tabs active-tab glassmorphism">All</div>
    <div class="tabs glassmorphism">Songs</div>
    <div class="tabs glassmorphism">Playlists</div>
    <div class="tabs glassmorphism">Artists</div>
    <div class="tabs glassmorphism">Albums</div>
    <div class="tabs glassmorphism">Podcasts</div>
  </div>
</div>

<div class="search-results">
  <div class="search-header top-result-header"><h1>Top</h1></div>
  <div class="top-result glassmorphism">
    <div class="top"></div>
    <div class="bottom">
      <div class="song-title">FBI</div>
      <div class="res-info">
        <a href="" class="artist-name">Token</a>
        <div class="result-type">SONG</div>
      </div>
    </div>
  </div>

  <div class="song-results">
    <div class="search-header"><h1>Songs</h1></div>
    <div class="song-res">
      <div class="art-img">
        <div class="play-overlay"><i class="bi bi-play-fill"></i></div>
      </div>
      <div class="song-title">FBI</div>
      <a href="" class="artist-name"> Token</a>
      <div class="song-duration">3:30</div>
    </div>
    <div class="song-res">
      <div class="art-img">
        <div class="play-overlay"><i class="bi bi-play-fill"></i></div>
      </div>
      <div class="song-title">FBI</div>
      <a href="" class="artist-name"> Token</a>
      <div class="song-duration">3:30</div>
    </div>
    <div class="song-res">
      <div class="art-img">
        <div class="play-overlay"><i class="bi bi-play-fill"></i></div>
      </div>
      <div class="song-title">FBI</div>
      <a href="" class="artist-name"> Token</a>
      <div class="song-duration">3:30</div>
    </div>
    <div class="song-res">
      <div class="art-img">
        <div class="play-overlay"><i class="bi bi-play-fill"></i></div>
      </div>
      <div class="song-title">FBI</div>
      <a href="" class="artist-name"> Token</a>
      <div class="song-duration">3:30</div>
    </div>
    <div class="song-res">
      <div class="art-img">
        <div class="play-overlay"><i class="bi bi-play-fill"></i></div>
      </div>
      <div class="song-title">FBI</div>
      <a href="" class="artist-name"> Token</a>
      <div class="song-duration">3:30</div>
    </div>
    <div class="song-res">
      <div class="art-img">
        <div class="play-overlay"><i class="bi bi-play-fill"></i></div>
      </div>
      <div class="song-title">FBI</div>
      <a href="" class="artist-name"> Token</a>
      <div class="song-duration">3:30</div>
    </div>
    <div class="song-res">
      <div class="art-img">
        <div class="play-overlay"><i class="bi bi-play-fill"></i></div>
      </div>
      <div class="song-title">FBI</div>
      <a href="" class="artist-name"> Token</a>
      <div class="song-duration">3:30</div>
    </div>
    <div class="song-res">
      <div class="art-img">
        <div class="play-overlay"><i class="bi bi-play-fill"></i></div>
      </div>
      <div class="song-title">FBI</div>
      <a href="" class="artist-name"> Token</a>
      <div class="song-duration">3:30</div>
    </div>
    <div class="song-res">
      <div class="art-img">
        <div class="play-overlay"><i class="bi bi-play-fill"></i></div>
      </div>
      <div class="song-title">FBI</div>
      <a href="" class="artist-name"> Token</a>
      <div class="song-duration">3:30</div>
    </div>
  </div>

  <div class="album-results">
    <div class="search-header"><h1>Albums</h1></div>

    <div class="album-res-container">
      <div class="album-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="album-title">Some Where in Between</div>
          <a href="" class="artist-name">Token</a>
          <div class="release-year">2018</div>
        </div>
      </div>
      <div class="album-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="album-title">Some Where in Between</div>
          <a href="" class="artist-name">Token</a>
          <div class="release-year">2018</div>
        </div>
      </div>
      <div class="album-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="album-title">Some Where in Between</div>
          <a href="" class="artist-name">Token</a>
          <div class="release-year">2018</div>
        </div>
      </div>
      <div class="album-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="album-title">Some Where in Between</div>
          <a href="" class="artist-name">Token</a>
          <div class="release-year">2018</div>
        </div>
      </div>
      <div class="album-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="album-title">Some Where in Between</div>
          <a href="" class="artist-name">Token</a>
          <div class="release-year">2018</div>
        </div>
      </div>
      <div class="album-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="album-title">Some Where in Between</div>
          <a href="" class="artist-name">Token</a>
          <div class="release-year">2018</div>
        </div>
      </div>
      <div class="album-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="album-title">Some Where in Between</div>
          <a href="" class="artist-name">Token</a>
          <div class="release-year">2018</div>
        </div>
      </div>
      <div class="album-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="album-title">Some Where in Between</div>
          <a href="" class="artist-name">Token</a>
          <div class="release-year">2018</div>
        </div>
      </div>
    </div>
  </div>

  <div class="playlist-results">
    <div class="search-header"><h1>Playlists</h1></div>
    <div class="playlist-rec-container">
      <div class="playlist-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="playlist-name">FBI</div>
          <div class="creator">
            By <span class="creator-name">Noel Luhanga</span>
          </div>
        </div>
      </div>
      <div class="playlist-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="playlist-name">FBI</div>
          <div class="creator">
            By <span class="creator-name">Noel Luhanga</span>
          </div>
        </div>
      </div>
      <div class="playlist-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="playlist-name">FBI</div>
          <div class="creator">
            By <span class="creator-name">Noel Luhanga</span>
          </div>
        </div>
      </div>
      <div class="playlist-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="playlist-name">FBI</div>
          <div class="creator">
            By <span class="creator-name">Noel Luhanga</span>
          </div>
        </div>
      </div>
      <div class="playlist-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="playlist-name">FBI</div>
          <div class="creator">
            By <span class="creator-name">Noel Luhanga</span>
          </div>
        </div>
      </div>
      <div class="playlist-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="playlist-name">FBI</div>
          <div class="creator">
            By <span class="creator-name">Noel Luhanga</span>
          </div>
        </div>
      </div>
      <div class="playlist-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="playlist-name">FBI</div>
          <div class="creator">
            By <span class="creator-name">Noel Luhanga</span>
          </div>
        </div>
      </div>
      <div class="playlist-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="playlist-name">FBI</div>
          <div class="creator">
            By <span class="creator-name">Noel Luhanga</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="artist-results">
    <div class="search-header"><h1>Artists</h1></div>
    <div class="artist-res-container">
      <a href="" class="artists-res glassmorphism">
        <div
          style="background-image: url(./res/img/artists/1.jpg)"
          class="profile-image"
        ></div>
        <div class="profile-artist-name">J Cole</div>
      </a>
      <a href="" class="artists-res glassmorphism">
        <div
          style="background-image: url(./res/img/artists/2.jpg)"
          class="profile-image"
        ></div>
        <div class="profile-artist-name">Lecrae</div>
      </a>
      <a href="" class="artists-res glassmorphism">
        <div
          style="background-image: url(./res/img/artists/3.jpg)"
          class="profile-image"
        ></div>
        <div class="profile-artist-name">Joyner Lucas</div>
      </a>
      <a href="" class="artists-res glassmorphism">
        <div
          style="background-image: url(./res/img/artists/4.jpg)"
          class="profile-image"
        ></div>
        <div class="profile-artist-name">KB</div>
      </a>
      <a href="" class="artists-res glassmorphism">
        <div
          style="background-image: url(./res/img/artists/5.jpg)"
          class="profile-image"
        ></div>
        <div class="profile-artist-name">Dax</div>
      </a>
    </div>
  </div>

  <div class="podcast-results">
    <div class="search-header"><h1>Podcasts</h1></div>

    <div class="podcast-res-container">
      <div class="podcast-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="podcast-name">FBI</div>
          <div class="creator">
            <span class="creator-name">Noel Luhanga</span>
          </div>
        </div>
      </div>
      <div class="podcast-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="podcast-name">FBI</div>
          <div class="creator">
            <span class="creator-name">Noel Luhanga</span>
          </div>
        </div>
      </div>
      <div class="podcast-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="podcast-name">FBI</div>
          <div class="creator">
            <span class="creator-name">Noel Luhanga</span>
          </div>
        </div>
      </div>
      <div class="podcast-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="podcast-name">FBI</div>
          <div class="creator">
            <span class="creator-name">Noel Luhanga</span>
          </div>
        </div>
      </div>
      <div class="podcast-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="podcast-name">FBI</div>
          <div class="creator">
            <span class="creator-name">Noel Luhanga</span>
          </div>
        </div>
      </div>
      <div class="podcast-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="podcast-name">FBI</div>
          <div class="creator">
            <span class="creator-name">Noel Luhanga</span>
          </div>
        </div>
      </div>
      <div class="podcast-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="podcast-name">FBI</div>
          <div class="creator">
            <span class="creator-name">Noel Luhanga</span>
          </div>
        </div>
      </div>
      <div class="podcast-res glassmorphism">
        <div class="top"></div>
        <div class="bottom">
          <div class="podcast-name">FBI</div>
          <div class="creator">
            <span class="creator-name">Noel Luhanga</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
