.content {
  padding-bottom: 3rem;
}

.range-form {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
}

.input-group {
  position: relative;
}

.range-form .input-wrapper {
  display: flex;
  align-items: center;
}

.range-form .input-group:nth-child(2) {
  margin-left: 1rem;
}

.range-form input {
  border: 2px solid var(--blue-2);
  padding: 0.5rem;
  height: 2.2rem;
  border-radius: var(--radius);
  width: 12rem;
}

.range-form label {
  font-weight: bold;
  margin-right: 10px;
}

.range-form button {
  background-color: var(--blue);
  border: 0;
  outline: 0;
  color: var(--white);
  height: 2.2rem;
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-radius: var(--radius);
  margin-left: 1rem;
  cursor: pointer;
  transition: ease 0.3s;
}

.range-form button:hover {
  background-color: var(--blue-3);
}
@media screen and (max-width: 757px) {
  .range-form {
    flex-direction: column;
  }

  .range-form .input-wrapper {
    justify-content: space-between;
  }

  #end-calendar{
    left: -38%;
  }

  .range-form div:nth-child(2) {
    margin-left: 0rem;
  }

  .range-form button {
    margin: 0;
    margin-top: 1rem;
    height: 3rem;
  }
}
@media screen and (max-width: 438px) {
  .range-form input {
    width: 11rem;
  }

   #end-calendar{
    left: -7rem;
  }
}@media screen and (max-width: 411px) {
  .range-form input {
    width: 10.5rem;
  }
}@media screen and (max-width: 398px) {
  .range-form input {
    width: 8rem;
    font-size: var(--font-ss);
  }
   #end-calendar{
    left: -10rem;
  }
}
@media screen and (max-width: 364px) {
  .range-form input {
    width: 8rem;
  }
}
.stat-container {
  display: grid;
  grid-template-columns: 13rem 10rem 10rem;
  grid-template-rows: repeat(2, 6rem);
  justify-content: space-between;
  row-gap: 0.5rem;
  width: 100%;
}

.stat-card {
  margin: 0;
  width: 100%;
  height: 100%;
}

.stat-card:nth-child(1) {
  grid-row: 1 / span 2;
}

.stat-card .stat-number {
  font-size: 1.3rem;
}

.stat-card:nth-child(1) .stat-number {
  font-size: 3rem;
}

.stat-card .stat-title {
  font-size: var(--font-s);
}

@media screen and (max-width: 480px) {
  .stat-card:nth-child(4) {
    display: flex;
  }

  .stat-container {
    grid-template-columns: 12rem 9rem 9rem;
    grid-template-rows: repeat(2, 6rem);
  }
}
@media screen and (max-width: 440px) {
  .stat-container {
    grid-template-columns: 11rem 8rem 8rem;
    grid-template-rows: repeat(2, 6rem);
  }
}
@media screen and (max-width: 410px) {
  .stat-container {
    grid-template-columns: 11rem 7.5rem 7.5rem;
    grid-template-rows: repeat(2, 6rem);
  }
}
@media screen and (max-width: 385px) {
  .stat-container {
    grid-template-columns: 10rem 7rem 7rem;
    grid-template-rows: repeat(2, 5.5rem);
  }
}
@media screen and (max-width: 360px) {
  .stat-container {
    grid-template-columns: 9rem 7rem 7rem;
    grid-template-rows: repeat(2, 5rem);
  }
  .stat-card:nth-child(1) .stat-number {
    font-size: 2.5rem;
  }

  .stat-card .stat-title {
    font-size: var(--font-ss);
  }
}
@media screen and (max-width: 345px) {
  .stat-container {
    grid-template-columns: 9rem 6rem 6rem;
    grid-template-rows: repeat(2, 5rem);
  }
}
@media screen and (max-width: 320px) {
  .stat-container {
    grid-template-columns: 8rem 6rem 6rem;
    grid-template-rows: repeat(2, 5rem);
  }
}
@media screen and (max-width: 310px) {
  .stat-container {
    grid-template-columns: 8rem 5rem 5rem;
    grid-template-rows: repeat(2, 4rem);
  }

  .stat-card .stat-title {
    font-size: var(--font-xs);
  }
}

.date-picker{
    left: unset;
}