@import url("https://fonts.cdnfonts.com/css/inter");

* {
  padding: 0;
  margin: 0;
  color: var(--black);
  box-sizing: border-box;
  font-size: var(--font-s);
}

html {
  font-family: "Inter", sans-serif;
  font-size: clamp(15px, 1.5vw, 1.25em);
  background-color: var(--white);
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow-x: hidden;
}

:root {
  --white: #fff;
  --red: #e34e4e;
  --red-2: rgba(227, 78, 78, 0.2);
  --red-3: #ca2929;
  --grey: rgba(241, 241, 241, 0.3);
  --grey-2: #f1f1f1;
  --black: #1e1e1e;
  --black-2: #4b494a;
  --font-l: 1.5rem;
  --font-m: 1rem;
  --font-s: 0.9rem;
  --font-ss: 0.7rem;
  --font-xs: 0.5rem;
  --radius: 1rem;
  --padding: 1rem;
  --transition: all 0.5s cubic-bezier(0.57, 0.21, 0.69, 1.25);
  --shadow: 0px 4.528800010681152px 22.643999099731445px 0px rgba(0, 0, 0, 0.02),
    0px 12.521552085876465px 62.607757568359375px 0px rgba(0, 0, 0, 0.04),
    0px 30.14707374572754px 150.73536682128906px 0px rgba(0, 0, 0, 0.05),
    0px 100px 500px 0px rgba(0, 0, 0, 0.07);
}

h1 {
  font-size: var(--font-l);
  text-align: center;
}

p {
  line-height: 1.5rem;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
}

.main-content {
  padding: 2rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.section {
  margin-top: 6rem;
}

.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  justify-content: space-between;
  width: 100%;
  margin-top: 0;
  background-color: var(--white);
  padding: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

a {
  text-decoration: none;
  color: var(--black);
}

.navbar .links {
  display: flex;
  align-items: center;
}

.navbar .links a {
  margin-left: 1rem;
  margin-right: 1rem;
  transition: var(--transition);
}

.navbar a:hover {
  color: var(--red);
}

.navbar .logo {
  font-weight: bold;
  font-size: var(--font-m);
  display: flex;
  align-items: center;
}

.navbar .logo:hover {
  color: var(--black-2);
}

.navbar .logo img {
  height: 3rem;
  margin-right: 0.5rem;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  margin-left: 1rem;
  height: 100%;
  cursor: pointer;
  position: relative;
}

.mobile-menu .bar {
  width: 2rem;
  height: 4px;
  background-color: var(--black);
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
}

.mobile-menu .bar:nth-child(1) {
  margin-top: 0;
  margin-left: auto;
  width: 60%;
}

.mobile-menu .bar:nth-child(3) {
  margin-bottom: 0;
  width: 60%;
}

.menu-list {
  width: fit-content;
  height: fit-content;
  padding: var(--padding);
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--white);
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0rem;
  right: -100%;
  height: 100vh;
  visibility: hidden;
  transition: var(--transition);
  box-shadow: var(--shadow);
}

.menu-active {
  right: 0rem;
  visibility: visible;
}

.menu-list a {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: var(--font-m);
  padding: 0.5rem;
  border-radius: var(--radius);
  transition: var(--transition);
  font-weight: 500;
}

/*Mobile Menu*/
@media screen and (max-width: 640px) {
  .navbar .navlink {
    display: none;
  }

  body {
    overflow-x: hidden;
  }

  .mobile-menu {
    display: flex;
  }

  .menu-list {
    display: flex;
  }
}

.cta {
  display: flex;
  align-items: center;
  padding: var(--padding);
  background-color: var(--red);
  color: var(--white);
  border-radius: var(--radius);
  transition: var(--transition);
  cursor: pointer;
  text-align: center;
  height: 3rem;
}

.cta:hover {
  background-color: var(--red-3);
}

.navbar .links .cta {
  margin-right: 0;
}

.navbar .links .cta:hover {
  color: var(--white);
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section p {
  width: 53%;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 842px) {
  .hero-section p {
    width: 63%;
  }
}

@media screen and (max-width: 717px) {
  .hero-section p {
    width: 73%;
  }
}

@media screen and (max-width: 627px) {
  .hero-section p {
    width: 83%;
  }
}

@media screen and (max-width: 559px) {
  .hero-section p {
    width: 93%;
  }
}

@media screen and (max-width: 505px) {
  .hero-section p {
    width: 100%;
  }
}

.hero-section .btn-container {
  display: flex;
}

.hero-section .btn-container .cta {
  width: fit-content;
  margin-right: 2rem;
}

@media screen and (max-width: 397px) {
  .hero-section .btn-container .cta {
    width: fit-content;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 381px) {
  .hero-section .btn-container {
    display: flex;
    flex-direction: column;
  }
  .hero-section .btn-container .cta {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
}

.hero-section .btn-container .social-proof {
  display: flex;
  align-items: center;
  height: 3rem;
  background-color: var(--grey-2);
  padding: var(--padding);
  border-radius: var(--radius);
  position: relative;
}

.hero-section .btn-container .social-proof .client {
  background-color: var(--white);
  border-radius: 50%;
  height: calc(2.6rem + 5px);
  width: calc(2.6rem + 5px);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--grey-2);
}

.hero-section .btn-container .social-proof .client img {
  height: 1.5rem;
}

.hero-section .btn-container .client:nth-child(2) img {
  height: 1.1rem;
}

.hero-section .btn-container .client:nth-child(2),
.hero-section .btn-container .client:nth-child(3) {
  margin-left: -0.9rem;
}

.hero-section .btn-container .social-proof .info {
  display: flex;
  font-size: var(--font-xs);
  flex-direction: column;
  margin-left: 0.5rem;
}

.hero-section .btn-container .social-proof .info h2 {
  font-size: 1.5rem;
}

.hero-section .hero-img {
  height: 25rem;
  margin-top: 1rem;
}

@media screen and (max-width: 549px) {
  .hero-section .hero-img {
    height: initial;
    width: 100%;
    margin-top: 1rem;
  }
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding);
  background-color: var(--grey);
  border-radius: 2rem;
}

.services .service-text {
  width: 49%;
  text-align: center;
  margin-top: 0.5rem;
}

.serv p {
  width: 100%;
  text-align: start;
  margin: 0;
}

@media screen and (max-width: 850px) {
  .services .service-text {
    width: 60%;
  }
}
@media screen and (max-width: 711px) {
  .services .service-text {
    width: 90%;
  }
}

@media screen and (max-width: 504px) {
  .services .service-text {
    width: 100%;
  }
}

@media screen and (max-width: 462px) {
  .services .service-text {
    text-align: start;
  }
}

.services .services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 7.5rem 7.5rem 7.5rem;
  height: 18rem;
  overflow-y: auto;
  gap: var(--padding);
  margin-top: 1rem;
  background-color: var(--white);
  padding: var(--padding);
  border-radius: var(--radius);
  width: 80%;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media screen and (max-width: 992px) {
  .services .services-container {
    width: 90%;
  }
}
@media screen and (max-width: 892px) {
  .services .services-container {
    width: 100%;
  }
}

.services .services-container::-webkit-scrollbar {
  display: none;
}

.services .services-container::-webkit-scrollbar-thumb {
  background: transparent;
}

.services .services-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.services .services-container::-webkit-scrollbar-track {
  background: transparent;
}

.services .services-container::-moz-scrollbar {
  width: 0;
  height: 0;
}

.services .services-container::-moz-scrollbar-thumb {
  background: transparent;
}

.services .services-container::-moz-scrollbar-track {
  background: transparent;
}

.services .services-container::-ms-scrollbar {
  width: 0;
  height: 0;
}

.services .services-container::-ms-scrollbar-thumb {
  background: transparent;
}

.services .services-container::-ms-scrollbar-track {
  background: transparent;
}

.services .services-container scrollbar {
  width: 0;
  height: 0;
}

.services .services-container scrollbar-thumb {
  background: transparent;
}

.services .services-container scrollbar-track {
  background: transparent;
}

.services .services-container .serv {
  width: 100%;
  height: 100%;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1.5rem;
  position: relative;
  background-color: var(--grey);
  cursor: pointer;
}

.services .services-container .serv:nth-child(2) {
  grid-column: 1;
  grid-row: 1;
}

@media screen and (max-width: 665px) {
  .services .services-container {
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 7.5rem 7.5rem 7.5rem 7.5rem;
  }

  .services .services-container .serv:nth-child(2) {
    grid-column: 1 / span 2;
    grid-row: 1;
    align-items: center;
  }
}

@media screen and (max-width: 619px) {
  .services .services-container {
    width: 100%;
  }
}
.services .services-container .serv:hover,
.services .services-container .serv:hover:active {
  outline: 1px solid var(--red-2);
}

.services .services-container .serv .top {
  display: flex;
  flex-direction: column;
}

.services .services-container .serv .serv-title {
  font-size: var(--font-s);
}

@media screen and (max-width: 811px) {
  .services .services-container .serv .serv-title {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 665px) {
  .services .services-container .serv .serv-title {
    font-size: var(--font-s);
  }
}

@media screen and (max-width: 513px) {
  .services .services-container .serv .serv-title {
    font-size: var(--font-ss);
  }
}

@media screen and (max-width: 399px) {
  .services .services-container {
    width: 80%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 7.5rem);
  }

  .services .services-container .serv:nth-child(2) {
    grid-column: 1;
    grid-row: 1;
    align-items: flex-start;
  }

  .services .services-container .serv .serv-title {
    font-size: var(--font-s);
  }
}

@media screen and (max-width: 359px) {
  .services .services-container .serv .serv-title {
    font-size: var(--font-ss);
  }
}

.services .services-container .serv .serv-icon {
  height: 2.5rem;
  width: 2.5rem;
  background-color: var(--red-2);
  border-radius: 50%;
  position: relative;
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services .services-container .serv .serv-icon img {
  height: 2.8rem;
  position: absolute;
  right: -0.9rem;
  top: -0.2rem;
}

.services .services-container .serv:nth-child(4) .serv-icon img {
  height: 2.1rem;
  right: -0.5rem;
  top: 0rem;
}

.btn-container {
  display: flex;
  margin-top: 1.5rem;
}

.btn-container .btn {
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: var(--transition);
  height: 2.7rem;
  width: 2.7rem;
  user-select: none;
  background-color: var(--red-2);
  cursor: default;
}
.btn-container .show-btn {
  visibility: visible;
  background-color: var(--red);
  cursor: pointer;
}
.btn-container .btn img {
  height: var(--font-m);
}
.btn-container .show-btn:hover {
  background-color: var(--red-3);
}

.vision-mission {
  margin-top: 3rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 23rem;
}

.vision-mission h1 {
  text-align: start;
  margin-top: 1rem;
}

.vision-mission .vm-img {
  height: 100%;
}

.vision-mission .vm-info {
  width: 47%;
}

@media screen and (max-width: 799px) {
  .vision-mission .vm-img {
    height: initial;
    width: 50%;
    object-fit: contain;
  }
  .vision-mission .vm-info {
    width: 55%;
  }
}

.vision-mission .vm-info p {
  margin-top: 0.5rem;
}

.vision-mission .vm-info .wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1rem;
}

.vision-mission .vm-info .wrapper span {
  display: flex;
  flex-direction: column;
  width: 45%;
}

@media screen and (max-width: 799px) {
  .vision-mission .vm-info .wrapper span {
    width: 50%;
  }

  .vision-mission .vm-info .wrapper {
    gap: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .vision-mission {
    flex-direction: column;
  }

  .vision-mission {
    height: fit-content;
  }

  .vision-mission .vm-info {
    width: 100%;
  }

  .vision-mission .vm-info .wrapper span {
    width: 40%;
  }

  .vision-mission .vm-img {
    height: 30rem;
    width: initial;
    object-fit: contain;
    display: none;
  }
}

@media screen and (max-width: 499px) {
  .vision-mission .vm-info .wrapper span {
    width: 50%;
  }
}

@media screen and (max-width: 349px) {
  .vision-mission .vm-info .wrapper span {
    width: 80%;
  }

  .vision-mission .vm-info .wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.vision-mission .vm-info .wrapper span .icon {
  height: 4rem;
  width: 4rem;
  border-radius: 1.3rem;
  background-color: var(--red-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.vision-mission .vm-info .wrapper span .icon img {
  height: 3.5rem;
}

.vision-mission .vm-info .wrapper .mission .icon img {
  height: 3rem;
}

.extra {
  width: 70%;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.extra div {
  display: flex;
  flex-direction: column;
}

.extra ul {
  padding-left: 1.3rem;
}

.extra ul li {
  line-height: 1.8rem;
}

.extra div:nth-child(2) {
  width: 60%;
}

@media screen and (max-width: 640px) {
  .extra {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  .extra div:nth-child(2) {
    width: 55%;
  }
}

@media screen and (max-width: 479px) {
  .extra {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  }
  .extra div:nth-child(2) {
    width: 100%;
  }
}

.extra div h1 {
  text-align: start;
  margin-bottom: 1rem;
}

.extra div span {
  margin-top: 1rem;
}

.extra div .title {
  font-weight: bold;
  margin-top: 0rem;
}

.second-cta {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.second-cta img {
  height: initial;
  width: 60%;
}

.second-cta div {
  width: 40%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 640px) {
  .second-cta {
    flex-direction: column;
  }

  .second-cta div {
    align-items: center;
    width: 100%;
  }

  .second-cta img {
    height: initial;
    width: 75%;
  }

  .second-cta h2 {
    width: 60%;
    text-align: center;
  }
}
@media screen and (max-width: 505px) {
  .second-cta h2 {
    width: 80%;
    text-align: center;
  }
}

@media screen and (max-width: 393px) {
  .second-cta h2 {
    width: 100%;
    text-align: center;
  }
}

.btn-container {
  display: flex;
  align-items: center;
}

.btn-container .s-cta {
  background-color: var(--white);
  margin-left: 0rem;
  border: 1px solid var(--red);
  color: var(--black);
  transition: var(--transition);
}

@media screen and (max-width: 450px) {
  .second-cta {
    width: 100%;
  }
}

@media screen and (max-width: 352px) {
  .btn-container .s-cta {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 337px) {
  .btn-container .s-cta {
    margin-left: 0;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }

  .btn-container .cta {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}

.btn-container .s-cta:hover {
  background-color: var(--red-2);
}

.second-cta .cta {
  width: fit-content;
  margin-top: 1rem;
}

.footer {
  width: 100%;
  padding: var(--padding);
  display: flex;
  align-items: center;
  background-color: var(--red-2);
  height: 10rem;
  justify-content: space-between;
}

@media screen and (max-width: 773px) {
  .footer {
    flex-direction: column;
  }
}

.footer .logo {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.footer .logo img {
  height: 3rem;
  margin-right: 0.5rem;
}

.footer-links a {
  margin-left: 1rem;
  margin-right: 1rem;
  transition: var(--transition);
}

.footer-links a:hover {
  color: var(--red);
}

.contact-links {
  display: flex;
}

.contact-links a {
  height: 2rem;
  width: 2rem;
  background-color: var(--black);
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: var(--transition);
}

@media screen and (max-width: 343px) {
  .footer-links a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .contact-links a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.contact-links a:hover {
  background-color: var(--red);
}

.contact-links a img {
  height: 1rem;
}

.cctv-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.cctv-content h1,
.cctv-content h2 {
  margin-bottom: 1rem;
}
.cctv-slide {
  display: flex;
  align-items: center;
  width: 55%;
  justify-content: space-between;
}

@media screen and (max-width: 945px) {
  .cctv-slide {
    width: 65%;
  }
}
@media screen and (max-width: 809px) {
  .cctv-slide {
    width: 75%;
  }
}

@media screen and (max-width: 709px) {
  .cctv-slide {
    width: 100%;
  }
}

.cctv-slide .slide {
  height: 18rem;
  width: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 2rem;
  padding: 2rem;
}

@media screen and (max-width: 547px) {
  .cctv-slide {
    flex-direction: column;
  }

  .cctv-slide .slide {
    margin: 0;
    margin-bottom: 2rem;
  }
}

.cctv-slide .slide .slide-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

.cctv-slide .slide .slide-img .slide-img-active {
  opacity: 1;
  visibility: visible;
}

.cctv-slide .slide .btn {
  background-color: var(--red);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.cctv-slide .slide .btn:hover {
  background-color: var(--red-3);
}

.cctv-slide .slide .btn img {
  height: 0.8rem;
  width: 0.8rem;
}

.cctv-slide .slide .next {
  right: 0;
}

.cctv-slide .slide .prev {
  left: 0;
}

.cctv-slide .slide .controls {
  display: flex;
  position: absolute;
  bottom: 0;
}

.cctv-slide .slide .controls span {
  width: 1rem;
  height: 1rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--white);
  border: 3px solid var(--red);
  transition: var(--transition);
}

.cctv-slide .slide .controls span:hover {
  background-color: var(--red-3);
}

.cctv-slide .slide .controls .active {
  background-color: var(--red);
}

.cctv-slide .info {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.cctv-slide .info img {
  height: 1rem;
  margin-right: 1rem;
}

.cctv-slide .info li {
  display: flex;
  align-items: center;
  line-height: 1.8rem;
}

.wf {
  margin-top: 3rem;
}

.inst {
  padding-left: 1.5rem;
}

.inst li {
  line-height: 1.5rem;
}

.alarms {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 945px) {
  .alarms {
    width: 65%;
  }
}

@media screen and (max-width: 945px) {
  .alarms {
    width: 75%;
  }
}

@media screen and (max-width: 709px) {
  .alarms {
    width: 100%;
  }
}

.alarms h2 {
  margin-bottom: 0.5rem;
}

.contact-content {
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 12rem;
}

.contact-content h1 {
  text-align: start;
  margin-bottom: 1rem;
}

.contact-content .info {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-right: 8rem;
}

.contact-content .info p {
  width: 100%;
  margin-bottom: 1rem;
}

@media screen and (max-width: 795px) {
  .contact-content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .contact-content .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-top: 3rem;
  }

  .contact-content .info p {
    width: 70%;
  }
}

@media screen and (max-width: 608px) {
  .contact-content .info p {
    width: 100%;
  }
}

.contact-content .info .info-text {
  margin-bottom: 1rem;
}

.contact-content .info .info-text h2 {
  line-height: 1.5rem;
}

.contact-content .info .post-office {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.contact-content .info h2 {
  line-height: 1.5rem;
}

.contact-content .info .time {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.contact-content .info .time span {
  font-size: var(--font-ss);
  color: var(--black-2);
  line-height: 1.3rem;
}

.form-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  align-items: center;
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: var(--shadow);
  width: 22rem;
  position: relative;
  z-index: 1;
}

.form .logo {
  height: 4rem;
  margin-bottom: 0.5rem;
}
.form .input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.form .input-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form .input-group input,
.form .input-group textarea {
  border: 1px solid var(--red-2);
  height: 3rem;
  display: flex;
  align-items: center;
  padding: var(--padding);
  background-color: var(--grey);
  border-radius: var(--radius);
  outline: 0;
}

.form .input-group textarea {
  height: 9rem;
  resize: vertical;
}

.form button {
  border: 0;
  outline: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.form-wrapper .circle-svg {
  position: absolute;
  z-index: 0;
  left: -3rem;
  top: 2rem;
  height: 70%;
}

@media screen and (max-width: 421px) {
  .form {
    width: 100%;
  }
  .form-wrapper {
    width: 100%;
    justify-content: center;
  }

  .form-wrapper .circle-svg {
    left: -2rem;
    height: initial;
    width: 100%;
  }
}

.inv-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.inv-content .inv-text {
  width: 65%;
  margin-top: 0.5rem;
}

.how-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  margin-top: 2rem;
}

@media screen and (max-width: 870px) {
  .how-works {
    width: 80%;
  }
  .inv-content .inv-text {
    width: 80%;
  }
}

@media screen and (max-width: 720px) {
  .how-works {
    width: 90%;
  }
  .inv-content .inv-text {
    width: 90%;
  }
}

@media screen and (max-width: 640px) {
  .how-works {
    width: 100%;
  }
  .inv-content .inv-text {
    width: 100%;
  }
}

.how-works .step {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  align-items: flex-end;
  padding: var(--padding);
  border-radius: var(--radius);
  border: 1px solid var(--red-2);
}

.consulting-section .step {
  align-items: flex-start;
}

.how-works .counter {
  display: flex;
  flex-direction: column;
}

.how-works .counter {
  display: flex;
  flex-direction: column;
  margin-right: 3rem;
  width: 11rem;
}

.consulting-section .counter {
  width: 4rem;
}

.how-works .counter .number {
  font-size: var(--font-l);
  color: var(--red);
  height: 3rem;
  width: 3rem;
  background-color: var(--red-2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.training-serv .step {
  width: 100%;
  align-items: center;
}

.training-serv .step .counter .number {
  font-size: var(--font-m);
}

.how-works .counter .title {
  font-weight: bold;
  margin-top: 0.5rem;
  font-size: var(--font-ss);
}

.how-works .info {
  width: 100%;
}

.consulting-section .step .info {
  display: flex;
  flex-direction: column;
}

.consulting-section .step .info h2 {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 550px) {
  .how-works .step {
    flex-direction: column;
    align-items: start;
  }

  .how-works .counter .title {
    margin-top: 0rem;
    margin-left: 1rem;
    font-size: var(--font-s);
  }

  .how-works .counter {
    margin-right: 0rem;
    margin-bottom: 1rem;
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
}

.about-content {
  display: flex;
  padding: 2rem;
  width: 100%;
  justify-content: center;
}

.about-content img {
  height: 18rem;
}

.about-content .info {
  width: 40%;
  padding: var(--padding);
  border-radius: var(--radius);
  background-color: var(--grey);
  margin-left: 2rem;
}

@media screen and (max-width: 820px) {
  .about-content .info {
    width: 60%;
  }
}

@media screen and (max-width: 640px) {
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-content img {
    height: initial;
    width: 30%;
  }
  .about-content .info {
    width: 100%;
    margin: 0;
    margin-top: 2rem;
  }
}

.dg-content {
  display: flex;
  flex-direction: column;
  width: 55%;
  align-self: center;
  padding: 2rem;
  margin-bottom: 2rem;
  padding-top: 0;
}

.dg-content h2 {
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

@media screen and (max-width: 820px) {
  .dg-content {
    width: 65%;
  }
}

@media screen and (max-width: 720px) {
  .dg-content {
    width: 75%;
  }
}

@media screen and (max-width: 640px) {
  .dg-content {
    width: 100%;
  }
}

.fence-content {
  width: 75%;
  align-self: center;
  margin-bottom: 3rem;
}

@media screen and (max-width: 780px) {
  .fence-content {
    width: 85%;
    align-self: center;
  }
}
@media screen and (max-width: 640px) {
  .fence-content {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    align-self: center;
  }
}

.fence .type {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
}

.fence .type .number {
  font-size: var(--font-l);
  font-weight: bold;
  color: var(--red);
  height: 3rem;
  width: 3rem;
  background-color: var(--red-2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fence .type .left {
  width: 8rem;
  margin-right: auto;
}
.fence .type img {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
  margin-bottom: 2rem;
  border-radius: var(--radius);
}

@media screen and (max-width: 930px) {
  .fence .type img {
    width: 35rem;
    height: 35rem;
  }
}

@media screen and (max-width: 830px) {
  .fence .type img {
    width: 30rem;
    height: 30rem;
  }
}

@media screen and (max-width: 650px) {
  .fence .type {
    flex-direction: column;
  }

  .fence .type .left {
    display: flex;
    align-items: center;
    width: initial;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  .fence .type .number {
    margin-right: 1rem;
  }

  .fence .type img {
    width: 100%;
    height: initial;
    margin: 0;
  }
}
